[2017-05-23 17:48] RiverbayChris commented on #192
I was under the assumption that this new property was for the realm’s config, but I’m referring to the step before opening the realm file (the call to SyncUser.login).  There is no property that I see that would control SSL at that step.  I want to refer to the server with https:// for the authentication, but I want to use self-signed certs when testing locally on my laptop.  This is mostly due to

[2017-05-23 17:51] IsaiahJTurner opened #195 "How do I test custom providers?"
There seems to be no way to test it without building a full client. On top of that, how do I write log messages (either to the web UI log or elsewhere on the server)? I built a provider but get no output from it. The iOS app only says "Your request parameters did not validate."

[2017-05-23 19:15] morten-krogh commented on #193
Thank you to both of you. The problem must have to do with the ROS proxy or the HTTP request in some way.

I will try connecting through Nginx and hopefully understand the issue.

[2017-05-23 20:09] austinzheng commented on #192
We don't have an option to bypass certificate validation at the HTTP level (e.g. when connecting to the authentication server), but will consider adding it to our feature backlog.

[2017-05-23 20:09] #192 closed

[2017-05-23 20:37] morten-krogh commented on #193
Hi

Can I ask you to try to change this line

proxy_set_header Connection "upgrade";

to

proxy_set_header Connection "Upgrade";

In other words, a capital "U" in "Upgrade".

Let us see if that changes anything.

[2017-05-23 22:06] jeffreybergier commented on #193
@morten-krogh like magic 🎩. That did it for me. Crossing my fingers for @avitus

Thanks so much!

[2017-05-23 22:08] IsaiahJTurner commented on #195
Oh I see didn't realize I need to add "custom/" to the Provider in the iOS app. This leaves only one more question - are ids from `verifyIdentifier` unique to the provider or to the realm-object-server? Should I prefix them with the provider name if their could be collisions (same id + different provider = different people)?

[2017-05-24 00:46] avitus commented on #193
Yes! That fixed it for me too. Thanks so much for the help.

[2017-05-24 02:19] tompee26 commented on #189
I am quite interested in this as well. Hope somebody can help with this.

[2017-05-24 04:59] saturngod opened #196 "After update , cannot run server"
After doing ,

    apt-get upgrade

I cannot open the realm object server. So, I did

    apt-get remove realm-object-server

and install again.

After installing, I enable the server and I got following error.

[code]

[2017-05-24 08:22] Jonsapps commented on #190
I have updated to version 1.7.2 and the same issue exists. Although I have found that if I add an entry into the permission model in the _admin realm with a nil user pointing to the realm I want to give default read/write permissions to, the realm dashboard now shows read/write access as the default for my shared realm

[2017-05-24 15:35] molind opened #197 "'realm::_impl::TransactLogParser::BadTransactLog' during startup"
## Goals

Start realm object server

## Expected Results

Object server started

## Actual Results

Crash during start.

## Steps to Reproduce

It's crashed all the time now, since update to
Get:2 https://packagecloud.io/realm/realm/ubuntu xenial/main amd64 realm-object-server-developer amd64 1.7.2-43 [51.0 MB]

## Code Sample

None.

## Version of Realm and Tooling

- Realm Object Server Version:

[2017-05-24 15:50] mrackwitz commented on #195
That's unfortunately true so far. We're working on some refactorings to the built-in providers and might have something in the process of that which gives 3rd-party developers a better experience to test their own implementations.

The custom provider API doesn't expose yet access to the central log which is also displayed in the web UI. For now you could use `console.log` and directly write to `s

[2017-05-24 15:57] morten-krogh commented on #193
Thanks to both of you and sorry for the inconvenience.

The lessons for us are:

We should document how to set up a proxy.

We might also be more accepting of the syntax of incoming HTTP requests.

We should make the log messages more informative. It would have
been simpler if the log file had described the problem.

[2017-05-24 16:47] jeffreybergier commented on #193
hi @morten-krogh documentation on how to set up a proxy would be fantastic. Particularly, documenting how the proxy can be configure to use a custom directory. I wasn't able to make it work if I used anything other '/'. But it would be really nice to configure a proxy for /ros and then in client apps use realms://myserver.com/ros/~/MyApp as the URL for the Realm Object Server.

Thanks again for yo

[2017-05-24 19:37] IsaiahJTurner commented on #195
@mrackwitz

When you say they are unique to a namespace what do you mean by that?

For example, I have one provider JavaScript file and, copying from the docs, it returns name like this:
[code]
But I use that provider twice in my `configuration.yml` such that:
[code]
And the IDs from `custom/jwt` and `custom/jwt_development` could overlap. Would this setup be properly namespaced?

[2017-05-24 21:27] IsaiahJTurner commented on #90
This is still an issue.

[2017-05-24 21:31] IsaiahJTurner commented on #90
Also, if anyone else experiences this: I had some luck flushing DNS and deleting the Realm Browser application container `/Users/IsaiahJTurner/Library/Containers/io.realm.realmbrowser` that didn't fix the issue directly but I found that once it started breaking it would get stuck broken until deleting that so in between trying various things I delete that folder.

[2017-05-25 07:09] ianbradbury-bizzibody opened #198 "Unable to VIEW dashboard output"
Ubuntu 16.04
ROS v1.7.1 / Developer

Viewing the Dashboard results in a blank screen.  The Dashboard displays the text "Loading" for approximately 2 seconds.  Then central area, where I would expect to see the dashboard, is blank.

I can view the list of Realms, Users, Functions, Log.  But not the Dashboard.

I notice that the following entries are logged.  (However these are logged for pretty muc

[2017-05-25 14:20] ojarabo opened #199 "Unable to change permissions"
Hi there,
I am trying to change permissions for all users to have access to a specific realm file owned by another user.

However, every time I am trying to change the permissions, it doesn't work, and in the Realm Object Observer, you can see the following message in the log tab:

Any idea of what is going on?

Some code to replicate it
[code]

[2017-05-25 15:33] mrackwitz commented on #195
Yes, this would be properly namespaced. This also means that you aren't able to interchange authorization acquired via one provider for the other provider.

[2017-05-26 04:44] anujjpandey11 opened #200 "Cross platform syncing issue "Bad changeset received: Assertion failed: left().nullable == right().nullable""
While trying to sync data between cross platform android - iOS or android - iOS I'm getting the same issue again and again which is mentioned below.
If android device initiated a path to sync the another user will not able to sync the same path with same user credential and same vise versa.

The message I got on the console is here:

//Android to Javascript

//Android to iOS

We tried even with a

[2017-05-26 06:36] aalfath opened #201 "Dashboard shows "Request Timeout" upon opening a realm file."
I have a really strange issue with some users where the app would crash right after they register for an account.

The realm file got created, along with the user, but somehow those newly-created realm files can't even be opened on the Dashboard...

The strange thing is: some realm files can be opened just fine. This problem only occurs for some files.

UPDATE: I also have tried to open the realm

[2017-05-26 07:23] anujjpandey11 commented on #200
Closing issue the answer after lots of search that java String are nullable by default and swift are not so the thins is that each time you'll use an string in swift make it nullable using '?' it will make it optional

[2017-05-26 07:23] #200 closed

[2017-05-26 12:52] Redth commented on #197
Was seeing this too.  I updated from 1.3.0 to 1.7.2 and after that update this happened.  I do have a copy of the data dir that I made before restoring from a backup, but I'd love to be able to possibly recover some of the realms that were lost during this process.  At this point when I made a backup, a number of realms could not be backed up, so they are currently lost.

[2017-05-26 16:25] exception commented on #177
I've just tried to d the same on a google cloud instance and it failed to locate the package.

[2017-05-26 21:32] apexJCL opened #202 "Error Status 400"
[See StackOverflow's question](https://stackoverflow.com/questions/44170810/realm-response-status-400)

I'm trying to share a realm between users for a proof-of-concept messaging app on Android.

I have a realm with access url: `realm://192.168.1.90:9080/lynxenger/contacts`, the realm exists and has one register, but when I try to change it's permissions using an admin user that created the realm,

[2017-05-27 18:00] mokkun commented on #202
I'm having a similar issue (different steps, same outcome). Whenever I try to create the realm using an admin user, I get the mentioned internal error. Using a normal user works just fine.
[code]

[2017-05-29 03:15] netspencer commented on #190
yeah. not working for me either :(

[2017-05-29 03:17] netspencer commented on #190
i think the issue is with using * as the userId.

`      managementRealm.write(() => {
        managementRealm.create('PermissionChange', {
          id: uuid(),
          createdAt: new Date(),
          updatedAt: new Date(),
          userId: '*',
          realmUrl: realmUrl,
          mayRead: true,
          mayWrite: true
        })
      })
`

[2017-05-29 06:16] sohels commented on #184
Hi, just wondering if there's any ETA / workarounds on this?

[2017-05-29 10:06] molind commented on #197
Using strace I found guilty file. realm-object-server crashed during migration of this file:

[488cfbc9fa897b2609203effa07e27d9.zip](https://github.com/realm/realm-mobile-platform/files/1035485/488cfbc9fa897b2609203effa07e27d9.zip)

[2017-05-29 12:44] #193 closed

[2017-05-29 13:07] molind opened #203 "Log is full of error messages. Proxy module issue?"
## Goals

Make sure that everything is OK.

## Expected Results

Log contains minimum of errors and it's clean what's happened and how to fix it.

## Actual Results

Log is full of errors (see below). Seems proxy is overloaded. Or realm server itself is overloaded and it won't accept connection or failed to deliver results.

## Steps to Reproduce

We have 50Gb of user_data by now. And around 500 u

[2017-05-29 13:10] molind commented on #203
Full log attached. Somewhere in the middle of log I changed listen addresses from `::` to `0.0.0.0`

[realm-object-server.log.zip](https://github.com/realm/realm-mobile-platform/files/1035855/realm-object-server.log.zip)

[2017-05-29 14:18] Redth commented on #197
@molind can you explain how you found the offending file in a bit more detail? Thanks!

[2017-05-29 14:26] Redth opened #204 "HTTP: Failed to switch protocols (response status 400)"
## Goals

Xamarin.iOS client should connect (it used to, and in some cases for some accounts still does).

## Expected Results

Normal connection and sync to the ROS

## Actual Results

[code]

## Steps to Reproduce

Not sure why it's happening to only some users at this point.

## Version of Realm and Tooling

- Realm Object Server Version: 1.7.2
- Flavor:
  - [X] Developer
  - [ ] Professional

[2017-05-29 14:29] kvap commented on #196
@saturngod can you tell us the name and version of the server OS that you use here? And also the  version of `realm-object-server` package before and after the upgrade.

[2017-05-29 15:02] molind commented on #197
@Redth I started realm-object-server, then checked all files it opened during migration by running `strace -e open -p <realm pid>`. And broken file is the one you see last before realm is crashed. You need to move all files of that realm out of the user_data folder.

[2017-05-29 16:56] ojarabo opened #205 "Bug: Admin User unable to create any realm file"
Bugs:
I was trying to accomplish what is described [here](https://github.com/realm/realm-mobile-platform/issues/189),  and I have found that the problem is not that the admin user is no able to create a global Realm file, the admin is not even able to create any realm file of any kind.

## Goals
1)Create a Global realm file (/default) logged with the admin user to later give write/read permissions

[2017-05-29 20:24] agersoncgps opened #206 "Realm Browser: Auth works with u/p but not admin token"
With Realm Browser 2.1.8 / Object Server 1.7.2 I am able to log into my server with the admin username / password. However, when I try to use the admin token I get:

![screenshot 2017-05-29 16 22 34](https://cloud.githubusercontent.com/assets/336441/26561317/520a86a0-448b-11e7-8d3b-f0693c5b945f.png)

[2017-05-29 21:05] mhergon commented on #40
Another use case:

My app will be a news service where users read their own news. Every user send a news and all the other users read/comment about this. At the beginning, database size will be under control, but after a few years the size can be considerable.

How the syncing is performed if the whole database size is 5Gb? Is there any way to sync only the 500 latest news? Or download specific ne

[2017-05-29 21:25] agersoncgps opened #207 "Realm data doesnt match between Object Server web gui and Mac Realm Browser"
With Realm Browser 2.1.8 / Object Server 1.7.2

Realm browser shows, correctly, that all four of my tables are populated. The web gui does not show the same data. (Yes, I refreshed.)

![screenshot 2017-05-29 17 21 49](https://cloud.githubusercontent.com/assets/336441/26562370/c6dae8fa-4493-11e7-8750-9756c1801e34.png)

[2017-05-30 00:34] agersoncgps commented on #189
Is there any example code for how to change the permissions on a global realm?

[2017-05-30 00:52] agersoncgps commented on #207
I also noticed that my admin user's isAdmin value is false:
![screenshot 2017-05-29 20 51 04](https://cloud.githubusercontent.com/assets/336441/26564577/ab7cfd38-44b0-11e7-8f4e-f8a30bfc5b3f.png)

[2017-05-30 01:33] aalfath commented on #201
I'm closing this ticket because the issue doesn't happen anymore after I updated the RealmSwift version to the newest version (v2.7.0)

[2017-05-30 01:33] #201 closed

[2017-05-30 10:11] neokree commented on #40
After looking for some NoSQL databases, I would suggest (instead of having a selective sync, which can be very hard to build and mantain), to be able to create some type of "Views".
A view should be essentially a replication of a specific query, separate from the entire "global" realm but connected to it. Any created/updated/deleted object from the "global" realm will affect the views rows and may

[2017-05-30 10:21] samskiter commented on #40
@neokree Views is a great way to put it! (and I think is what I was getting at too)

So I guess I was also talking about 'subviews'. I.e from a given view, there are a set of queries, or subviews, I can get from it. Making that deterministic would seem key to partial sync, so that Realm can tell you whether the view you are seeing is incomplete (or perhaps 'not available').

[2017-05-30 10:35] mhergon commented on #40
@neokree @samskiter maybe selective sync can be used as initial query to first download of the DB.
In my use case, I need fast starting after many years of database growing, and the ability to download "old" data if the user searchs old news.

[2017-05-30 10:38] samskiter commented on #40
@mhergon Sorry, yes that's what I mean. Although I wouldn't limit it to just 1 query.

[2017-05-30 15:29] mokkun commented on #205
This is related to https://github.com/realm/realm-mobile-platform/issues/202

[2017-05-30 15:45] bigfish24 commented on #205
Sorry about this. Can you please post the code that is creating/opening the Realm files (both the global and the `/~/userSpecfic`) and then the permission changing code as well? Thanks!

[2017-05-30 15:49] bigfish24 commented on #202
Thanks for filling this, we have an engineer focusing on figuring this out.

[2017-05-30 15:55] bigfish24 commented on #207
Sorry about this, does the web browser show any data for any Realm?

[2017-05-30 15:56] bigfish24 commented on #206
Sorry about this! Are you using the `Connect to Object Server` command or directly opening a sync URL?

[2017-05-30 15:57] agersoncgps commented on #207
Yes, it shows data for the permissions realms and in my screenshot you can see that some of the tables in my realm show data in the web display and some do not. While all tables in the app show data.

[2017-05-30 15:58] bigfish24 commented on #204
Can you describe your server setup? Are you using a proxy in front like NGINX?

[2017-05-30 15:58] agersoncgps commented on #206
I am choosing " Connect to Object Server"

[2017-05-30 16:00] bigfish24 commented on #203
Sorry about this. I think this is related to a known issue of which we have an upcoming release that should address it. However, will assign to another engineer to verify.

[2017-05-30 16:02] bigfish24 commented on #199
Sorry about this, we are looking into this issue and hopefully will have some info soon.

[2017-05-30 16:07] Redth commented on #204
Just the http proxy that ros sets up by default.

[2017-05-30 16:09] Redth commented on #204
It seems like switching my config to use https on the client avoids the issue. I do have appropriate exceptions in my info.plist file specified but I wonder if somehow the TLS requirements in iOS are still interfering. It's just very odd that it only seems to happen in some cases.

[2017-05-30 17:01] bigfish24 commented on #189
Thanks for filing this. First, we definitely want to make this easier, by adding the ability to create Realms manually via the Realm browser. Part of the effort to include the browser in the server dashboard is to rewrite the Mac version in JS and add new functionality, so this is an ongoing process.

To manually create a global Realm, I would recommend just doing this in Javascript during develop

[2017-05-30 17:03] netspencer commented on #189
This is very very helpful. Thank you, Adam!

Spencer Schoeben

On Tue, May 30, 2017 at 10:01 AM Adam Fish

<
mailto:Adam Fish <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

Thanks for filing this. First, we definitely want to make this easier, by adding the ability to create Realms manually via the Realm browser. Part of the effort to include the brow

[2017-05-30 17:24] RiverbayChris commented on #195
It would be nice if there was a "Provider" column or property for each user in the Users section on the Dashboard, so we know where they come from.

[2017-05-30 17:35] bigfish24 commented on #195
@RiverbayChris this is awesome feedback, thanks!

[2017-05-30 17:56] bigfish24 commented on #204
@Redth "switching my config to use https" doesn't make sense to me. What exactly did you do? Did you setup ROS to use TLS?

[2017-05-30 18:09] Redth commented on #204
Yes I've since enabled the https proxy (after creating a cert/private key) and now am connecting to 9443 instead of 9080 as previously.

[2017-05-30 18:47] netspencer commented on #189
It still doesn't seem to be working, unfortunately. Permission changes aren't taking effect. I get back a blank string.

[code]

[2017-05-30 23:16] jpsim commented on #187
Yes, I replied to your email.

[2017-05-31 01:33] agersoncgps commented on #189
@bigfish24 Thanks for posting this example. Its very helpful. The realm is getting created, as is the row in the PermissionChange table in the management realm. However, the callback listener never fires / doesnt print console.log("Permission Status: " + permObj.statusMessage) and it does not appear the realm gets set to mayRead as I want.

[2017-05-31 07:00] morten-krogh commented on #203
@molind

There are two issues here.

One issue is that the system is overloaded or fails for some reasons.
The other issue is that our logging is bad at pinpointing the problems.

Regarding the failures themselves, I can study your logs to figure out what is happening.

Regarding the logging, we will very soon rethink and redo our system. We will make the
log output much more readable and informat

[2017-05-31 07:32] anujjpandey11 opened #208 "Is there any way to achieve time bound syncing"
##  Time Bound Syncing

I'm looking to build a one to many solution where one device will continuously push data to ROS, and other devices will sync it in time bound which will be between two dates or only last 30 days

.

##Is there any way we can build such system in which the device will sync only 30 days data without any manipulation in global data at ROS?
Something like below i can set which

[2017-05-31 07:36] anujjpandey11 opened #209 "What is the standard latency per bite in realm object server?"
Please update an standard latency chart of realm object server syncing on different network connection.

[2017-05-31 09:37] stel commented on #198
Thanks for reporting this @ianbradbury-bizzibody! Please try to update ROS to 1.7.2, we've fixed some related issues there.

Do you use SSL? Please try to disable it and/or make sure that you have valid certificates on your server.

[2017-05-31 09:41] stel commented on #206
@agersoncgps could you attach the server logs as well? Thanks!

[2017-05-31 09:45] stel commented on #207
We had an issue displaying `null` values that has already been fixed. It will be release in next version.

@agersoncgps could you share some logs from browser's console output?

[2017-05-31 09:58] ojarabo commented on #205
Hi @bigfish24,
Thanks for you answer.
These are the following URLs for creating both realm files:
[code]

This is the function that is responsible for creating the file:
[code]

[2017-05-31 10:22] ojarabo commented on #189
Thanks for the info @bigfish24,
I appreciate that you create some examples in JavaScript, and even though my first post was in Java, you posted a very comprehensive description of the case, and I understand JavaScript. So, it is enough for me. I will wait you for solving the other problems related to the creation of Realm files by the admin to try if the permissionChanges take effect.

Thanks agai

[2017-05-31 11:18] stel commented on #169
I believe this issue has been fixed in https://github.com/realm/realm-browser-osx/pull/317.

[2017-05-31 11:18] #169 closed

[2017-05-31 12:19] morten-krogh commented on #204
@Redth
Do you think that the iOS TLS requirements explain what you see, or is there another issue?
I can look into your log files if you are interested.

[2017-05-31 13:30] kvap commented on #208
@anujjpandey11 Do you want to pull from ROS only the data which were modified after some point in time? Is that for reducing the network load or something else?

[2017-05-31 13:58] anujjpandey11 commented on #208
Yes I want to pull from ROS only the data which were modified/added after a point of time,yes it is for reducing the network call and I don't need data before that point but I want it on ROS.

[2017-05-31 13:59] kvap commented on #209
@anujjpandey11 can you provide more details on that kind of charts or link to some examples?

[2017-05-31 14:24] agersoncgps commented on #207
Of course. Is there any particular actions you want me to perform when capturing the logs?

Should I open another issue about the isAdmin value?

[2017-05-31 16:57] mrackwitz commented on #190
I could locate this as a regression within the permission management system when using admin users to operate with unowned Realm files (in the global scope, e.g. `/global`). We've a fix and bumped up test coverage around this case. We are working on getting a bug fix release out.

[2017-05-31 18:04] mrackwitz commented on #185
Can you confirm via the dashboard that the `PermissionChange` actually takes place? This could be very likely also affected by a bug we just discovered and solved where admin users can't apply permission changes to unowned Realm files as e.g. in the global scope. A bug fix release will be on the way soon.

[2017-05-31 18:06] anujjpandey11 commented on #209
@kvap & @simonask
I need an overview of average latency of sync:
Just assume that I commited an object with byte array and total data size is 10Kb then how long(average time) it will take to reach on ROS and how long to sync on other sync user.

what will be the average latency of 1Kb data sync. on wifi or on 3G/4G connection.

I need to do continuous syncing and I need to put sync interval greate

[2017-05-31 22:21] nirinchev commented on #209
Realm uses sockets to communicate with the server, so the latency depends entirely on the network conditions and proximity of the client to the server. There's nothing particular about Realm that would reduce or increase the latency. While Realm does add some information (and thus overhead) to the message, it is unlikely to noticeably affect the time it takes the information to reach the server.

[2017-05-31 23:15] bigfish24 commented on #204
This does sound like it is related to [App Transport Security](https://developer.apple.com/library/content/documentation/General/Reference/InfoPlistKeyReference/Articles/CocoaKeys.html#//apple_ref/doc/uid/TP40009251-SW33).

[2017-05-31 23:20] bigfish24 commented on #208
To do this would require the professional edition so you can use the Node SDK to open a synced Realm. You could have a single Realm being written to by the client that pushes data to ROS. Then you could setup a chron script to query this Realm at continual intervals and then copy data from that Realm into other Realms synced to the other clients.

I will note this use-case though because it would

[2017-05-31 23:24] avitus commented on #187
I am also seeing this (potentially related) error fairly frequently.

[code]

I have about 40K objects in my Realm. I also seem to stop getting notifications on changes to the collection but I'm still investigating that.

[2017-05-31 23:26] bigfish24 commented on #189
Glad this helped and we should have a fix for the permission bug in the next day or two. Sorry about that!

[2017-06-01 00:09] agersoncgps commented on #206
[Terminal Saved Output.txt](https://github.com/realm/realm-mobile-platform/files/1043237/Terminal.Saved.Output.txt)

[2017-06-01 00:17] agersoncgps commented on #207
It did not output much.

![screenshot 2017-05-31 20 15 40](https://cloud.githubusercontent.com/assets/336441/26659337/f82b51d2-463d-11e7-83ca-b9ffe0b394bc.png)

[2017-06-01 02:36] agersoncgps opened #210 "Offline Access using Sync from JS SDK"
This code is working to push and pull data from my realm. However, I want to test how it will behave in an offline sitaution so I turned off my Realm Server and get "TypeError: Network request failed" which I understand and "undefined" for this.realm. I would have expected this.realm to gracefully fail to the local copy. Why does it return undefined?

[code]

[2017-06-01 04:01] jpsim commented on #184
The fixes are going through our review process. Stay tuned.

[2017-06-01 04:45] anujjpandey11 commented on #209
Thanks @nirinchev

[2017-06-01 04:45] anujjpandey11 commented on #208
Thanks guys

[2017-06-01 07:18] #208 closed

[2017-06-01 08:27] mrackwitz commented on #210
You have run across something that we are still working on. Once you have a Realm and an established connection, going offline works just fine. But initially, you do need the network. Obviously this is something that we are fixing, stay tuned. This is something that interferes quite significantly with the whole sign-in/sign-up process, so it needs to be thought out.

This was also already brought

[2017-06-01 08:27] #210 closed

[2017-06-01 09:11] stel commented on #207
Hm, interesting, there are no any errors in the browser. Could you also check server's logs?

[2017-06-01 09:15] stel commented on #206
According to the server logs a token you've provided is incorrect:
[code]

Please make sure you entered the token correctly and without leading/trailing spaces.

[2017-06-01 09:25] simonask commented on #209
@anujjpandey11 As @nirinchev said, the observed latency will most probably be dominated by network latency. The only "added" latency by Realm Mobile Platform is the time required to resolve data conflicts, so in special situations you can see a higher latency if two clients are writing to the same Realms simultaneously. What this higher latency is depends entirely on the usage pattern. We encourag

[2017-06-01 12:21] RiverbayChris opened #211 "Feature Request: Realm Function Hook for Login/Logout"
## Goals

Fire a Realm Function based on user successfully logging in or out, server-side.

## Expected Results

Fire a function based on user successfully logging in or out, server-side.  Additionally, it would be cool if you could "filter" the trigger based on auth Provider type, so that certain functions can run when different custom/providers are used (kind of like the current regEx for Realm

[2017-06-01 12:30] RiverbayChris opened #212 "Feature Request: Trigger Function Execution From Client"
## Goals

Fire a Realm Function based by calling it directly from the Realm client.  Node.js can obviously do this, so it would require opening it up and some modification to the client libraries to enable such a call.  This is useful for doing various non-Realm things, like going and getting data from some API (weather, financial, heath, etc...).  I realize you can do this by using some intermedi

[2017-06-01 13:14] dina304 opened #213 "ROS 1.7.4 dashbord error"
## Goals

we are trying to use dashbord-> realms
see what inside the DB

## Expected Results

when click on the database link

## Actual Results

nothing happens
- if its my custom DB - it show empty screen
- if its some realM DB like permissions - it show : loading screen

## Version of Realm and Tooling

- Realm Object Server Version: 1.7.4-5
- Flavor:
  - [ ] Developer
  - [X] Professional
  -

[2017-06-01 21:35] agersoncgps commented on #210
@mrackwitz Could you just clarify something in your statement: "Once you have a Realm and an established connection, going offline works just fine. But initially, you do need the network." Do you mean:

1. The very first time the user launches the app a network connection is required, but after that it creates a local copy and if they launch it a week later with no network it will use its local co

[2017-06-01 21:52] agersoncgps commented on #14
@jpsim, when you say "The only time network connectivity is required is on very first user authentication. A logged in user is persisted across app sessions" So if they close the app out of memory, restart the phone, or reload I in the simulator during development would you expect it to loose its local cache and need to re-conect to network?

[2017-06-01 22:09] nirinchev commented on #14
No, that cache is persisted across app restarts.

[2017-06-01 22:14] agersoncgps commented on #206
At the risk of opening up the security of my localhost test sever I lay my security bare here for all to see ;-)

![screenshot 2017-06-01 18 13 37](https://cloud.githubusercontent.com/assets/336441/26703137/2c7e354a-46f6-11e7-8367-035970ec53ef.png)

[2017-06-01 23:18] mrackwitz commented on #210
I mean 1. Once the user is signed up, the authentication info will be automatically stored locally in a metadata realm, so that it will be available on subsequent app launches.

[2017-06-02 04:07] ianbradbury-bizzibody commented on #198
I have upgraded the ROS server - it now shows 1.7.5.

Unfortunately there is no real change.  When I select the Dashboard tab the screen displays `Loading...` for a second or two then nothing.  The same is true when I select/click on a Realm file in the Realms tab.

I notice that now I'm seeing the following errors over and over in the Log tab.

[code]

[2017-06-02 04:25] anujjpandey11 commented on #209
Thanks guys...

[2017-06-02 04:26] #209 closed

[2017-06-02 04:35] ianbradbury-bizzibody commented on #198
Update : Figured out the log messages.  They're being created by the DataDog agent.  So I've removed DataDog from the server to double check this was not impacting ROS.

Guess what.  Now that I've removed the DataDog..... I can see the dashboard charts!

The issue attempting to "view" the contents of a Realm in the Dashboard - "Loading..." followed by "Request Timed Out".

[2017-06-02 09:20] dalinaum commented on #185
Can you share your project or make a small project to reproduce your problem?  If you can share a project to help@realm.io, it will really helpful to us. Of course, I will make a small project to test this problem.

[2017-06-02 09:56] mrackwitz commented on #190
We shipped the bug fix with version 1.7.5. Please update to the latest version and let us know whether this resolves the issue.

[2017-06-02 09:56] #190 closed

[2017-06-02 10:06] mrackwitz commented on #199
We found a bug when changing permissions from admin users and just shipped a release with a fix for that. (See #190) Please upgrade to version 1.7.5 if that could affect you here as well.

But the problem you're seeing appears to be unrelated from permission changes. We're still investigating what could cause the syntax error. We've seen a few more reports like this with clients connecting from An

[2017-06-02 11:16] mrackwitz commented on #205
Further investigations confirm that this is a bug in the Java client SDK. We're working on it. Please refer to https://github.com/realm/realm-java/issues/4750 for more info.

[2017-06-02 11:17] mrackwitz commented on #202
Further investigations confirm that this is a bug in the Java client SDK. We're working on it. Please refer to https://github.com/realm/realm-java/issues/4750 for more info.

[2017-06-02 11:18] mrackwitz commented on #199
Further investigations confirm that there is a bug in the Java client SDK. We're working on it. Please refer to https://github.com/realm/realm-java/issues/4750 for more info.

[2017-06-02 11:24] mrackwitz commented on #189
There was a regression within the permission management system when using admin users to operate with unowned Realm files (in the global scope, e.g. `/global`). We've a fix and bumped up test coverage around this case. This was shipped with version 1.7.5.

Further investigations have also shown that there is currently a bug in the Java client SDK which could be reproduced by a few users in related

[2017-06-02 11:34] ojarabo commented on #199
@mrackwitz I have just seen that you already got the info in the issue you are referring in your comment, but if you still need more info, let me know.

[2017-06-02 14:54] cmelchior commented on #205
Hi @ojarabo
Can you clarify how you are logging in the admin user? The code you posted seem to just login a normal user?

[2017-06-02 15:20] bmunkholm commented on #187
@avitus Could you please post that as a separate issue? Preferably with some indications as to how to reproduce it. Thanks!

[2017-06-02 16:36] dhmspector opened #214 "AsynOpen() fails on next login after logout"
## Goals

Log back in after user logout while using AsyncOpen()
## Expected Results

should have been able to log in/out without issue
## Actual Results
RealmSwift reports the following error:

See error above

## Steps to Reproduce
1. Log in to a synced realm using AsyncOpen to ensure the realm is full downloaded
2. log out
3. try to log back in as _another user_
4. error will occur as part of re

[2017-06-02 18:06] morten-krogh commented on #187
@avitus
If you turn on debug logging and send the log files, I would be happy to look at it.

[2017-06-02 19:17] jpsim commented on #184
Fixed in https://github.com/realm/realm-cocoa/pull/4957, releasing soon.

[2017-06-03 01:38] bigfish24 commented on #212
@RiverbayChris thanks for filing this. We have explored formalizing an RPC pattern and will take this feedback as a reason to continue. Don't have anything to share just yet, since you obviously realize that you can set this up already via objects.

Such as creating a class just for communicating: `RequestObject` that might have a `payload` String property. Your Realm Function could listen to all

[2017-06-03 03:11] agersoncgps commented on #207
I dont see any generated by my clicking on the different tables in the web. I do see a lot of entries for this:

[code]

[2017-06-03 03:12] agersoncgps commented on #189
Is 1.7.5. out yet? I dont see it on the releases page.

[2017-06-03 03:44] agersoncgps opened #215 "Unknown provider returned from registerWithProvider"
I am trying to create a custom auth provider called "cgpsauth" and I am getting "Unknown provider" when I call:
[code]

Here is my provider which I know is being loaded because if I make a syntax error in this file I get an error when I launch the ROS:

[code]

configuration.yml

[code]

[2017-06-03 17:01] stel commented on #207
@agersoncgps we've released an updated version recently, could you please update ROS and let us know if that issue is fixed? Thanks

[2017-06-03 18:36] agersoncgps commented on #207
Updating to version 1.7.4 appears to have fixed the issue. Thanks.

[2017-06-04 11:07] bmunkholm commented on #184
Released in version 2.8.0 @zach-snell. Let us know if this doesn't fix the issue for you.

[2017-06-04 11:07] #184 closed

[2017-06-04 21:23] molind commented on #203
@morten-krogh yes, please. There is my debug-level log file after realm startup.

https://www.dropbox.com/s/t3a0axow0l5uapz/realm-object-server%202.log.zip?dl=0

[2017-06-05 13:51] Redth commented on #204
I can't seem to repro it after enabling TLS on the server, so I guess it's related to that.  It might make sense for the client to throw a better error in this case though.

[2017-06-05 13:51] #204 closed

[2017-06-05 18:40] morten-krogh commented on #203
@molind Thanks, I will look at it.

[2017-06-05 22:02] #207 closed

[2017-06-05 22:28] bigfish24 commented on #189
The Github releases page was not updated, but 1.7.5 has been released. You should be able to just upgrade: https://realm.io/docs/realm-object-server/#upgrading. We will fix the Github releases page tomorrow.

[2017-06-06 09:21] gritzko commented on #13
The next release of ROS has trashcan buttons.

[2017-06-06 09:21] #13 closed

[2017-06-06 11:06] RiverbayChris commented on #189
The macOS bundle available on realm.io is still 1.7.4.

[2017-06-06 13:17] gritzko commented on #116
@nirinchev @austinzheng @cmelchior Guys, how is the progress? Did it propagate to the bindings? Time to close this issue?

[2017-06-06 13:19] gritzko commented on #112
I believe this is fixed in the upcoming release.

[2017-06-06 13:20] Redth commented on #116
This seems to work for me now

[2017-06-06 13:31] gritzko commented on #135
@Montrazul did that work for you?

[2017-06-06 13:33] gritzko commented on #61
Fixed in newer ROS releases.

[2017-06-06 13:33] #61 closed

[2017-06-06 13:44] #116 closed

[2017-06-06 14:11] gritzko commented on #152
What's the progress on this?

[2017-06-07 07:36] bmunkholm commented on #213
@dina304 Did you perhaps upgrade from an earlier version? Or is this from a fresh install?
Did you try to "refresh" the browser window?
Could you give us instructions as to how this can be reproduced?

[2017-06-07 09:27] gritzko commented on #167
@stel Dmitry, please give more context when summoning core guys.
I understand the stack trace in a way that Realm Browser tries to display a double and the core says the column is not double?

[2017-06-07 09:27] mklb commented on #199
I created an entry in the _admin realm with a nil user pointing to the realm I want to give default read/write permissions to. However the realm dashboard DOES NOT show read/write access as the default.

I just downloaded the "latest" version via the website which is V1.7.4 ?

[2017-06-07 09:32] mklb commented on #141
Sorry for not responding. I just created a shared realm via the Realm Browser as a work around:

I created an entry in the _admin realm with a nil user pointing to the realm I want to give default read/write permissions to with mayRead and mayWrite checked. It worked perfectly but I just updated to the "latest" version of the realm platform 1.7.4 where this does not work anymore. See: https://gith

[2017-06-07 09:36] marcuswu0814 opened #216 "An error occured when try to write to realm object server"
## Goals

I follow the [tutorial](https://realm.io/docs/tutorials/realmtasks/#import-realm-swift-and-create-models) and try to build a todo list app with swift project,

## Expected Results

I think I can see the task on tableView after I added one.

## Actual Results

But I got the error:

[code]

and didn't got correct result and show on screen.

I think is client problem cause this issue, is an

[2017-06-07 09:41] gritzko commented on #214
The error message comes from `Realm/RLMRealm.mm` in the Cocoa binding.
@dhmspector are you sure it should be filed in realm-sync?

[2017-06-07 09:51] gritzko commented on #216
Looks similar to this: https://stackoverflow.com/questions/39676762/error-bsmacherror-port-1607-os-kern-invalid-capability-0x14-unable-to-i

[2017-06-07 09:54] gritzko commented on #216
It looks like a generic iOS 10 issue. Closing.

[2017-06-07 09:54] #216 closed

[2017-06-07 09:55] marcuswu0814 commented on #216
I think this is my break point cause this problem. After I removed it, the error disappear.

But, why I can't insert the data to my realm object server?

[2017-06-07 10:41] marcuswu0814 commented on #216
I think I found the mistake, I didn't have any record in TaskList table.

Result from: https://stackoverflow.com/questions/41846405/trying-to-use-realm-object-server-tutorial

Sorry for making this trouble.

[2017-06-07 10:58] #130 closed

[2017-06-07 11:03] nirinchev commented on #214
Perhaps @austinzheng can shed more light. In any case, posting the relevant code would help us pinpoint the culprit.

[2017-06-07 12:55] RiverbayChris opened #217 "macOS bundle still on 1.7.4"
I've seen numerous references to 1.7.5 available, but the macOS download still points to 1.7.4.  I've tried to change the path, but it seems the zip doesn't exist yet.

[2017-06-07 14:15] stel commented on #167
The only context we have here is a stack trace and assertion message. However I believe the issue is related to https://github.com/realm/realm-browser-osx/issues/297 and has been fixed already. @Jorgiss could you please confirm it with the latest (2.1.8) version of the Browser?

[2017-06-07 14:18] stel commented on #213
Also that would be very helpful if you share log messages from the server and from the web-browser console.

[2017-06-07 14:23] stel commented on #198
@ianbradbury-bizzibody have you tried to disable SSL?

[2017-06-07 14:26] stel commented on #206
@agersoncgps sorry for delay with this but honestly to me it's not clear what's going on there because everything seems fine :) Could you please try to update ROS to the latest version?

[2017-06-07 20:24] Redth commented on #198
Same issue here.  Disabling SSL does seem to work, but that's not a realistic option.

My cert is generated via letsencrypt.

[2017-06-08 09:51] gritzko commented on #9
@alebsack @nnrealm guys, can you please verify the install on vmboxed Ubuntu?

[2017-06-08 11:02] YaTree opened #218 "ROS: Loss of access to a database"
## Goals

Create a database on ROS

## Expected Results

Database was created and we always can access to it

## Actual Results

Database contains 20k objects. And it was created successfully;
Then we was able to access to the database via any client: realm-browser/android-app.
But then we lost access to the database: it does not open from realm-browser.
Then I removed the db (First from web-ui, t

[2017-06-08 11:34] gritzko commented on #218
208 is OK. It says your client replica is a replica of a different realm. Which is exactly the case.

Regarding the original database, maybe you mistyped the password?

[2017-06-08 12:22] YaTree commented on #218
The password is hardcoded in scripts and in realm-browser it saved.
So I not think that problem in the password.

[2017-06-08 13:28] gritzko commented on #218
Did your script get any error?

[2017-06-08 13:59] YaTree commented on #218
No, nothing strage.

[2017-06-08 14:35] bigfish24 commented on #198
Just a small update, we have an internal fix for this waiting for review, so hopefully we can get it out soon. Sorry for the delay!

[2017-06-08 16:25] ianpward commented on #218
@YaTree this is working as expected because the client is ahead of the history of the server so a 208 is served. With the other mobile bindings you can programmatically handle the client reset, like this: https://realm.io/docs/swift/latest/#client-reset

This has not landed in JS yet - to resolve this wipe the realm folder on the client

[2017-06-08 18:34] YaTree commented on #218
Ok. Thx.

[2017-06-08 20:00] Redth opened #219 "Custom Provider error: Missing `Account.provider_id`"
I've created a custom provider and I'm returning a unique user id for the `verifyIdentifier(..)` implementation, but I'm getting this error still when trying to login from the client...

I'm sure it's something simple missing but I'm not seeing anything obvious in the documentation.

[code]

[2017-06-08 23:01] dhmspector commented on #214
Figured it out:

It happens when you _switch users_ after a logout.  For example in teamwork  Ian is logged in, then logs out and then immediately logs back in - no problem.

If we log out and then try to log back on the same device with my account (which of course would sync the same realms... but as ME) I get the error.

[2017-06-08 23:53] dhmspector commented on #214
Here's the test app that will demo the issue:  https://github.com/realm/AsyncOpen-Error-Tester

[2017-06-09 02:47] saturngod commented on #196
I am running on Ubuntu 16.04. Before update, I am not sure about bersion. It may be version 1 or 0.9 beta. Now all the data gone :( . I need to remove and clean all the realm server data to run realm object server. Try to replace old realm file and it's showing time out.

[2017-06-09 06:45] molind commented on #112
Checked it on 1.7.5 and it's still happened.

[2017-06-09 08:53] #218 closed

[2017-06-09 09:20] nnrealm commented on #53
Re: node versions, I'm far from an expert, but there's some issues with one of our dependencies (node-pre-gyp) which causes breakage on Debian-based installs. (Although different to this?)

As far as I could tell, the quickest, if not prettiest, way to get a functional install on an Ubuntu machine is to use Node packages from Nodesource here: https://github.com/nodesource/distributions#deb

I've n

[2017-06-09 09:51] nnrealm commented on #9
I have done this recently in a VM running 16.04.

[2017-06-09 10:09] alebsack commented on #9
@Nonnis-M You can also access the packagecloud page for this repository directly: https://packagecloud.io/realm/realm/install.  From there you can download packages individually.

[2017-06-09 10:22] nnrealm commented on #217
Do you mean the bundle here?

https://realm.io/docs/get-started/installation/mac/

That's 1.7.5 as of today.

[2017-06-09 12:56] einsteinx2 commented on #152
The workaround is not reliable. I've run into a random crash due to a handle apparently being deallocated on another thread. So far still can't ship our Realm support as I've had minimal extra time to dedicate to this problem. A fix in the SDK would be ideal.

[2017-06-09 15:05] Redth commented on #219
@gritzko is there any work around at this point?  ROS 1.7.5

[2017-06-09 15:13] RiverbayChris commented on #217
Yeah it has since been updated.  Thanks!

[2017-06-09 15:13] #217 closed

[2017-06-09 15:53] gritzko commented on #219
I'm not familiar with this code. Let's wait what @mrackwitz says.

[2017-06-09 16:04] kspangsege commented on #197
@molind Can you share the code (classes) that define the schema, that you use with the uploaded file (`galileo.realm`)?

I was able to reproduce the crash that you see.

Prior to 1.7.2, the server only stored the history of changes, not the actual state of the Realm. Now it stores the Realm state too. When you upgrade to 1.7.2 (or later), we reconstruct the state from the history, and that is when

[2017-06-09 16:14] ianpward commented on #219
@Redth can you share your custom auth code?

[2017-06-09 17:08] Redth commented on #219
@ianpward here it is.. url is redacted a bit but otherwise the same.

[code]

[2017-06-09 17:15] ianpward commented on #219
@Redth I think I see your issue you need to wrap this in a promise, see the example AWS Cognito implementation here:
https://gist.github.com/ianpward/5207ee4cb6cd0526d7738fc95255497d

[2017-06-09 17:39] dhmspector commented on #214
@austinzheng New news -- this is a deeper issue that it appears:

Once you log in to an an using AsyncOpen, any subsequent uses of the AsyncOpen call -- to open other Realms for example -- will fail silently.

[2017-06-09 18:38] Redth commented on #219
Ok, I didn't have to do that, but here's the final script which works.  I think the issue was I was expecting result to be a json object, but it was not.

[code]

[2017-06-09 18:38] #219 closed

[2017-06-09 18:38] dhmspector commented on #214
@austinzheng  Another data point - a customer reported to @ianpward  that if you are an _admin_ user AsyncOpen seems to work -- which we can verify from TeamWork - we seem to be able to open multiple Realms with AsyncOpen from TeamWork admin-user  accounts.

[2017-06-09 18:51] austinzheng commented on #214
Can you give me access to the demo app repo please? Also, are you opening global Realms, or Realms with `~`s in them? I believe that the intended behavior is that global Realms cannot be created by non-admin users using `asyncOpen()` if they don't already exist, or opened by non-admin users if they do.

[2017-06-09 18:55] dhmspector commented on #214
https://github.com/realm/AsyncOpen-Error-Tester

 this will show the re-open, logout then from another user problem... I haven't yet (since we just figured out the other failure mode this morning) written code to show what happened if you log in and then try to use AsyncOpen from non-admin users. In teamwork's case the other Realms are already in existence, and there RW permission is set so the no

[2017-06-09 18:56] mrackwitz commented on #215
You have to prefix the provider name when authenticating from the client SDK with `custom/`.

[2017-06-09 18:58] austinzheng commented on #214
Hmm...I still get a 404 when I click on the link.

[2017-06-09 19:01] dhmspector commented on #214
sorry.. for some reason GH didn't apply any access permissions for realm folks.. fixed

[2017-06-09 21:42] agersoncgps commented on #215
Thanks! I should have tried that. (I thought I did.) However, I think the docs make it a little confusing. In  [docs for Access Control ](https://realm.io/docs/realm-object-server/#access-contro) you give the example:

[code]

But then in the [example for Custom Auth ](https://realm.io/docs/javascript/latest/#sync) you just use "fooauth".

[code]

I would think it should be:

const user = Realm.Sy

[2017-06-09 22:02] agersoncgps opened #220 "isAdmin returns false when user is admin"
After logging a user in I am printing out the user object and it shows isAdmin = false when the user is in fact an admin.

![ab7cfd38-44b0-11e7-8f4e-f8a30bfc5b3f](https://user-images.githubusercontent.com/336441/26995964-b4b8349a-4d3d-11e7-9ded-afa4591524a7.png)

[2017-06-09 22:54] bigfish24 commented on #215
I filed an issue to update the code sample, sorry about that!

[2017-06-09 22:54] #215 closed

[2017-06-09 23:08] bigfish24 commented on #220
Assuming you mean the browser is just displaying it incorrectly, right?

[2017-06-09 23:17] dhmspector commented on #214
resolved  Part 1 - multiple login/logout/login issue was result of a poorly defined static constant in TeamWork which was setting up (but not resetting) Syncuser.current across logouts.

 Part 2: failure to AsyncOpen() of global Realms by non-admin users is still an issue - moved to https://github.com/realm/realm-object-server/issues/1216

[2017-06-09 23:17] #214 closed

[2017-06-10 01:53] agersoncgps commented on #220
The browser is displaying it just fine. The user is an admin. The user object returned from the login when displayed in the console.log() contains an incorrect value.

[2017-06-12 00:35] agersoncgps commented on #215
Sorry to open this back up again. I am sure I am doing something wrong, but I have tried everything I can think of.

I got custom auth working on 1.7.4 on my local Mac. I then set up a 1.7.5 server on Ubuntu. I copied my config values over to the default configuration.yml and it is now saying "Unknown provider!" again. If I point my client code to the local Mac server it works, but when I point it

[2017-06-12 14:56] mrackwitz commented on #215
If a provider is configured, an implementation is required. If no implementation would be found, the server would log an error and fail to start.

That given, could it be the case that your configuration changes are not picked up by the server?

[2017-06-12 15:08] ianpward commented on #215
@agersoncgps I would also suggest making sure that all npm packages for your custom auth code are installed locally on your server. What happens if you run the script manually?

`node cgpsauth.js`

[2017-06-12 15:51] spunkedy commented on #44
this would be a plus for me

[2017-06-12 23:04] agersoncgps commented on #215
@mrackwitz I thought that could be the case as well, but I have made several other changes to the configuration that have all applied. I changed the logging level to 'debug', enabled the https proxy, installed the cirtificates and keys. When I run it in debug mode it also shows all these values loaded in:

`2017-06-12T23:03:04.929Z - debug: Realm Object Server starting with configuration: {"file":

[2017-06-12 23:06] agersoncgps commented on #215
@ianpward At this time I dont have any custom npm packages. I hacked it to just return a static id for testing purposes:
[code]

When I run it manually it just returns:

[code]

[2017-06-12 23:14] mrackwitz commented on #215
Thanks for posting the logs from startup. I was so free and extracted the minified JSON configuration from the log message and pasted it in a beautified serialization. That showed that the configuration keys for the custom authentication provider sit under the key `sync_hosts` instead of `auth.providers` where it would be expected.

[code]

Could you verify that you configure this in the right pla

[2017-06-13 01:13] agersoncgps commented on #215
Amazing! Thank you! The problem was a single tab missing before "sync_hosts".

"sync_hosts" was on an equal level to "auth", as opposed to a child of it where it belonged.

[2017-06-13 06:36] cmelchior commented on #199
This has been fixed with Realm Java 3.3.2

[2017-06-13 06:36] #199 closed

[2017-06-13 06:37] cmelchior commented on #202
This has been fixed with Realm Java 3.3.2

[2017-06-13 06:37] #202 closed

[2017-06-13 06:37] cmelchior commented on #205
This has been fixed with Realm Java 3.3.2

[2017-06-13 06:37] #205 closed

[2017-06-13 06:38] austinzheng commented on #152
My deepest apologies for how long this issue has taken to resolve.

In our latest version of Realm Cocoa, we include [a SDK-level fix](https://github.com/realm/realm-cocoa/pull/4957) for this issue. To be completely sure, though, I will spend some time tomorrow reproducing your test scenario to ensure that this fix really does address your bug.

Again, sorry for all the inconvenience and thanks fo

[2017-06-13 06:53] bmunkholm commented on #112
Sorry @molind, I'll keep this open until that release is actually available.

[2017-06-13 12:57] kspangsege commented on #196
Probably related to https://github.com/realm/realm-sync/issues/1341.

[2017-06-13 13:35] kristiandupont commented on #220
I've created an issue for this in the JS repo: realm/realm-js/issues/1063

[2017-06-14 14:37] kspangsege commented on #220
Thanks. Closing this one then.

[2017-06-14 14:37] #220 closed

[2017-06-14 14:44] kspangsege commented on #196
@alebsack I'm reassigning to you as representing the ROS team, as this looks like an issue with the cration of the Debian package for ROS.

[2017-06-14 14:46] kspangsege commented on #196
Oh, you are already assigned :-)

[2017-06-14 17:19] kspangsege commented on #197
@molind As I alluded to above, we will unfortunately not be able to rescue that particular Realm file (`galileo.realm`), or others that have corrupt histories.

The corrupt history ultimately arose due bugs in the creation of, of transformation of changesets before they were added to the servers history. Such bugs may, or may not still exist, however, since the latest version of the server perform

[2017-06-14 17:19] #197 closed

[2017-06-14 20:27] bigfish24 opened #221 "HTTP: Failed to switch protocols (response status = 502)"
From:  https://github.com/realm/realm-mobile-platform/issues/187#issuecomment-305346254

[code]

I have about 40K objects in my Realm. I also seem to stop getting notifications on changes to the collection but I'm still investigating that.

[2017-06-14 20:41] netspencer commented on #152
I also have this issue:

[code]

[2017-06-14 21:08] kspangsege commented on #221
@bigfish24 Have a look at the resolution suggested in this issue: https://github.com/realm/realm-mobile-platform/issues/193#issuecomment-303441769.

[2017-06-14 21:50] bigfish24 commented on #221
So the answer is in Nginx:

[2017-06-14 21:51] bigfish24 commented on #221
If so can we close this?

[2017-06-14 22:10] austinzheng commented on #152
That doesn't look like the same issue. Please file a new ticket with a stack trace, version of Realm, sample code, and reproduction steps.

[2017-06-14 22:33] kspangsege commented on #221
I don't know if it is exactly the same issue, but it looks like it is. Would be good if he can confirm that it solves the problem.

cc @morten-krogh

[2017-06-15 05:23] Daopr commented on #17
👍🏻From China,price really high for startups

[2017-06-15 08:04] Montrazul commented on #72
Are there any news to this? I would like to be able to download the very last state of an existing realm database. Right now when I install the App and login with an already existing user the downloading of the realm takes quite much time since its processing every operation which was ever performed on the realm database.

It would be much better if I could just download the very last state as it

[2017-06-15 08:08] bigfish24 commented on #72
We haven't yet added support to do this but we have made internal changes in the server to get us there. The server initially only held the full logs of all the operations, but recently we added the ability to store the state. This was primarily done so that we can do things in the server like validate incoming changes against the state, but it does mean we have the final state to use for other pu

[2017-06-15 18:25] mrackwitz commented on #221
It doesn't seem as this would be the same problem as in #193, if you look into the further conversation of the referred issue, you'll see that this user was previously affected by this problem and could resolve this issue with the solution proposed by Morten.

[2017-06-15 19:10] kspangsege commented on #221
@mrackwitz Ok, I see your point. @morten-krogh Can you take it from here? I suppose your new log messages could help in diagnosing this.

[2017-06-15 19:36] morten-krogh commented on #221
I can take it from here. Is it issue #187?

[2017-06-15 20:50] kspangsege commented on #221
@morten-krogh https://github.com/realm/realm-mobile-platform/issues/187 is mostly on a different subject, but this issue was mentioned in a comment (https://github.com/realm/realm-mobile-platform/issues/187#issuecomment-305346254), so I guess @bigfish24 decided to elevate that comment to a new separate issue (this one).

[2017-06-15 21:08] morten-krogh commented on #221
Sorry for my lack of understanding of the context here.

What is the issue I am supposed to look into? Is there a user I can communicate with?
The snippet above is not enough. We can release a new version of Sync with the changes I made today, and have them use that. Then we can look at the log file.

But in what issue do I talk directly to the user?

[2017-06-15 21:12] kspangsege commented on #221
@morten-krogh This issue was an offspawn from https://github.com/realm/realm-mobile-platform/issues/187, so it is the same user, namely @FreudGit .

[2017-06-15 23:16] stel commented on #167
2.1.9 also adresses some related issues. I'm closing this for now. Please feel free to reopen it or create a new one if need any help.

[2017-06-15 23:16] #167 closed

[2017-06-17 18:27] agersoncgps commented on #16
@jpsim What is the command that takes the flags --reset-user EMAIL PASSWORD?

[2017-06-19 01:47] agersoncgps commented on #189
I did get this working in 1.7.5. Is it possible that 1.7.6 broke this again? I am running the example code:

[code]

Which does write a row to the database:

![screenshot 2017-06-18 21 42 18](https://user-images.githubusercontent.com/336441/27266413-05863826-546f-11e7-8f17-5974179de3e2.png)

But I get back:

`Permission Status: null`

[2017-06-19 02:29] agersoncgps commented on #189
Ignore previous post. I can confirm it works fine in 1.7.5 and 1.7.6.

[2017-06-21 23:37] o1xhack opened #222 "Swift: group Realm database with date in tableview section"
## Goals

In Swift, when I using tableview, I want to group my data with date and show them in section.

For example I have:
20/5/2017 12:25 100ml
20/5/2017 14:40 200ml
21/5/2017 8:30   500ml
21/5/2017 18:30 100ml
NSDate()             Int

## Expected Results

So it groups with date:

20/5/2017  //section title
12:25  100ml  // cell in this section
14:40  200ml

21/5/2017 // section title
8:30  50

[2017-06-22 14:07] michael-mckenna opened #223 "How do I handle Realm Object Server dying after accidentally performing a migration on iOS (Bad changeset error)?"
Asked this question in Slack and Stack Overflow (https://stackoverflow.com/questions/44621248/how-do-i-handle-realm-object-server-dying-after-accidentally-performing-a-migrat) but to no avail so I'm bringing the issue here.

## Expected Results
If the magnitude of this migration is so severe, I'd expect their to be compiler error/warning. Also I feel like instead of killing ROS as seen in our log

[2017-06-23 02:39] mokkun commented on #177
Having the same issue here on Ubuntu 17.04

[2017-06-23 14:38] AshaChaparala opened #224 "Sharing Realm Between Users using PermissionOffer"
Hi ,I am trying to implement Realm in my Android app.
I was stuck in Sharing Realm Between Users.
1.Send the token to another user via any method.[ which method i need to use to send token to other user ?]
2.I have User Details Model-if i want this to share User Details data to all users
Did i need to use PermissionOffer and PermissionOfferResponse classes to share or any other way ?

[2017-06-23 20:09] michael-mckenna commented on #80
How would this work for shared realms? Let's say you have a shared realm storing usernames. If you want to check if a username exists or not, people who haven't updated to V2 would not be aware of the new usernames that have been added. So would this be a case of forcing the user to update their app so they are on the latest version of the realm config?

[2017-06-26 02:48] ianpward commented on #80
Hey @michael-mckenna take a look at this write-up
http://news.realm.io/news/migrations-with-synced-realms/

So if you had two versions of Realms for shared realms you could use our event handling system to trigger a code block that would copy new data from the old schema to the new or vice versa. The trade off is that you would not be using our built-in conflict resolution.

![image](https://user-

[2017-06-26 02:51] michael-mckenna commented on #80
@ianpward Awesome, thank you.

[2017-06-26 13:33] switchawk opened #225 "Unable to access realm from an iOS extension"
## Goals

Access my Realm from an iOS extension

## Expected Results

I should be able to access Realm via App Group

## Actual Results

The local path is unavailable to configure at described here https://news.realm.io/news/tutorial-sharing-data-between-watchkit-and-your-app/

And according to this https://stackoverflow.com/questions/40785346/swift-realm-mobile-platform-today-extension?rq=1 it's

[2017-06-27 09:23] AshaChaparala commented on #135
![screenhot](https://user-images.githubusercontent.com/29660477/27580433-33f1e27a-5b48-11e7-9e7e-029c4f348289.png)
Which method i need to use to send token to other user?
Did  i need to use Firebase or i can share through realm only?

[2017-06-27 12:36] teotwaki commented on #177
@mokkun That is an unrelated issue. We only package for Ubuntu 16.04, so you not finding packages on Ubuntu 17.04 is expected.

[2017-06-27 17:44] switchawk commented on #225
Moved to stack overflow: https://stackoverflow.com/questions/44786619/accessing-realm-from-an-ios-extension-while-using-realm-mobile-platform

[2017-06-27 21:29] switchawk commented on #225
(Reopened }

[2017-06-27 21:29] #225 closed

[2017-06-28 13:22] uadp opened #226 "SyncUser Error Code INVALID_CREDENTIAL"
## Goals

I want to check user already exist or not. while SyncUser.AsyncLogin with false parameter on creating new account.

## Expected Results

While login i want return UNKNOWN_ACCOUNT or EXISTING_ACCOUNT for already registered email account.

## Actual Results

While i login with user account ABC with wrong password it return INVALID_CREDENTIAL.
While i login with user Account BCD (user doesn

[2017-06-29 01:40] insidegui commented on #56
Any news? I'm also having this issue. Reinstalling didn't fix it for me.

[Here's the configuration file](https://github.com/realm/realm-mobile-platform/files/1110655/configuration.yaml.zip)

The only setting I changed was the root path where I specified a block storage that is correctly formatted and mounted (I'm running on DigitalOcean).

If I start the server by running the command manually wit

[2017-06-29 02:14] insidegui commented on #56
Another thing I noticed, when running the server manually, is that it's always maxing out the CPU even when there are no clients connected and the dashboard is closed.

[2017-06-29 02:44] vahevia commented on #177
I'm having the same issue. I have ubuntu 16.04 64bit. I followed all the instructions and I keep getting the same message:
Reading package lists... Done
Building dependency tree
Reading state information... Done
N: Ignoring file '50unattended-upgrades.ucf-dist' in directory '/etc/apt/apt.conf.d/' as it has an invalid filename extension
E: Unable to locate package realm-object-server-developer
If y

[2017-06-30 02:41] realm-ci opened #227 "test"
sample

[2017-06-30 02:41] #227 closed

[2017-06-30 21:44] bigfish24 commented on #5
No, it is simply not possible to run ROS on Heroku. We would need to provide a cloud service that is simply sold through the Heroku marketplace as an add-on as mentioned above. This could happen but I don't have any specific dates I can share.

[2017-06-30 22:37] #226 closed

[2017-07-03 02:12] Redth opened #228 "CPU 100% causing logins to fail, slow syncing"
## Goals

Lower CPU load, to figure out how to diagnose this issue...

This is a production server right now and the 1 star reviews are piling up as this goes unsolved... I'd really appreciate some help.  At this point i'm almost even considering writing my own backend server to replace realm, but i'd much rather not!

## Expected Results

Responsive server

## Actual Results

CPU spikes to 100% f

[2017-07-03 02:42] Redth commented on #228
Here's some lldb info if it helps at all:
https://gist.github.com/Redth/041d3edc87806ab0c6a0fa2e031affb8

[2017-07-03 02:45] Redth commented on #228
Also here's my custom auth provider: https://gist.github.com/Redth/ead6d8cf7d6bd599942ca432608e83bc

I did try disabling the custom auth provider from the configuration.yml and it didn't seem to change the 100% CPU at all...

[2017-07-03 11:13] Redth commented on #228
Here's a strace summary running for awhile:

[2017-07-03 11:21] morten-krogh commented on #228
@Redth I am looking into your log file now. Let us see if it reveals the problem.

[2017-07-03 12:44] stel commented on #213
I believe this issue has been addressed in one of the latest updates, so I'm closing it for now. @dina304 please feel free to reopen it or create a new one if you're still getting this behaviour.

[2017-07-03 12:44] #213 closed

[2017-07-03 12:46] stel commented on #198
I believe this issue has been fixed in one of the latest versions so I'm closing this issue for now. Feel free to reopen it if it still doesn't work for you.

[2017-07-03 12:46] #198 closed

[2017-07-03 13:08] Redth commented on #228
@morten-krogh would love any updates as you're able to provide... Anxiously waiting as more 1 star app reviews roll in :( . thanks!

[2017-07-03 13:37] morten-krogh commented on #228
@Redth I am looking. Something I see is that some internal book keeping about permissions
is taking a long time on the server after startup but that work stops after three minutes.
Right after server startup, you might see this work reported as high CPU usage.

I am searching for more information.

I can also see that there are users whose access tokens have expired when they finally get
through.

[2017-07-03 13:38] morten-krogh commented on #228
It seems like the server is restarted every 10 minutes.

[2017-07-03 13:52] Redth commented on #228
I've manually restarted it some times to try different things with strace and such...

The cpu usage isn't actually hitting 100% until after the first 3 minutes.

When it goes to 100% login does not work reliably. So thats the main issue. It seems like once they are logged in syncing is ok.

In any case 100% CPU does not seem normal to me.

[2017-07-03 13:55] Redth commented on #228
I'd be happy to provide a backup for you to test locally. Not sure it will show the same symptoms without users connecting though. Let me know if there is any other debugging I can provide.

I found it odd that a lot of time seems spent in getting the datetime according to strace? That seems maybe like a timer issue on node?

@morten-krogh ^

[2017-07-03 14:01] morten-krogh commented on #228
We have had slow login due to calculations of a Bcrypt hash function.
This takes 2-3 seconds. If multiple users log in simultaneously, this could lead to long delays.
We have made that much faster in an unreleased version.

Could this be it?

[2017-07-03 14:02] morten-krogh commented on #228
Can you point me to a time point in your log file around which the server had 100% CPU usage?

[2017-07-03 14:11] Redth commented on #228
It could be the bcrypt hash.

[2017-07-03 14:12] Redth commented on #228
It does seem to happen when users are logging in.

[2017-07-03 14:12] morten-krogh commented on #228
I see that there are errors in the JSON parsing of the access tokens. We have seen this error before. I believe that it was due to a bug in the Android client, and that it has been fixed in a new version.

Here is the log output:

2017-07-02T18:46:02.070Z - warn: auth.custom/tfp: Handle request failed with: SyntaxError: Unexpected end of JSON input
2017-07-02T18:46:02.071Z - warn: [services] inter

[2017-07-03 14:14] Redth commented on #228
When. I woke up and checked early this morning CPU usage seemed normal. Then as people presumably woke up and started logging in it spiked. So I wouldn't be surprised if this is at least part of the issue

[2017-07-03 14:15] Redth commented on #228
Is this fixed in the xamarin android client v1.5.0? If so I can push an update with that

[2017-07-03 14:15] morten-krogh commented on #228
@Redth

what about your own custom auth? Doesn't it circumvent our password auth?

 We will give you the newest version of ROS, so you can try it.

[2017-07-03 14:16] morten-krogh commented on #228
So, we are talking about two issues now.

The JSON error.
The bcrypt hash function.

I will find out exactly when they were fixed.

[2017-07-03 14:18] Redth commented on #228
Our custom auth I attached as a gist in this issue. It returns an authenticated user ID

[2017-07-03 14:21] nirinchev commented on #228
Are users using the custom auth or the built in username/password authentication?

@morten-krogh the JSON error you're referring to was part of the native Android binding. The Xamarin binding which @Redth is using doesn't have json-related known issues, so those are either sporadic or a bug we're not aware of.

[2017-07-03 14:21] morten-krogh commented on #228
Exactly, which seems like the bcrypt issue might not be the explanation, since our
password code does not run when you use your own authentication.

[2017-07-03 14:23] morten-krogh commented on #228
@Redth @nirinchev Are users just using the Xamarin client here?

In that case we might have found a new error. There are lots of lines like this:

2017-07-02T18:49:01.903Z - warn: auth.custom/tfp: Handle request failed with: SyntaxError: Unexpected token u in JSON at position 0
2017-07-02T18:49:01.905Z - warn: [services] internal error: SyntaxError: Unexpected token u in JSON at position 0
    at

[2017-07-03 14:25] nirinchev commented on #228
This looks like an issue with the custom auth provider that @Redth has posted.

[2017-07-03 14:27] Redth commented on #228
So I think that particular issue on the auth provider is fixed. If you look closer to the more recent logs I think you will not see that same error

[2017-07-03 14:29] nirinchev commented on #228
Just to confirm, are the majority of your users using the custom authentication provider or the built-in username/password provider from ROS?

[2017-07-03 14:30] morten-krogh commented on #228
Okay, fine. You had a problem in the JSON parsing in your provider.
I thought it was the client that sent malformed JSON. Fine.

Back to the CPU usage. Do you have a time point in the log where the 100% CPU usage took place?

If you use our password provider, the bcrypt hash might be the explanation.

[2017-07-03 14:40] Redth commented on #228
We only use our custom auth, Facebook and google providers.

I will try and find a point in time, but it's almost constant

[2017-07-03 14:45] morten-krogh commented on #228
The JSON error is here today.

2017-07-03T01:36:58.899Z - warn: [services] internal error: SyntaxError: Unexpected token u in JSON at position 0
    at Object.parse (native)
    at request.catch.then.res (/etc/realm/custom/tfp.js:28:29)
    at process._tickCallback (internal/process/next_tick.js:109:7).

[2017-07-03 14:51] morten-krogh commented on #228
And there are other errors in the handling of accounts. Let us look into that as well.

2017-07-03T01:36:30.493Z - warn: [services] internal error: Error: Account.provider_id must be of type: string
    at Error (native)
    at inTransaction.db (/usr/lib/nodejs/realm-object-server-developer/.build/src/node/dao/auth/realm/account.js:92:26)
    at RealmAuthDao.inTransaction (/usr/lib/nodejs/realm-ob

[2017-07-03 14:55] Redth commented on #228
Hmm ok not sure why that is. Seems like a bad response. But that may be a symptom of the high CPU usage and a request timing out. I mentioned that I've tried disabling the custom auth in my configuration and the Ros still goes to 100% CPU.  That was one of the first things I tried

[2017-07-03 14:57] Redth commented on #228
So my provider returns null for an account Id if the login fails. Does that cause the account provider id errors?

[2017-07-03 14:59] morten-krogh commented on #228
@Redth I know. Sorry. I just saw this problem. I am not suggesting that this
is the reason for the 100% CPU usage.

[2017-07-03 15:04] Redth commented on #228
Is that ok for my provider to return null? Is there a more appropriate way to handle unsuccessful auth?

[2017-07-03 15:12] nirinchev commented on #228
Regarding the custom provider - you should throw an error to signal that a problem has been encountered. For example in your catch clause, instead of returning `null` at the end, throw:
[code]

[2017-07-03 16:41] Redth commented on #228
@morten-krogh here's my latest logs. Ignore the provider errors. I fixed them right after capturing this log. Still 100% CPU

https://www.dropbox.com/s/iv4kbba4msec8lj/ros%20%281%29.zip?dl=0

[2017-07-03 16:51] Redth commented on #228
@morten-krogh it's there anything else I can do to help debug this? Anything with gdb or strace? Backups?

[2017-07-03 16:56] morten-krogh commented on #228
I will look at the log.

Maybe we can try to give me a local copy of your server setup. Is that what you mean by backup?

Then I can try to run it myself. However, the problem might only manifest itself with real clients.
But let me try myself first.

We can also try to insert extra logging messages in your server to pin down the place where the
problem occurs.

Let us do this first, and then proc

[2017-07-03 17:38] Redth commented on #228
@morten-krogh i've emailed a link to a set of backups... hopefully that will help...

[2017-07-04 06:09] regnatarajan commented on #5
I would be interested in ROS as a service regardless of whether it is on Heroku or some other system.  I simply don't want to maintain servers at this point and I'm willing to pay a service to do it for me. They can sweat the uptime challenges instead of me.  I love the AWS model of only charging for usage with Lambda/DynamoDB and ideally I'd love to see an offering like that from Realm.

[2017-07-04 07:45] bmunkholm commented on #222
Hi @o1xhack - This is related to the Cocoa SDK and more about usage rather than bugs. As stated in the readme and the issue template, we ask to use github for bugs or feature requests and StackOverflow for usage related questions. This sounds like a great question for StackOverflow.
Thanks!

[2017-07-04 07:45] #222 closed

[2017-07-04 07:53] bmunkholm commented on #223
@michael-mckenna Thanks for the suggestion! The server should surely not be affected by the destructive migration, and we should try to prevent the client from making such a migration.

[2017-07-04 07:56] bmunkholm commented on #224
@AshaChaparala : As stated in the issue template, please post usage related questions to StackOverflow - we respond to those there. Thanks!

[2017-07-04 07:56] #224 closed

[2017-07-04 08:02] bmunkholm commented on #135
@AshaChaparala This is unrelated to the current issue. Please use StackOverflow for usage related questions. Thanks.

@Montrazul Closing this due to no response. I assume you have gotten over this a long time ago :-)

[2017-07-04 08:02] #135 closed

[2017-07-04 08:13] bmunkholm commented on #185
Hi @damianogiusti. I'm closing this due to lacking response, assuming your have gotten around the problem. If that's not the case feel free to reopen.

[2017-07-04 08:13] #185 closed

[2017-07-04 08:18] bmunkholm commented on #187
@FreudGit @avitus Can you confirm if your issues are resolved?

[2017-07-04 08:21] bmunkholm commented on #206
@agersoncgps Do you still see this problem?

[2017-07-04 08:26] bmunkholm commented on #9
Closing this now due to inactivity. Feel free to reopen if the problem persists. Thanks!

[2017-07-04 08:26] #9 closed

[2017-07-04 08:28] bmunkholm commented on #152
@einsteinx2 Did the latest fix solve your problem?

[2017-07-04 10:05] einsteinx2 commented on #152
I added it and removed the workaround. A quick test seems to indicate it worked, but we'll be testing properly this week so I'll report back in a day or two.

[2017-07-04 10:50] mklb commented on #152
I dont really know if this is related. I get a (different) session refresh error after running an app for a view minutes in react native on iOS:
[code]

React native: 0.45.1
React: 15.6.1
Realm: 1.8.3
Realm Obj. Server: 1.7.6
Simulator Device Version: iOS 10.3

[2017-07-04 10:59] einsteinx2 commented on #152
@mklb that doesn't appear to be related, this was a timer failing to be reset on app wake. You should post that as a new issue.

[2017-07-04 11:21] Redth commented on #228
Were you able to restore that backup? You mentioned a build with more logging added to help track the issue down too. Please let me know how I can help

[2017-07-04 12:03] morten-krogh commented on #228
@redth I was experimenting with custom auth. I also see some high CPU usages now and then. I will get to your backup very soon. I will let you know what the next step is soon.

[2017-07-04 13:21] morten-krogh commented on #228
@Redth
I don't see anything suspicious in the backup.
Next step must be to monitor your server and insert a lot of debug statements at various places
in the code. Either I should get access to your server or you will have to insert code at various
places and send the log files.

[2017-07-04 13:24] Redth commented on #228
@morten-krogh can we take this conversation either into the realm-public slack channel or some other messaging? let me know what's convenient to you

[2017-07-04 13:29] morten-krogh commented on #228
We can take it on slack. Is there a channel for your project?

[2017-07-04 13:30] Redth commented on #228
nope, i'm just on the realm-public.slack.com instance, username @redth please just pm me :)

[2017-07-04 13:37] morten-krogh commented on #228
I don't thin I am on that channel. I have sent you an email.

[2017-07-04 13:46] morten-krogh commented on #228
I am asking in the company to arrange for a slack channel where we can communicate.
I will get back to you.

[2017-07-04 15:20] bmunkholm commented on #152
@einsteinx2 Thanks - I'll close this one then for now. Feel free to reopen in case it's not fully solved then.

[2017-07-04 15:20] #152 closed

[2017-07-05 10:19] RajIET commented on #63
Same error come for me and I am using Double property.

[2017-07-05 16:50] oyalhi opened #229 "Realm Object Server crashing on Digital Ocean using Ubuntu server"
## Goals

Trying to sync a large db. Sometime it syncs, sometimes the ROS crashes.
## Expected Results

Expected it to sync with new mobile device.
## Actual Results

ROS crashed

[code]
## Steps to Reproduce

You can try syncing a test device and see that it crashes. Any device trying to sync crashes.
## Code Sample

## Version of Realm and Tooling

- Realm Object Server Version: 1.8.1
- Flavor:

[2017-07-05 20:29] jpsim commented on #16
I believe the command would be `realm-object-server --reset-user EMAIL PASSWORD`, but @sorenvind should be able to confirm.

[2017-07-06 08:11] morten-krogh commented on #229
Could it be due to running out of memory?
Do you have a log file of the server?

[2017-07-06 08:33] oyalhi commented on #229
I was just on the Digital Ocean site to test a larger server. I was on 500MB ram server before, and upgraded to 2GB RAM server and did an initial test with 2 iOS devices simultaneously. Sync worked flawlessly. I will do more tests; however, I think the problem was running out of memory. Thanks.

[2017-07-06 15:32] dhmspector opened #230 "start-object-server.command on macOS gets 404 page in browser - need a slight startup delay"
## Goals

Trying to start ROS/PE from the `start-object-server.command` under macOS

## Expected Results

`start-object-server.command` should run and I get redirected to the signup or login page in the ROS dashboard.

## Actual Results

Got a 404 page from the browser

## Steps to Reproduce
start ROS from the `start-object-server.command `

Basically the command is launching the browser before th

[2017-07-07 18:52] RiverbayChris opened #232 "Dashboard: Realm name/path/owner display bug"
## Goals

Organize realms into subfolders at both the global level as well as within users ~/ folder.

## Expected Results

Viewing such realms in the dashboard should work, with realm names reflecting correct path.

## Actual Results

When a realm that is two folders deep within a user's folder is viewed in the dashboard, the page is blank.  The realm exists as I can read/write to it fine in code

[2017-07-08 02:07] RiverbayChris opened #233 "Dashboard usage causes ROS crash"
## Goals

When messing around in dashboard, server should not crash.

## Expected Results

Server hums along when using dashboard.

## Actual Results

When choosing a Realm within the Realms list, if you navigate away to a different tab before the "Loading..." completes, you can crash the server.

## Steps to Reproduce

I created a realm in the root using admin account with 1000 objects.  In the w

[2017-07-10 14:52] DanielAsher opened #234 "View sync'd realm data in the web browser"
## Goals

Browse realms.

## Expected Results

Insights.

## Actual Results

<img width="1203" alt="ros v1 8 1-chronic-loading 2017-07-10 at 15 42 07" src="https://user-images.githubusercontent.com/7915553/28023776-c12b13da-6586-11e7-981d-ea9ae07c086c.png">

## Steps to Reproduce

http://52.210.33.82/realms/bookstore-01

## Code Sample

http://52.210.33.82/realms/bookstore-01

## Version of Realm

[2017-07-10 21:34] brayanL commented on #72
When this solution will be, it is very important., thank you for great work with Realm....

[2017-07-10 21:39] bigfish24 commented on #72
@brayanL to clarify we now have an `asyncOpen` method that allows you to asynchronously open the Realm in which the callback is fired once the Realm is fully downloaded: https://realm.io/docs/swift/latest/#asynchronously-opening-realms

What I was referring to above was an optimization where this download would be faster, but the general capability to know when a Realm is downloaded is available n

[2017-07-11 06:08] bigfish24 commented on #223
@michael-mckenna can you explain what changes to the schema led to this?

[2017-07-11 13:18] anujjpandey11 opened #235 "IllegalArgumentException: Unknown error code: 112"
Sync was working fine for initial stage after some time application stopped syncing data and I'm getting
IllegalArgumentException: Unknown error code: 112 repeatedly, there is no definition for this bug, please clarify the case.

[2017-07-11 15:40] brayanL commented on #72
Great answer @bigfish24 I achieved to Know when Realm loads all data at first time, with **_asyncOpen_** with **rxjava** is all awesome, i show a progress bar in Splash Screen until that the callback return onSucces. Thank you so much...!

[2017-07-11 17:44] michael-mckenna commented on #223
@bigfish24 Unfortunately I don't remember exactly. I was in the middle of doing some model changes then all of the sudden it happened. When it first happened, I had no idea it was because I was changing the models so I didn't make note of the changes I was making :/. I remember it was around the time we decided to change our "id" primary key attribute to a string instead of an int.

[2017-07-11 17:51] 3hugg3r opened #236 "Stability Issues on Realm Object Server"
Ubuntu 16.04 LTS on Linode,

I am having a stability issue with the server.
With only 8 open connections it takes 80% of the CPU. It also seems that it uses only one core.

I was hoping for couple hundred connections but it the server runs on 100% with 8 I am expecting a lot of issues with a couple more.

Server jumps to 100% often after reconnect - especially if we restart the app on our phones a

[2017-07-11 22:24] bigfish24 commented on #223
@michael-mckenna ok well that is actually quite helpful info! You cannot change the primary key of a model with a synced Realm. This is because we consider this a "destructive schema" change meaning it is not backwards compatible with older clients. As a result, you have to move to a new model, such as going from `MyClassV0` to `MyClassV1` and you can remove the definition of `MyClassV0` from your

[2017-07-12 15:48] RoLu88 commented on #160
I think that is a feature which really is needed. How else can I find out which user has access to a specific realm?

[2017-07-12 15:55] cliftonlabrum opened #237 "TypeError: Cannot read property 'reason' of undefined in cloudkit.js"
_I posted [this on Stack Overflow](https://stackoverflow.com/questions/45046568/realm-authentication-server-error-with-icloud-auth), but I'm thinking I've found a bug._

When I attempt to authenticate a _new_ user via iCloud (a user without an account on my ROS) on Mac or iOS, I get a server error. Here is how I'm authenticating:
[code]

Here is the error log on the server:
[code]
Any ideas?

## V

[2017-07-12 16:01] cliftonlabrum commented on #229
@oyalhi How big was the database you were syncing? I'd like to avoid running into this and it would help to know how big of a droplet I will need on Digital Ocean. Thanks!

[2017-07-12 21:18] svrzii commented on #190
Hello @mrackwitz, I had the same issue as @Jonsapps and thought that it was fixed. On my Iphone 6s & Ipad mini 2 this works like it should, but on an older device like iphone 5 with iOS 10 & an older Ipad with iOS 9 the user don't get the read & write permissions that are set. @Jonsapps does it work for you on older devices?

[2017-07-12 22:27] cliftonlabrum commented on #237
So... after a long journey of troubleshooting, I finally figured out that I was using my _private_ key instead of my _public_ key when I set up my API key in the CloudKit Dashboard.

This, of course, is my mistake, but the error message from the Realm log could have been much more helpful. 😁

[2017-07-12 22:27] #237 closed

[2017-07-13 05:19] cliftonlabrum opened #238 "ROS Documentation Update: iCloud Auth Setup"
If you browse to this page in your documentation: https://realm.io/docs/realm-object-server/#icloud (**Realm Object Server** -> **Access Control** -> **iCloud**)

...the screenshot is out of date. Apple redesign their CloudKit dashboard. 🙂

Thanks!

[2017-07-13 07:29] vijaemanlapaz commented on #177
same here trying to install on raspberry pi 2

[2017-07-13 09:25] donelasurya opened #239 "Realm persistent data issue between threads"
I am new to Realm. We are facing a weird issue. We saved an entry using copytorealm in execute transaction and when we checked the db the entry in same thread (not main) was present. But later when we queried the same entry from MAIN Thread, strangely, we received null.

[2017-07-13 11:32] stel commented on #234
Thanks for reporting this, @DanielAsher! Could you please provide some info like server logs and logs from the browser's console, thanks!

[2017-07-13 12:38] bmunkholm commented on #239
@donelasurya Please use the issue template and fill in all the information requested. In particular, please describe this problem with code sample so we can reproduce.
Also please consider to post the question on Stackoverflow unless you have a repro case that indicates a bug. Thanks!

[2017-07-13 12:40] bmunkholm commented on #238
Thanks for that @clifonlabrum!

[2017-07-13 12:55] #238 closed

[2017-07-14 14:41] bmunkholm commented on #228
This has been resolved via other channel. A workaround has been made while we investigate further the rootcause.

[2017-07-14 14:43] bmunkholm commented on #236
We are investigating a similar issue (#228) for another user. This may be related.

[2017-07-14 14:49] bmunkholm commented on #235
This is being dealt with by email. Closing here for now.

[2017-07-14 15:06] kraenhansen commented on #232
Thanks for the issue!
I believe we are tracking this issue as https://github.com/realm/realm-object-server/issues/1280 internally and as stability and the browser is a priority at the moment I believe we'll have a fix for it very soon.

[2017-07-14 16:29] anujjpandey11 commented on #235
@bmunkholm I didn't got the answer what is this error code 112 and why it is coming?

[2017-07-15 20:53] oyalhi commented on #229
@cliftonlabrum I just checked, it is 50MB. At the time the server crashing, I had one 50MB db trying to sync to 1 device. After upgrading to 2GB RAM, I have just tested with 2 databases of 50MB at the same time syncing with 5 devices. Sync completed fast and successfully. The max ram used was 81.77%.

[2017-07-16 06:44] bmunkholm commented on #235
@anujjpandey11 Please use the issue template with details about which SDK, version, and sample code for getting this error. Otherwise it's very hard to help you when your context is not clear. In case this is an error that originates in an SDK, please file the issue in the relevant repo. The READM.md in this repo contains links.
Thanks!

[2017-07-16 07:01] anujjpandey11 commented on #235
@bmunkholm If sdk is returning error code 112 it simply means there will be some definition for this error code, I'm not able to figure out why there is a need of sample code or use case if there is an error code. error code comes in predefined use case usually.

[2017-07-16 08:19] bmunkholm commented on #235
@anujjpandey11 It's really hard when you are not even telling me which SDK and version you are using :-) And not knowing which function you are calling and getting the error message from doesn't make it easier. If you want help, then please enable us to help you.

[2017-07-16 08:33] anujjpandey11 commented on #235
Sdk version is 3.5.0

On Jul 16, 2017 1:50 PM, "Brian Munkholm" <notifications@github.com> wrote:

[2017-07-17 08:58] kraenhansen commented on #233
I believe you've found an edge-case that we havn't tested properly.
It took a few tries to reproduce, but I did indeed manage to crash ROS.
I've added an issue to our backlog.

Thank you!

[2017-07-17 12:09] kvap commented on #229
@oyalhi were those 81.77% used by the ROS process alone?

[2017-07-17 15:55] bmunkholm commented on #235
Please do give all the information you can. IllegalArgumentException obviously is a response to an illegal argument. It helps tremendously to know exactly which function that gave you this exception and which parameters you passed. Providing us as much info as possible is the only way for us to be able to help you.

[2017-07-17 16:25] anujjpandey11 commented on #235
I was committing data to ROS with an alarming interval of 5 second after a period of time I found syncing is stop with bad change set exception and application is close, now whenever I restart my application I got this exception repeatedly.

I written all the local logs to a file and I found nothing wrong with my data.

This is where I'm getting this issue

[code]

and unfortunately the exception

[2017-07-18 06:42] bmunkholm commented on #235
Ok. Showing the call stack when you get the exception could have been useful. I'm still not sure exactly where the exception is thrown from? But it's now at least clear that we are talking about a sync error-code, and that 112 means "Bad changeset".
This means that we are receiving a change from the server that doesn't match our expectations somehow. That's very likely due to a mismatch in schema'

[2017-07-18 07:19] anujjpandey11 commented on #235
Actually on realtime sycing application got crashed with Bad change set and next time while I'm opening it show me this... is there some other way I can check which of my data is not proper.

[2017-07-18 10:04] oyalhi commented on #12
+1

[2017-07-18 14:57] compojoom commented on #17
As others here I love realm DB, but the current pricing for ROS is just mind-blowing.

I'm still wondering if going around all the limitations of the ROS dev. version is worthwhile.

The promise of realm was fast app development. If you app can't persist an image on a server, can't send a mail in response to some data, can't remotely update the data on the server in response of whatever event, the

[2017-07-21 09:04] timahrentlov commented on #17
+1 on some more info for indie devs. Offer a bizspark option, offer a hosted solution, or simple skip to the point where you announce Microsoft's acquisition of Realm and let us get on with it :)

[2017-07-21 21:19] brayanL commented on #228
@bmunkholm this is a recursive answer, there is any workaround solution for this issue?, thank you for you answer....!

[2017-07-21 21:26] bigfish24 commented on #228
@brayanL are you currently experiencing an issue?

[2017-07-22 05:35] brayanL commented on #228
I need update a model in Local DataBase for every user that have downloaded the app, the first time that the app is running i achieved open async Realm getInstanceAsync [,](https://realm.io/docs/java/latest/#opening-a-synchronized-realm)  I have inserted local data in Model extend RealmObject, but now I must update the same model but getting data from the server. I can achieve this, with the Devel

[2017-07-23 15:52] anujjpandey11 opened #240 "Sync the huge amount of data which should not sync"
## Goals

We have a MediaFile object which contain byte array and other property associate with the byte array, there are few steps we follow to process this media file.

1.	An android device (name it A) pushing the media file to ROS.
2.	Node js is listening the ROS event and as soon as it gets a media file, download the file and save the file to cloud storage.
3.	Once the file successfully saved

[2017-07-23 22:36] nenadvulic commented on #177
same here Ubuntu/trusty

[2017-07-23 22:40] nenadvulic commented on #177
@teotwaki do you have any workaround for < 16.04 ?

[2017-07-24 05:17] wtlucky opened #241 "Need Help, ROS can not start, how to fix it?"
## Goals

A running server stopped, I want to start it.

## Expected Results

The dead server started.

## Actual Results

The server can't be started, and after `systemctl status realm-object-server.service`, I got some error log.

## Code Sample

## Version of Realm and Tooling

- Realm Object Server Version:  1.7.2 (not exactly, I have forgot it and can't check it out)
- Flavor:
  - [ ] Develop

[2017-07-24 05:23] bigfish24 commented on #241
The logs say there is not enough space on your server, can you increase the available disk space?

[2017-07-24 05:39] wtlucky commented on #241
@bigfish24 Thanks. I checked the server space, you were right.  But I found one of my user_data `/var/lib/realm/object-server/0/user_data/6df9d5df359fa3aa941e29a9c4b04f23` uses 99% of my disk, how can I make it smaller, If I can't increase my server disk space?

[2017-07-24 06:41] wtlucky commented on #241
I have deleted the realm file and recreate it.

[2017-07-24 06:41] #241 closed

[2017-07-24 22:26] bigfish24 commented on #240
@anujjpandey11 if I understand this issue correctly, this is the expected outcome. Today, Realm's sync works off syncing the operation log and we do not compact the log. Thus if you add an operation, including writing a large binary blob, this is appended to the log and will be synced to all devices, even if ultimately later operations deleted it.

In the coming months we will be working on log co

[2017-07-24 22:29] bigfish24 commented on #228
@brayanL sorry I don't understand. This issue was related to CPU use, but your issue seems related to Realm file size? Can you please open a new issue and outline it there?

[2017-07-25 08:12] eXeDK commented on #240
What is the timeline of log compaction to be implemented?
I don't see us using ROS in production without this feature.

[2017-07-25 22:08] bigfish24 commented on #240
@eXeDK is your main concern the initial download?

[2017-07-26 07:16] eXeDK commented on #240
Yes it is. Having to sync the entire history of the Realm file at startup don't seem optimal.
Hopefully we'll don't have media files in our Realm files so we should be able to keep the size down.
However, I still see this as a crucial feature.

Can you reveal some of the timeline for this specific feature?

[2017-07-26 23:19] bigfish24 commented on #240
@eXeDK we are starting work on it which will be going into a RMP 2.0 effort. The target for that is in September, though we might be able to offer early previews sooner.

[2017-07-27 07:12] eXeDK commented on #240
Okay that sounds awesome @bigfish24. We'll start our internal testing of ROS next week hopefully and then we'll start evaluating in internal builds before we decide whether or not we want to push towards production.

[2017-07-28 04:28] anujjpandey11 commented on #235
@bmunkholm  here are the complete logs why I'm getting bad change set

**Device Logs**

It's happening while device is trying to upload the the data to the ROS, however if we make any change from server it will easily reflect to the client as shown in below logs:

Other Details:
**private.realm** file size on device: **160 Mb**
**private.realm** file size on server: **104 Mb**

=============>
**An

[2017-07-28 05:29] oyalhi commented on #229
@kvap I only use ROS in the server nothing else. Created an account in Digital Ocean, chose the lowest cost option; $5 I think, installed the ROS as explained in the docs. So the 81,77% was used by the operating system and ROS.

Recently I started to get 'all points failed' error in the ios logs on xcode again; though when I checked server has not crashed.

Below is the graph for the last 30 days.

[2017-07-28 21:36] aalap03 opened #242 "using RealmList<?> gives Error:Execution failed for task ':app:compileDebugJavaWithJavac'. > java.lang.NullPointerException error"
I have a realm object class which I update with json response. This is how it looks like I have replies field where I get string responses and what I care about is just their length. So I have stored it this way as list and then use size of it to display in textview. But as I added this code it started giving me the error mentioned in title. I search everywhere and did all the remedies like deleti

[2017-07-29 17:43] michael-mckenna opened #243 "Realm Function - “We ran into an issue trying to start User Search”"
## Goals

Get a working Realm Function

## Expected Results

To successfully run the function

## Actual Results

After hitting the green Run button for my realm function, in the top right there is a red error message with the shield icon on the left of the message pop up saying “We ran into an issue trying to start User Search”.

## Steps to Reproduce

 A little over a week ago I was working on b

[2017-07-31 13:20] aehlke commented on #228
I’d be curious to hear about the workaround that was found. As a potential customer evaluating the service, this looks very scary - unclear whether the workaround would be sufficient for us if we also ran into this.

[2017-07-31 19:48] aehlke commented on #127
Hi @bigfish24 - any update given your last status where you expected this to become prioritized after that month? This is an alarming issue to consider when evaluating ROS adoption. Thanks.

[2017-07-31 19:56] Taco55 opened #244 "Revoked permissions are not correctly updated using the retrievePermissions method"
## Goals
To retrieve the (remaining) permissions of a specific realm after a permission has been revoked using the `retrievePermissions` method in the `SyncUser` class

## Expected Results
Correct update of `RLMSyncPermissionResults` after a permission is revoked with `retrievePermissions`

## Actual Results
Although revoking a permission seems to work correctly (as determined by the Permission Re

[2017-07-31 20:04] bigfish24 commented on #127
It is being prioritized now and we expect initial efforts to land in September. We are both pursuing online log compaction such as collapsing set operations and also the ability to download the Realm on first open vs syncing the operations (which would be possible only through the `asyncOpen` API).

[2017-07-31 20:13] Taco55 commented on #160
@RoLu88 Today I discovered that the new `retrievePermissions' of the 'SyncUser' class works fairly well for this case.

For example:
[code]
With the retrieved ID's in `userIds`, it is now possible to retrieve user details, for example using the new `retrieveInfoForUser` method.
Unfortunately, this latter method does not work for me since it requires the `identityProvider` of the user which I do no

[2017-07-31 20:36] anujjpandey11 commented on #235
Team any update..!

[2017-07-31 23:04] bigfish24 commented on #160
Right now `SyncUser.retrieveInfo(for:, identityProvider:, completion:)` is more of an administrative API. It came out of a need for use on the server-side (Node) to lookup the external identity from a Realm user ID when using custom auth. We added to the other client SDKs since it could have other uses.

We currently don't offer a straight forward way to know which users have been granted access t

[2017-07-31 23:07] bigfish24 commented on #235
@anujjpandey11 have you made changes to your schema? Can you provide the client side code?

[2017-07-31 23:17] bigfish24 commented on #228
@aehlke we routed requests directly to the sync worker (the part of Realm Object Server that handles the actual syncing) since there was an issue around permissions. We have since made improvements to the permission system and we also have dramatically improved the sync's merge algorithm. We are prepping for a 2.0 update in September, if you want early access, email me at af@realm.io.

[2017-08-01 02:17] austinzheng commented on #244
I think this is as simple as adding another predicate to the underlying `Results` to not show permissions with no rights at all.

[2017-08-01 04:47] anujjpandey11 commented on #235
No there is no changes in schema.

[2017-08-01 07:18] Taco55 commented on #244
Unfortunately not, the corresponding `RLMSyncPermissionValue` remains untouched...

This is the output:
[code]

In the meanwhile, I also observed that sometimes not all permissions are retrieved with `retrievePermission` (i.e. they differ from the permission Realm). Unfortunately, I couldn't find out when this is exactly the case, but it is probably related to the issue described above, which alwa

[2017-08-01 08:52] Taco55 commented on #160
@bigfish24 Clear. For now, my work-around works good enough, but I look forward to the more solid solution and RMP 2.0!

[2017-08-02 10:14] Acidfabric commented on #17
👍

[2017-08-02 10:34] Damnum opened #245 "Client file already bound in other session"
## Goals

I'm trying to login and open an existing realm with a user that is not the creator of the realm file. The realm has read-only default permissions.

## Expected Results

User can open and read the data.

## Actual Results

User gets a CONNECTION_REFUSED error on client side.

On server side, the log says:

2017-08-02T10:15:47.561Z - error: sync: Sync Connection[12429]: Session[1]: Client

[2017-08-02 22:02] bigfish24 commented on #245
Are you using Realm on the client device through another SDK as well?

[2017-08-03 00:00] cliftonlabrum opened #246 "Version 2 Beta Documentation"
I noticed that the Realm Cocoa 3.0 beta is up: https://github.com/realm/realm-cocoa/releases/tag/v3.0.0-beta.2

...and the Realm Browser 3.0 beta is up: https://github.com/realm/realm-browser-osx/releases/tag/v3.0.0-beta.2

Will you be posting the corresponding installation/upgrade documentation for the Realm Object Server 2.0 beta somewhere?

Thanks!

[2017-08-03 02:21] Damnum commented on #245
@bigfish24 Yes I'm using the Android SDK to upload the data in the first place. That is just a one time upload for initial data. The app itself uses React Native only.

That's how the initial upload looks like:

`        SyncCredentials myCredentials = SyncCredentials.usernamePassword(ADMIN_USER, ADMIN_PW, false);
        SyncUser user = SyncUser.login(myCredentials, "http://128.xxx.xxx.110:9080/a

[2017-08-03 14:12] kraenhansen commented on #232
@RiverbayChris: Just wanted to update you on the progress on this one, we have a fix ready which is waiting for another PR to be merged. Until then I wanted to let you know if you're on a Mac you can use the Mac Browser to browse the realms in ROS until the fix is released. Thanks again for reporting the issue.

[2017-08-04 00:02] cliftonlabrum commented on #229
@oyalhi Thanks for the insight you've provided here. I'll be sure to beef up my server.

You can probably close this issue now that the cause and the remedy have been identified. Thanks!

[2017-08-04 06:09] #229 closed

[2017-08-04 07:18] #43 closed

[2017-08-04 14:15] kraenhansen commented on #232
@RiverbayChris: Wanted to let you know that a fix for this has now merged and will be released when the next version of Realm Object Server comes out.

Please re-open if you experience this issue again with the next version of ROS and thanks again for reporting this!

[2017-08-04 14:15] #232 closed

[2017-08-04 14:18] kraenhansen commented on #233
@RiverbayChris This will too be fixed in the next release of ROS.

Please re-open if it persists after upgrading ROS to the next available version, which is releasing soon.

[2017-08-04 14:18] #233 closed

[2017-08-04 19:16] zachwhelchel commented on #240
@bigfish24

We are seeing a similar issue. Currently seeing download sizes of > 300mb for a 1.7mb compacted realm. Granted the realm does have quite a bit of history in its logs but am I incorrect in thinking there should be a "delta logs" solution to this?

On initial download don't look at the logs at all... but save a timestamp. On subsequent downloads use the timestamp to only fetch a "delta l

[2017-08-04 19:34] bigfish24 commented on #240
@zachwhelchel thanks for this info. Quite confident we will be solving this for you. There is a PR internally to compact the history, which will be able to run on both the client and server. We are targeting this PR for the 2.0 release in September, but there will be previews leading up to that. Stay tuned!

[2017-08-04 19:49] zachwhelchel commented on #240
@bigfish24 awesome. Thats really encouraging to hear. Do you mind explaining a bit more about what you mean in "compacting the history"? Will this be a delta like approach or will it still be an ever-growing file size for the logs? Can we expect the download size of a 1.7mb realm file to be closer to 1.7mb? Or roughly 2x, 4x, 10x?

[2017-08-04 20:10] bigfish24 commented on #240
The current PR can scan the history and compact `SET` operations, which for most use cases will be a dramatic reduction (i.e. remove all `SET` operations but the last). The operations that are hard to compact are operations on `List` properties, due to the inherent ordering. So unless you are using `List` a lot, it is likely that this initial version will be able to keep the history close to the a

[2017-08-04 20:25] zachwhelchel commented on #240
@bigfish24 best news I've heard all day. Thanks for the insight!

[2017-08-05 10:17] Damnum commented on #245
@bigfish24 my suspicion is that the error shows up because of the following: I'm using an Android emulator to test. At the same time I'm using the Realm browser to manipulate data on the same remote database. Is it possible that the sessions get somehow overlapped because I'm running emulator and realm browser from the same network?

[2017-08-05 11:18] Maxxan commented on #240
What if I use a lot of lists? Is there any hope then for a much smaller data size, closer to the compacted file size? :)

For example I have a list of areas, and each area has a list of streets, and each street have a list of addresses, and each address have a list of contacts. And streets with all the addresses and contacts will be added or deleted often and status of a contact will also change o

[2017-08-05 11:34] bigfish24 commented on #240
There might be ways to optimize lists, but we aren't working on that at the moment. One thing that has been proposed separately that would be easier to compact would be to offer a `Set` type that has no inherent ordering, would that still work for your use-case?

[2017-08-05 11:34] Maxxan opened #247 "Option to not use memory mapped DB"
## Goals

I've got a lot of data due to many users, like 1 TB of data. I would like to use ROS as a syncing backend. It's personal data for each user, for syncing between their devices if they login using tha same account.

## Expected Results

No need of 1TB of RAM or swap file, but a lot less memory needed, like 2GB and look up the data when syncing, more like MongoDB or any other NoSQL DB.

I d

[2017-08-05 11:37] bigfish24 commented on #240
I should qualify that the operations related to `List` that are hard to compact are changes to the list itself: insert, delete, or moves. Changing the objects that happened to be in a `List` are different operations.

[2017-08-05 13:15] Maxxan commented on #240
Thanks for your clarification. What do you mean by "inherit ordering"?

If I have object A, that has a list of object B and I remove object A from the realm (a custom delete function that calls delete from realm on the list so also all B objects will be removed), will it then store a delete operation for each object B in the lest or just the deletion of object A, which in turn would mean all membe

[2017-08-05 14:02] nirinchev commented on #240
On a related note, if you don’t care about the order of addresses, streets and so on, you can use inverse relationship to represent the same model, i.e. Street has a property Area. This will not preserve ordering but will make the file size smaller.

[2017-08-07 09:54] simonask commented on #247
Hi @Maxxan!

2GB RAM is a very small amount for a production server handling 1TB databases, even with a relatively light workload. Depending on your usage pattern and number of active users on your system, you might run into serious performance issues long before memory mapping becomes a problem.

That said, Realm Object Server only keeps a limited amount of Realm files concurrently open at any ti

[2017-08-07 09:54] #247 closed

[2017-08-07 11:05] zaki50 commented on #242
You can't use wildcard(`?`) in model class since Realm's annotation processor need to know which class is the thrget of the list in order to buiold schema from class definition.

We should print error message ibstead of NPE.

[2017-08-07 11:51] #242 closed

[2017-08-07 13:48] #72 closed

[2017-08-07 19:12] michael-mckenna commented on #243
I fixed this after upgrading to ROS 1.8.2. It happened one more time but was fixed after restarting server. Definitely some sort of bug going on.

[2017-08-07 19:34] austinzheng commented on #244
This seems like a server-side issue.

[2017-08-08 10:33] RoLu88 commented on #160
@Taco55 , @bigfish24 , @mrackwitz
Do you know if the new features are already available for Realm using Xamarin?
I can't find a class named "SyncUser" or "SyncPermissionValue". Is there any other documentation for Xamarin?

Thanks for your help!

[2017-08-08 11:32] nirinchev commented on #160
@RoLu88 which new API are you referring to? On Xamarin, thanks to namespacing, `SyncUser` is simply [`User`](https://realm.io/docs/xamarin/1.5.0/api/reference/Realms.Sync.User.html). For example, to get permissions granted to the current user, you can use [`User.Current. GetGrantedPermissionsAsync(Recipient.CurrentUser)`](https://realm.io/docs/xamarin/1.5.0/api/reference/Realms.Sync.User.html#Real

[2017-08-08 11:55] RoLu88 commented on #160
@nirinchev tahnks for the explanation, but I think I should have read all the details bigfish24 wrote.

'_We currently don't offer a straight forward way to know which users have been granted access to a given Realm. Instead, each user can view his/her permissions._'

I exactly need the described feature to find out which users have been granted access to a given Realm and looking forward to RMP 2

[2017-08-08 12:00] nirinchev commented on #160
Sorry to hear that's not what you hoped for. Do you think you can share more information about the use case you'd like to support? Probably knowing the business requirements will help us figure out a temporary workaround.

[2017-08-08 12:14] RoLu88 commented on #160
@nirinchev
We're developing an app which should be used by several users sharing the same data / Realm.
Let's say there is an admin user in this scenario who is allowed to grant users the permission to get access to the realm with some kind of an QR Code which the new user can scan to get all the granted permissions.

On the other side the admin user should all the time be able to revoke or modify

[2017-08-08 12:38] nirinchev commented on #160
If there's just one admin user granting/revoking permissions, you could use [`User. GetGrantedPermissionsAsync(Recipient.OtherUser)`](https://realm.io/docs/xamarin/1.5.0/api/reference/Realms.Sync.User.html#Realms_Sync_User_GetGrantedPermissionsAsync_Realms_Sync_Recipient_System_Int32_) from the admin device. This will return an `IQueryable` of all permissions granted by the admin which can later b

[2017-08-08 15:08] RoLu88 commented on #160
@nirinchev Thanks for your example. Does this solution also show me users which got granted the permission via a token generated by the admin user?

[2017-08-08 15:18] nirinchev commented on #160
By "token", do you mean the token returned by `user.OfferPermissionsAsync`? If that is the case, then yes - users who consumed such a token should be included in the result of `user.GetGrantedPermissionsAsync`.

[2017-08-08 18:07] cliftonlabrum commented on #246
I have since learned that you can install the ROS beta with the following (on Ubuntu):
[code]
Then follow the rest of the instructions as documented here: https://realm.io/docs/get-started/installation/linux/

[2017-08-08 18:07] #246 closed

[2017-08-09 06:14] RoLu88 commented on #160
@nirinchev Yes, that's what I meant although I'm currently using the old way (new PermissionOffer())
I will give it a try and give you a feedback. Thanks!

[2017-08-09 06:58] Damnum commented on #245
After closing the realm explorer, restarting the server, and reinstalling the app, I still get the same error. Is there any documentation on why this error happens exactly?

[2017-08-09 09:00] simonask commented on #245
Hi @Damnum, normally I would expect to see this error in a situation where the server has been cleared and reset but not all the clients. A client then connects to the server attempting to resume a previous session, but the server does not recognize the session identifier — in this particular case, the same session identifier may have been assigned to a different client connecting with a clean sla

[2017-08-09 10:44] RoLu88 commented on #160
@nirinchev I tried your proposal and I can't get it to work. I never get any values returned from user.GetGrantedPermissionsAsync(Recipient.OtherUser)

I tried to do it as follows:

[code]
I checked via the Object Server and all permissions are granted as they should be.

Do I miss anything?

[2017-08-09 10:52] nirinchev commented on #160
That’s odd, I’ll try and investigate locally and get back at you when I have more information.

[2017-08-09 11:00] Taco55 commented on #160
That's also what I sometimes encountered using the Swift code I mentioned above.
It seems a bug, which I already reported here #244

[2017-08-09 13:49] misterlib opened #248 "ROS2 is crashing intermittently"
[var-log-realm-object-server-output.txt](https://github.com/realm/realm-mobile-platform/files/1211600/var-log-realm-object-server-output.txt)

## Goals

Just run the server like normal and have it not crash.

## Expected Results

The server runs without crashing.

## Actual Results

Since upgrading to ROS2, every few hours it seems to crash. It just is suddenly unreachable.  When going to the term

[2017-08-09 14:47] morten-krogh commented on #248
@misterlib
Can I ask you to turn on debug level logging and show us those log files?

[2017-08-09 15:48] misterlib commented on #248
Yes, for sure. Sorry, I'm a non-technical founder that is trying to limp through this. Can you tell me how to do that?

[2017-08-09 15:53] morten-krogh commented on #248
In the configuration file
/etc/realm/configuration.yml
you replace
## level: 'info'
with
level: 'debug'

So remove the ## and write debug.

Then you stop the server and start it again.

[2017-08-09 16:04] misterlib commented on #248
ok, I did that. Just to clarify, are you asking me to run and upload the log from `cat /var/log/realm-object-server.log` with debug on?

[2017-08-09 16:07] morten-krogh commented on #248
Yes, exactly. Run for some time and then upload it.

[2017-08-09 16:23] misterlib commented on #248
Ok.  It just recently crashed, so I ran the log again and attached it.
[var-log-realm-object-server-output-with-debug-on.txt](https://github.com/realm/realm-mobile-platform/files/1212166/var-log-realm-object-server-output-with-debug-on.txt)

[2017-08-09 18:03] morten-krogh commented on #248
Thanks.
Can you run

journalctl -u realm-object-server.service --no-pager > some-file

and upload some-file?

[2017-08-09 21:02] misterlib commented on #248
It wouldn't upload as some-file, so I had to add a .txt.  But here it is:

[some-file.txt](https://github.com/realm/realm-mobile-platform/files/1212863/some-file.txt)

[2017-08-09 21:12] morten-krogh commented on #248
Thanks.

Yes, some-file was just any file name.

[2017-08-10 06:38] morten-krogh commented on #248
@misterlib
I have found the reason behind the crashes I see in your files.

One issue has already been solved and will be released soon.
The other issue is on the road map to be solved.

You can actually continue running your current system as is.
The server restarts itself and no data is lost.

[2017-08-10 12:36] misterlib commented on #248
Thanks Morten.

The issue actually may be worse though (or perhaps this is a separate issue).

Last night, it did the same thing where it restarted and it is unreachable for a period of time, but it didn't come back online.  When I run `sudo systemctl status realm-object-server`, it says it is loaded and active (for just a few minutes when it has reset). But trying to access it from the browser, f

[2017-08-11 02:58] #248 closed

[2017-08-11 06:43] ajonno opened #249 "Realm Browser doesn't connect to Azure"
## Goals

Test Realm on Azure

## Expected Results

Be able to login and use the Realm Browser app on Mac

## Actual Results

Failed

## Steps to Reproduce

MacBook Pro (Retina, 15-inch, Late 2013)
Mac OS Sierra
10.12.5
Chrome - Version 60.0.3112.90 (Official Build) (64-bit)

## Code Sample
Didn't make it that far

## Version of Realm and Tooling

- Realm Object Server Version:  Whatever version o

[2017-08-11 07:37] austinzheng commented on #244
Can you provide us a reproduction case showing this issue please? I have not been able to reproduce this.

[2017-08-11 09:25] Damnum commented on #245
Turns out, the issue happens because opening the realm file with `Realm.openAsync` or `Realm.open` creates a new session.

When I refresh the app in the simulator (or kill the app on the device) and restart it, I need to re-open the realm. This is when the error starts to happen on the server side (because a new session is started on the same file). Sync does not happen from this point on.

Is the

[2017-08-11 09:29] alebsack commented on #177
I'm not sure what went wrong here, but here's what I've done on a fresh ubuntu 16.04 install:

[code]

What I can suggest is running `apt-get update` again and watching for any errors when pulling from packagecloud.io: `https://packagecloud.io/realm/realm/ubuntu xenial InRelease`.

[2017-08-11 10:05] dannygrob opened #250 "NodeJS Error 'ENOBUFS' prevents server from starting"
I was trying to restart the object server, but it won't start. systemctl status seems to be reporting that the server is running, but it isn't, see journalctl outout. Also when running manually it outputs this same error (made sure all services where stopped), see error below

I'm running the latest version of Nginx and realm (1.8.2-310)

I have around 600 realms and it was running fine before the

[2017-08-12 12:26] Damnum commented on #245
Ok I did some more research. The problem only happens when using the Chrome debugger with React Native. Everything works fine when turning it off. So I'm closing this, since there are multiple tickets open in the realm-js repo related to the Chrome debugger. Thanks for the replies.

[2017-08-12 12:26] #245 closed

[2017-08-14 11:27] morten-krogh commented on #250
It looks like there are too many connections as you say.

Can you turn on debug level logging, start the server again, and upload the full log file?
Thanks in advance.

[2017-08-14 11:37] dannygrob commented on #250
My log isn't showing anything useful I think, as I don't see anything getting added. Log level is 'all'. My log is 8GB, so here the part cut from when it was running and I did the reboot:

[code]

[2017-08-14 11:44] morten-krogh commented on #250
How many users and Realms do you have?

[2017-08-14 11:45] morten-krogh commented on #250
Oh, you wrote 600 realms

[2017-08-14 11:48] dannygrob commented on #250
Yeah, I know that I have around 600. Number of folders in the /0/user_data folder is 569

[2017-08-14 11:50] morten-krogh commented on #250
That is not very many.

Could you monitor the memory consumption?
What is the RAM size on your machine?

[2017-08-14 11:53] dannygrob commented on #250
Mem:           4096, free: 3975
Disk:            215G,   55G  free (other partitions 0 - 2% usage)

[2017-08-14 11:57] morten-krogh commented on #250
And your Realms are not gigantic either?
What is the total size of those 600 realms?

[2017-08-14 12:10] dannygrob commented on #250
There are some huge realms, total size of that folder is 41G.

This is the last folder:
[code]

[2017-08-14 12:24] morten-krogh commented on #250
It is not clear to me that you should run out of memory, sockets or anything else with this data set.

Would you be willing to allow ssh access to us?

Is the server stopped now? You can't start it at all.

[2017-08-14 13:02] alebsack commented on #243
Hi @michael-mckenna,

We've released 1.8.3 last week.  In includes some usability and error reporting improvements over both 1.8.2 and 1.8.1.  I've tried your code with this release and was unable to reproduce your issue.

If you try again with 1.8.3, could you please monitor the server log file and send any relevant information to us?

[2017-08-14 13:05] dannygrob commented on #250
I can't get it to start no. ssh access is fine, i've contacted help@realm.io too, you can reply with details danny at digitalfactor.nl.

[2017-08-14 13:36] stel commented on #249
What version of Realm Browser do you use? Please make sure you use the latest one (2.1.12).

[2017-08-14 18:32] misterlib opened #251 ""Realm is empty" when initiated through Android"
Our app is built in React Native, published on iOS and Android.

Everything is working as expected on iOS.

After migrating from a local realm to a synced realm and connecting to the ROS, a new user is created, but when trying to view the data in the Realm, it says "Realm is empty".

More potentially helpful information: while sync is working between devices on iOS, when connecting to that Realm f

[2017-08-14 23:19] bigfish24 commented on #251
This might just be as simple as the Realm hasn't completely downloaded. You can figure out when the Realm is downloaded by asynchronously opening the Realm: https://realm.io/docs/java/latest/#asynchronously-opening-realms

Or you can attach a progress notification: https://realm.io/docs/java/latest/#sync-sessions

Opening a Realm normally will give you immediate access (synchronously) but the data

[2017-08-15 08:23] gerbil802 opened #252 "Configuring Keychain Title"
I'm using Realm Mobile Platform on macOS and it seems credentials are saved under the title "io.realm.sync.keychain".
I would the title to reflect the name of the app, so that:
1. The user can locate the entry and delete
2. The user is able to differentiate between different RMP based apps

I also noticed Realm Mobile Browser credentials are labeled _correctly_ under "Realm Browser".

* Before thi

[2017-08-15 09:47] morten-krogh commented on #251
@misterlib

If there is still a problem, I would aske you to turn on debug level logging on both the Android client and server.
Make sure that there is no other activity for some time, and then start the Android app.
Could you send the server and client log files for this small experiment?

Thanks.

[2017-08-15 14:07] adamsmaka opened #253 "ONLINE-first"
I know that Realm is proud of offline-first database access, but sometimes I have to check if something is in Server database. When I drop filter query on the first launch of the app, before Realm gets sync it returns empty results. How to force the query to access only data on a server or not at all?

If it helps, my case is that I want to check in common realm if a username is available. I want

[2017-08-15 14:11] nirinchev commented on #253
Depending on your app's logic, you could asynchronously open the Realm which will download all data from the server before invoking its callback. Which SDK are you using on the client?

[2017-08-15 14:13] adamsmaka commented on #253
Hmm that's interesting. I'm using Swift.

[2017-08-15 14:38] nirinchev commented on #253
In that case you could use [`Realm.asyncOpen`](https://realm.io/docs/swift/latest/#asynchronously-opening-realms) to open and download the latest state of the Realm. If you have the Realm already opened and want to make sure there are no outstanding changes from the server, you could call [`session.addProgressNotification(for .download, mode .forCurrentlyOutstandingWork`](https://realm.io/docs/swi

[2017-08-15 14:47] adamsmaka commented on #253
thank you! it works! sorry for newbie question. we can close it.

[2017-08-15 14:49] nirinchev commented on #253
No worries, glad to be of help!

[2017-08-15 14:49] #253 closed

[2017-08-15 19:54] bdash commented on #252
Note that the Realm Browser's keychain item titled "Realm Browser" is not the same as the `io.realm.sync.keychain` item. The former stores previously-used usernames and passwords, while the latter stores the encryption key used for the Realm(s) that store metadata about synced Realms.

@austinzheng, when you're back from vacation would you please take a look at this and determine at which level ch

[2017-08-15 21:17] gerbil802 commented on #16
Hmm, any update on this? (for 'forgot password')

[2017-08-15 21:28] cliftonlabrum commented on #16
@gerbil802 Yes, you can let users change their own passwords now: https://realm.io/docs/swift/latest/#changing-passwords

[2017-08-15 21:32] gerbil802 commented on #16
@cliftonlabrum this works only for logged-in users. I mean an ability to reset password for users who forgot their password and can't log in.

[2017-08-15 21:49] ianpward commented on #16
@gerbil802 What about this admin API:
https://realm.io/docs/swift/latest/#change-passwords

[2017-08-15 21:53] gerbil802 commented on #16
@ianpward I can't see how a user can initiate that API for himself

[2017-08-16 00:02] austinzheng commented on #252
I'm still on vacation, but it should be a very simple change. I'll make it next week.

[2017-08-16 00:14] misterlib commented on #251
We tried the async solution that @bigfish24 had mentioned and got it up and running today, but it didn't help.  The issue remains.  We are going to try to run the logs tonight, but we have a beta build out to testers that we can't make absolute sure that they won't try to access the server. Hopefully we can still get enough information from the logs to help diagnose the problem.

This wasn't (in m

[2017-08-16 05:05] jasonmerino commented on #251
@morten-krogh I have collected some logs from the Android app as well as the server. As @misterlib mentioned some of the logs may be from other users that are out of our control, but things looked pretty quiet before I started to collect the logs.

The actions that I took were logging into an existing sync user and open a synced realm with that user. The login works correctly, but the data is neve

[2017-08-16 05:06] jasonmerino commented on #251
@morten-krogh I have collected some logs from the Android app as well as the server. As @misterlib mentioned some of the logs may be from other users that are out of our control, but things looked pretty quiet before I started to collect the logs.

The actions that I took were logging into an existing sync user and open a synced realm with that user. The login works correctly, but the data is neve

[2017-08-16 06:02] morten-krogh commented on #251
@jasonmerino

I don't see any sync activity in the client-log.txt at all. Is this log captured while you
sync?

The server did not receive any sync request from your client either.

Basically, nothing important happened in these log files.

Can you try again? What log level do you use on the client?

Try to sync from iOS as well such that I can see the server log with the iOS connection as well.

[2017-08-16 10:47] ajonno commented on #249
confirmed im using 2.1.12

same error. happy to provide you IP address / login details via email if you want to try

[2017-08-16 11:28] marcoseraphin opened #254 "VisualStudio for Mac - Linker error"
Hi,

after updating VisualStudio for Mac (stable channel) to Version 7.1 (build 1297) I am getting the following error from MTOUCH on the Mac.

..../iOS/MTOUCH: Error MT2102: Error processing the method 'System.Void AonDigitalBroker.DBSettingsObjekt::set_Key(System.String)' in the assembly 'AonDigitalBroker.dll': Value cannot be null. (MT2102) (AonDigitalBroker.iOS)

I have a simple RealmObject cl

[2017-08-16 11:56] nirinchev commented on #254
That's the first time I've seen this error. While we investigate, you could try switching to the beta/alpha channel to see if the error is still there.

[2017-08-16 12:01] marcoseraphin commented on #254
Yes....I will try switching to beta.
Additional information. I run the Android app in debug mode but all Realm data is null reading from the database.

I will report with further info.

Thanx

Marco

[2017-08-16 12:04] marcoseraphin commented on #254
I switched to the VS Studio for Mac beta channel....no updates right now.
Alpha channel is to risky, I am in a production project right now.

Please give me more information if you have investigated the case.

Thank you

Marco

[2017-08-16 12:51] marcoseraphin commented on #254
An old (backup) solution with Realm 1.5.0 database NuGet package creates the same MTOUCH error...;-(

[2017-08-16 13:01] jasonmerino commented on #251
@morten-krogh those logs were captured while I was attempting to sync. The data never comes through though. I have created new captures of the logs on both Android and iOS from the client and server. On the Android client I used the verbose log level and on iOS I used the default. Here's what happened.

[android-client-log.txt](https://github.com/realm/realm-mobile-platform/files/1228232/android-c

[2017-08-16 13:57] morten-krogh commented on #251
Yes, it seems clearly like the problem originates from the Android device.

Are you sure that your code is correct on Android. Did the same code work before?

Can you post the code?

[2017-08-16 18:00] ianpward commented on #16
@gerbil802 I see - we hope to have something for you in our 2.0 release

[2017-08-16 19:34] jasonmerino commented on #251
@morten-krogh Here is the code we call. We start off by calling the `logUserIn` function with the credentials and the callback.

[code]

Do you see anything wrong with this code? I assume not, because this code is working on iOS. But if you see any issues I would be happy to update things to see if we could get this fixed.

Thanks!

[2017-08-16 21:13] bigfish24 commented on #251
@jasonmerino can you turn on debug logs for Realm: https://realm.io/docs/java/latest/#logging

This will help reveal what is wrong with the client.

[2017-08-16 22:48] jasonmerino commented on #251
@bigfish24 it looks like there is no RealmLog class for the react native library. I've got the following import in the apps MainApplication.java

`import io.realm.react.RealmReactPackage;`

But I tried pasting that code in there and it says that it cannot resolve `RealmLog`. Do I need to install the standard realm java library in addition to get this logging or is there a way to do it with the Rea

[2017-08-16 23:29] bigfish24 commented on #251
For JS it should be `Realm.Sync.setLogLevel('debug')` did you not import Realm?

[2017-08-17 04:04] jasonmerino commented on #251
@bigfish24 I just tried to get the logs again. I guess I was doing something wrong before because it didn't crash this time, but when I tried to get the logs again they look pretty similar as they did before. Here's the log.

[android-sync-debug-log.txt](https://github.com/realm/realm-mobile-platform/files/1230107/android-sync-debug-log.txt)

Just for the heck of it I had @misterlib set up a non e

[2017-08-17 04:13] misterlib commented on #251
For reference, I did exactly what it says to do in:

https://academy.realm.io/posts/securing-the-realm-object-server-with-lets-encrypt/

[2017-08-17 06:21] morten-krogh commented on #251
Let us check if there is a problem with the client rejecting the server's SSL certificate.

Try to set validate_ssl: false in the sync object

 sync: {
          user,
          url: `realms://${env.realmHost}:${env.realmPort}/~/placefordata`,
        validate_ssl: false
}

[2017-08-17 11:08] marcoseraphin commented on #254
Any news about the MTOUCH linking error ?

Sad to say, but a small test project just with the Realm Nuget packages and the RealmObject class did NOT reproduce the linking error. Only in my big customer project...;-)

But I do not have any idea why I get the linking error ?

Any hints ?

Best

Marco

[2017-08-17 11:11] nirinchev commented on #254
I'm struggling to reproduce it either, so no updates here. As a workaround, could you try to downgrade your VS for Mac to the previous stable version?

[2017-08-17 11:11] marcoseraphin commented on #254
Another weired thing.

In release mode (it compiles without errors) the app did not work. It does not write any database record.

Than I changed this line:

var settingsObject = realmDB.CreateObject("DBSettingsObjekt");

to the typed form like this:

DBSettingsObjekt settingsObject = realmDB.CreateObject("DBSettingsObjekt");

After this change the app seems to work correctly.

Best

Marco

[2017-08-17 11:12] marcoseraphin commented on #254
can I downgrade within the VS for Mac ? or is there a extra download ?

Marco

[2017-08-17 11:43] marcoseraphin commented on #254
Nope...I installed an older Version of VS for mac (Version 7.0.1, Build 24) again the same error "MTOUCH....value cannot be null".
I also tried with an older version of my project with Realm Nuget package version 1.5.0 and some other older packages....still the same error.

Marco

[2017-08-17 11:44] nirinchev commented on #254
This looks like a Xamarin issue with dynamic objects. I expect that the untyped version is throwing an exception, try to catch it and print the message + stack trace.

[2017-08-17 11:59] marcoseraphin commented on #254
Here is the message:

{System.PlatformNotSupportedException: Operation is not supported on this platform.   at System.Runtime.InteropServices.Marshal.IsComObject (System.Object o) [0x00000] in <183b200ee49746d48fc781625979428e>:0    at Microsoft.CSharp.RuntimeBinder.BinderHelper.IsC…}

An here the StackTrace:

  at System.Runtime.InteropServices.Marshal.IsComObject (System.Object o) [0x00000] in <

[2017-08-17 12:49] jasonmerino commented on #251
@morten-krogh setting `valiate_ssl` to `false` worked. The data comes through as expected when I log in and open the synced realm on both Android and iOS.

Now, how do we find out if it's an issue with our cert, the Android SDK, or the iOS SDK?

[2017-08-17 13:01] morten-krogh commented on #251
@jasonmerino Good to hear.

We actually know about similar issues.

It is not an issue with your own certificate.

It is an issue in our system that has to do with the way our JS SDK is combined with openssl, I believe.
We have seen similar issue in our node.js binding.

I suggest that you set validate_ssl to false until we solve the issue.

You are still using a SSL connection when validate_ssl =

[2017-08-17 17:09] nirinchev commented on #254
Are you sure Realm is causing the error? If you have it with the old version of VS for Mac and with an older Realm version, could it be something else changed in your project?

[2017-08-17 18:18] nirinchev commented on #254
Regarding the dynamic `CreateObject` issue, it's caused by a Xamarin bug: https://bugzilla.xamarin.com/show_bug.cgi?id=57919#c22. There's a prerelease build in the linked comment you can try out.

[2017-08-18 06:19] marcoseraphin commented on #254
Thank you for your investigation.
Concerning the linker error: If I am honest: Think yes you are right. I could not reproduce the error after updating VS for Mac and the realm package. And even with the old version the error is still there.

I have updated a lot of other NuGet packages. What points me to Realm is the error message showing up the RealmObject class:

.../aon-digital-app.git/iOS/MTOU

[2017-08-18 06:31] marcoseraphin commented on #254
I have enabled MTOUCH verbosity to get more details about the error. Here is the error with the StackTrace.

One thing, that I did find in the message:

warning MSB6002: The command-line for the "MTouch" task is too long. Command-lines longer than 32000 characters are likely to fail. Try reducing the length of the command-line by breaking down the call to "MTouch" into multiple calls with fewer pa

[2017-08-18 08:03] fealebenpae commented on #254
Hey @marcoseraphin,

Looking at the MTouch stack trace it seems that it's having some trouble reading debug information in the assembly. Does this also happen if you build for Release? Also, could you try disabling the Xamarin.iOS Linker in the project's iOS Build property sheet?

It would also help us look at the assembly file so would you mind sending it to help@realm.io?

[2017-08-18 08:14] marcoseraphin commented on #254
Hi fealebenpae,

thanx for your help.

If I switch to iOS release I did NOT get the error.
Also if I change the Link behavior to "Don't link" obviously the error also does NOT occur.
The error occurs when setting the Link behavior to "Link Framework SDKs Only".

I will help you as much as I can. What do you need to eMail you to help@realm.io?

The binary assembly file ? Or source code ?
Please kee

[2017-08-18 08:21] fealebenpae commented on #254
Only the assembly, please. According to the MTouch log, it is located at `/Users/marcoseraphin/Desktop/AON-App/GitHub/saschafink/aon-digital-app.git/AonDigitalBroker/bin/Debug/AonDigitalBroker.dll`. I want to run it through Mono.Cecil with a debugger attached and see what's causing it to fail.

[2017-08-18 08:32] marcoseraphin commented on #254
Hi fealebenpae,

yep...I send the assembly binary file and the .config and .pdb file to help@realm.io.

Thank you

Marco

[2017-08-18 11:29] fealebenpae commented on #254
@marcoseraphin I tried to open the assembly using the Mono.Cecil built from source from the Xamarin.iOS 10.12.0.18 release, but I couldn't reproduce the error. I also looked at the disassembly of the offending `AonDigitalBroker.DBSettingsObjekt::set_Key(System.String)` method and it looks fine. Since we can't reproduce the error in a clean project I think that something else in your environment is

[2017-08-18 12:02] marcoseraphin commented on #254
I will send you an DropBox link of the zipped project without the source and resources files.

Perhaps interesting:

Compiling the Android projects I do get a similar error (Mono linker MarkException, Mono.Cecil.REsolutionException...

In this case NOT realm seems to be the source, but an NuGet package names Acr.UserDialogs.dll
(I am referencing version 6.4.1, NOT the current version 6.5.1)
=> htt

[2017-08-18 17:21] jasonmerino commented on #251
@morten-krogh  do you have an issue on get hub that I can subscribe to where you guys are tracking progress on this?

[2017-08-20 08:47] bmunkholm commented on #187
Closing this due to lacking response. Please open a new issue if a similar problem occurs.

[2017-08-20 08:47] #187 closed

[2017-08-20 08:51] bmunkholm commented on #206
Closing due to lacking response. Please reopen in case new information becomes available.

[2017-08-20 08:51] #206 closed

[2017-08-20 08:56] bmunkholm commented on #234
@DanielAsher Are you still experiencing this issue? Can you provide the requested info and login info to your server?

[2017-08-20 08:58] bmunkholm commented on #239
Closing due to lacking response here. Please provide additional info and reopen the issue if needed.

[2017-08-20 08:58] #239 closed

[2017-08-21 08:40] #250 closed

[2017-08-21 14:34] morten-krogh commented on #251
@jasonmerino I don't know if there is a public issue. We will keep this issue open.

[2017-08-21 15:04] jasonmerino commented on #251
@morten-krogh that works for me. Thanks!

[2017-08-22 00:15] misterlib opened #255 "Realm Object Server was running, now won't restart"
Everything was working fine, no spikes shown in server. Has failed and won't restart

## Goals

Start the realm object server.

## Expected Results

Server starts

## Actual Results

It says in the status that it can't restart, that there is an Error: Not a valid RSA public key

## Steps to Reproduce

sudo systemctl start realm-object-server

## Code Sample

## Version of Realm and Tooling

- Real

[2017-08-22 00:15] misterlib commented on #255
Not sure if that actually uploaded the last log.  Just in case, here it is:

[realmobjectserverlog.txt](https://github.com/realm/realm-mobile-platform/files/1240438/realmobjectserverlog.txt)

[2017-08-22 03:07] misterlib commented on #255
Looks like the server was out of space.

I am looking into resizing it.  But I have a question about the tmp files.

`df -h
Filesystem      Size  Used Avail Use% Mounted on
/dev/root        95G   90G     0 100% /
devtmpfs        3.9G     0  3.9G   0% /dev
tmpfs           3.9G     0  3.9G   0% /dev/shm
tmpfs           3.9G  394M  3.6G  10% /run
tmpfs           3.9G     0  3.9G   0% /sys/fs/cgroup
t

[2017-08-22 08:55] kvap commented on #255
@misterlib This is just temporary data which can be deleted. But it will be better if you store this data somewhere else at least for some time, in case the internal clients in `object-server` had't been able to upload all changes to the sync server before crashing. If they are way ahead of the sync server, then you can lose some user auth data.

[2017-08-22 13:19] misterlib commented on #255
Thanks for your reply @kvap.

Can you explain a bit further what you mean by user auth data?  Does that mean that they won't be able to login?

Also, when you say "way ahead" I'm assuming that you mean that they've made a bunch of changes on their device offline (due to server being down or just no connectivity).  When they reconnect, those changes wouldn't be able to be synced?

Also, this seems

[2017-08-22 13:52] kvap commented on #255
@misterlib Parts of the object server also use the sync server internally as clients. They keep "local" synchronized realms in that `tmp` dir. It should be safe to delete those files, the ones that are needed will be re-created. There can be a rare case when a user has registered, the auth part of the object server has put the relevant info into `tmp`, but it has not yet synced that internally. If

[2017-08-23 04:28] cliftonlabrum opened #256 "ROS 2.0 Beta Thinks It's Running But It's Not"
I can't access to the Realm dashboard for my ROS instance. After logging into the server, I can see that the status shows the system is active and running:
<img width="1067" alt="running" src="https://user-images.githubusercontent.com/2513753/29598839-798e55e8-8780-11e7-8bf9-ada8c8faef71.png">
There doesn't seem to be anything notable in the recent logs: http://d.pr/n/m1kFYW

When I try to start,

[2017-08-23 08:17] probi86 commented on #127
Hi @bigfish24! This feature would be very important for us. I just tried to asyncOpen a realm which has a long history of transactions, but the actual realm file is basically empty, and it still takes a lot of time and network traffic to sync.

1. Can we still expect this to be released in September?
2. Will this feature be available for the developer edition of Realm?
3. Will there be a way to te

[2017-08-23 08:50] kvap commented on #256
@cliftonlabrum

Can you provide more details on the following?

1. ROS package version
2. OS
3. How you try to access the dashboard
3.1. Does it return anything if you connect from the server machine with `curl`, `wget`, etc.?
4. How you start/stop/restart the server
5. What you mean by "hangs". No log output, 100% CPU activity? Do you have to use `SIGKILL` to actually stop it?

Did it behave diff

[2017-08-23 14:24] Taco55 commented on #244
@austinzheng: I had some difficulty to find time for creating a reproduction case, and it took some time to discover where the issue exactly occurs in order to minimize the case. Hopefully, this case illustrates the problem.

Although it seems that permissions can be changed correctly, the output of `retrievePermissions` is not updated accordingly. What does not help to validate this, is that the

[2017-08-23 14:32] fealebenpae commented on #254
Hey @marcoseraphin,

Unfortunately I haven't had time to debug the Xamarin linker yet, but I believe the newest Xamarin.iOS release - [10.12.0.20](https://developer.xamarin.com/releases/ios/xamarin.ios_10/xamarin.ios_10.12/#Xamarin.iOS_10.12.0.20), might have a fix for this issue, specifically https://bugzilla.xamarin.com/show_bug.cgi?id=58834. Could you please try updating Xamarin.iOS and see if

[2017-08-23 14:45] cliftonlabrum commented on #256
Somehow, without me doing anything, it is suddenly working again this morning.

1. `realm-object-server-developer` version `2.0.0-rc2-285`
2. Ubuntu 16.04.3 x64
3. I try to access the dashboard via the URL I set up weeks ago like this: `https://sync.mydomain.net:9443` I can SSH into the server just fine, but I hadn't tried `curl` or `wget`.
4. I use these commands:
[code]
5. I would type `sudo sys

[2017-08-23 22:21] bigfish24 commented on #127
@probi86

1. Yes
2. Yes
3. First open is always going to be more performant not just because of the ability to send the data as the download, but also because it prevents the server from merging out of order changesets (such as if you open the Realm offline, write to it, then connect. The local writes need to be merged back into an eventually consistent order. Obviously if you are targeting offlin

[2017-08-23 23:29] misterlib commented on #255
Ok, I upgraded my server on linode from:

Linode 8GB | 8 GB | 4 Cores | 96 GB SSD | 4 TB | 40 Gbps | 1000 Mbps
to
Linode 24GB | 24 GB | 8 Cores | 384 GB SSD | 16 TB | 40 Gbps | 2000 Mbps

The server is still consistently crashing whenever a large spike hits it, particularly when my users are first getting set up.  They may have a 50-20mb realm, and it hits the server and it spikes and just starts

[2017-08-24 07:23] marcoseraphin commented on #254
Hi,

yes......I installed the new stable update for Xamarin.iOS 10.12.0.20 and as noted in the release notes the MTOUCH error is gone even if I set the linker option to "Link Framework SDKs only".

So it was not your fault or an error in the Realm package as wrote before.
It was an error in Xamarin.

So thank you very much for your help. I still get the linker in my Android project...I have to see

[2017-08-24 07:51] kvap commented on #256
@cliftonlabrum Can you please raise the log level to `debug` and then, next time the server hangs, send the log (or a link to it) to `help@realm.io`? It would help us very much in investigating.

[2017-08-24 08:31] kvap commented on #255
Does it keep crashing for the same reason (no disk space)? If not, it would be interesting to know why it crashes, any log messages or core dumps.

[2017-08-24 08:49] kvap commented on #255
@misterlib It would be great if our team could get ssh access to the server. Please write to `help@realm.io` if you would like us to do that.

[2017-08-24 21:55] cliftonlabrum commented on #256
Will do. Thanks.

[2017-08-24 22:05] cliftonlabrum opened #257 "ROS 2.0 Beta: Logs Page Shows No Content"
_Realm Object Server v2.0.0-rc2, Ubuntu 16.04.3, Chrome (Mac) Version 60.0.3112.101_

When I click on the **Logs** page, it doesn't show anything:

![image](https://user-images.githubusercontent.com/2513753/29690767-2b161460-88dd-11e7-92c1-cbecdd9ca045.png)
There are no script errors or asset 404s in the browser. I have tried a hard refresh in Chrome.

The debug logs from the server don't show any

[2017-08-25 09:10] kraenhansen commented on #257
Thanks for reporting this @cliftonlabrum. I've tried to reproduce the error by spinning up an Ubuntu 16.04 docker image running Realm Object Server v2.0.0-rc2 but I cannot reproduce this error.

I have a couple of followup questions that might help me narrow down the issue:
1. Can you confirm that this is the developer version of ROS that you're using?
2. From where / how did you install this vers

[2017-08-25 12:56] icanzilb opened #258 "ROS discards credentials if they contain punctuation, username exists"
## Goals

Create a user `eventblank_NSSpain@host` via the admin console and then login from an iOS app.

## Expected Results

Success.

## Actual Results

ROS rejects the credentials with the following message: `warn: auth.password: Handle request failed with: InvalidCredentials: The provided credentials are invalid or a user does not exist.: Given account: eventblank_NSSpain@host`

I tried many d

[2017-08-25 13:36] icanzilb commented on #258
Actually this is a duplicate of https://github.com/realm/realm-mobile-platform/issues/159 - the real problem seems to be the capital letters in the emails I've tried when looking how to repro

[2017-08-25 14:43] misterlib commented on #255
We are redoing stuff.  This shouldn't be an issue.  I'm going to close this issue and discuss our plan for fixing this problem in a new issue and make sure that it gets handled correctly.

[2017-08-25 14:43] #255 closed

[2017-08-26 18:05] icanzilb opened #259 "Can login with Realm Browser but credentials discarded when logging in from iOS"
## Goals

Login with the same credentials from Realm Browser and an iOS app

## Expected Results

Success.

## Actual Results

Fail.

## Steps to Reproduce

I create a user called 'admin1@host', then use a node app to log in as the user and add some data to a realm file. Then I give read-only permission to that file to another user 'event1@host'.

If I use Realm Browser to open the shared file wit

[2017-08-26 18:10] icanzilb commented on #259
Further, yes - the user does indeed have that read permission:

![image](https://user-images.githubusercontent.com/633862/29743898-8681fa26-8a9a-11e7-863a-8b5a7bbfdc1c.png)

and the user itself:

![image](https://user-images.githubusercontent.com/633862/29743900-9828dc54-8a9a-11e7-8393-5c3eefa8f5bf.png)

[2017-08-26 18:12] bdash commented on #259
You haven't shared the code you're using to authenticate + open the Realm in your iOS app. My suspicion is that you're not using async open when opening the Realm, which results in your iOS app creating the schema locally and trying to upload it. This means you end up attempting to perform a write operation on a Realm to which the user has only have read access. Using the async open API means that

[2017-08-26 18:21] icanzilb commented on #259
thanks @bdash , here's the complete connect function in the iOS app:

[code]

[2017-08-26 18:50] bdash commented on #259
What does `RealmProvider.event.setSyncConfiguration(…)` do? Does it do anything that could result in the Realm being opened synchronously?

Did you at some point in the past attempt to open the Realm synchronously before switching to async open? If so, you may need to delete and reinstall the app to clear out the changes that sync wants to upload but is unable to due to the permission issue.

[2017-08-26 18:58] icanzilb commented on #259
`setSyncConfiguration` updates a pre-canned configuration instance like so:

[code]

I deleted the app few times while trying to get connected to make sure there's no login leftovers of any sort. I'll reset the server and let you know if that changes anything.

[2017-08-26 19:05] icanzilb commented on #259
Ok, I did reset the server, deleted the iOS app from the device, and executed the steps exactly as I described them initially:
* create the two users via the dashboard
* connect from node.js as the owner and add data
* give read permission to the second user
* connect from realm browser is OK
* connect from the iOS app:

[code]

[2017-08-26 20:41] ewerx opened #260 "asyncOpen callback never called when offline"
## Goals

App waits for sync realm to be open at app launch before presenting UI by using asyncOpen() and waiting for callback.

## Expected Results

asyncOpen callback is called every time asyncOpen is called, with either an error or valid realm.

## Actual Results

When there is no network connection (airplane mode) and using a previously-authenticated SyncUser the callback is never triggered.

[2017-08-27 09:36] icanzilb commented on #259
And this is the function which gives the read permissions to the second user:

[code]

[2017-08-27 18:03] icanzilb commented on #259
@bdash found what the problem is. The iOS schema missed a field that was added in the Node.js app. The Node.js app initially creates the realm file on the server, so when the iOS app connects the schema doesn't match.

In that context the server error makes more sense `Permission denied (BIND, REFRESH)` but I reckon the real issue here is that the error message is vague.

In the situation, the err

[2017-08-28 13:23] #254 closed

[2017-08-28 16:52] cliftonlabrum commented on #257
Hi Kræn, thanks for following up. Answers below:

1. Yes, I'm using the developer edition. **2.0.0-rc2-285**
2. I was contacted by Avi Warner who told me about the beta, and then Adam Fish gave me the package URL to install it on Ubuntu. Perhaps that's because I'm part of the Realm MVP program. They were trying to help me avoid a migration later for an app I'm about to release.
3. No, I installed

[2017-08-28 22:09] cliftonlabrum commented on #257
Also, on that page, there are 3 HTTP requests made. Here are the calls and results:

**- 1 and 2 (same request twice) -**

`{"version":"2.0.0-rc2","flavor":"developer","setupRequired":false}`

**- 3 -**

`{"levels":["all","info","warn","error"],"path":"/var/log/realm-object-server.log","bufferSize":1000}`

I will email you my log file in case the app is failing to parse it when it pulls it from th

[2017-08-29 07:54] Taco55 commented on #244
In addition to my previous comment, I made a more detailed observation. In the following example user1 provides (write) permission to user2 and user3.

When `retrievePermission` is used to determine the permissions the output is:
- applied on user1: correctly indicating permission of user2, neglecting permission of user3
- applied on user2: correctly indicating users' permission
- applied on user3

[2017-08-29 16:14] austinzheng commented on #244
Thanks for the data. The Realm Object Server team is aware that there is a bug with retrieving permissions and are working on fixing it. If I have any further information to share I'll post in this thread.

[2017-08-30 10:53] kraenhansen commented on #257
Thanks for looking into this and for the answers!

It looks like the issue is the Log React component not mounting correctly. I suspected that this had something to do with the connection from that not being able to establish because the dashboard is served over HTTPs - but I cannot reproduce that myself.

Is this something you need acute? If not - I want to thank you again for submitting the issu

[2017-08-30 10:53] #257 closed

[2017-08-30 18:10] ewerx commented on #260
Related? https://github.com/realm/realm-cocoa/issues/5186

[2017-08-31 17:49] junqi opened #261 "Custom authentication provider's verifyIdentifier is not called"
## Goals
- Enable to login via Custom Authentication (Firebase) using RealmSwift

## Expected Results
- Custom authentication provider's verifyIdentifier is called
- Succeed in calling `SyncUser.logIn(with:server:timeout:onCompletion:)`

## Actual Results
- Custom authentication provider's verifyIdentifier is not called
- `SyncUser.logIn(with:server:timeout:onCompletion:)` returns error
    - cred

[2017-08-31 20:25] ewerx commented on #260
I have worked around this issue by adding a timeout so the UI is not blocked waiting for asyncOpen to return. If this is the expected behaviour of asyncOpen this issue can be closed.

[2017-09-01 06:14] cliftonlabrum opened #262 "Realm Files are Kinda Fat"
_ROS 2.0.0b-rc285, Realm 3.0.0-beta-2_

I'm not really sure which Realm repository to use when reporting this, but since I'm heavily reliant on the Realm Object Server, I'll put it here.

I have been migrating from an SQLite solution to Realm over the past year, and one thing has me worried.

I took a user's SQLite database and migrated it into a corresponding Realm (with similar data structure).

[2017-09-01 22:33] raul7angels commented on #100
FYI. In your docs you have "realm://" so please fix that. I had same issue with testing Realm by copying your own code from your docs :)

[2017-09-03 03:28] Damnum commented on #251
I have the same problem on React Native, realm-js library. It works on iOS. On Android, `Realm.open` hangs and never returns. I don't see anything special in the logs, even when setting `Realm.Sync.setLogLevel('debug')`. User is correctly logged in.

My synced realm is read-only and not encrypted. Setting `validate_ssl = false` does not help either.

I'm using no special code for iOS vs. Android,

[2017-09-03 22:26] ekimia opened #263 "How to not sync certain objects?"
Device specific object that should be persisted only in the local realm.

For example, I have an image snapshot of a dashboard. That snapshot is only meant to reflect the current user's last state when viewing a dashboard. Therefore, I don't want other users to see it.

[2017-09-04 00:53] bigfish24 commented on #249
@ajonno is this still a problem? Note I updated the Azure image to 1.8.3 last week.

[2017-09-04 21:23] Maxxan commented on #262
The big problem with ROS (at least 1.x, probably 2.x) as I've understood it, is that is saves every single operation since day one (so every insertion, deletion, rearrange, setting value etc). So compared to a "normal" database where the data is replaces with the latest version, Realm online database with just keep growing and growing. Especially realm lists seems to grow quickly.

[2017-09-04 21:26] Maxxan commented on #263
I think that you will need to use one realm for shared data and one realm for their personal state.

[2017-09-04 23:46] tehfailsafe commented on #17
Just found Realm and trying to make sense of this. My app needs to support mobile AND a web interface. Using React-Native on the mobile side is easy, but I'll also need a web CLIENT in vanilla React. Is this possible? Reading this thread is confusing, I don't need a `server-side process participate in the fun`, just another client...

Currently using `import Realm from 'realm'` and using it in a R

[2017-09-05 02:04] bigfish24 commented on #262
The 2.0 version you are using doesn't have log compaction yet. This should be addressed by that in upcoming versions.

[2017-09-05 02:17] cliftonlabrum commented on #262
That's good to know. Thanks, @bigfish24. Do you have any examples to set my expectations? Such as... a `100 MB` database before compaction would become about a `X MB` database after, etc.?

[2017-09-05 02:19] bigfish24 commented on #262
We have been seeing 80% reductions but obviously usage varies since compaction doesn't apply to some operations.

[2017-09-05 02:22] cliftonlabrum commented on #262
Okay, great. Thanks.

I'll close this and anticipate compaction in a future version.

[2017-09-05 02:22] #262 closed

[2017-09-05 03:47] ajonno commented on #249
Thanks Adam. I ran an instance on Digital Ocean after I couldn’t get this working on Azure. If you think this has been resolved via 1.8.3 on Azure feel free to close the ticket.

Cheers
Angus

From: Adam Fish <notifications@github.com>
Reply-To: realm/realm-mobile-platform <reply@reply.github.com>
Date: Monday, 4 September 2017 at 10:53 am
To: realm/realm-mobile-platform <realm-mobile-platform@nor

[2017-09-05 06:18] Maxxan commented on #262
Will the compact functionality be in the release version of ROS 2.0 or in a
later version?

[2017-09-05 08:12] DavidOliverDoswell commented on #258
I am having a similar issue but it has nothing to do with capitalized characters in my email addresses. I've created several accounts in the Realm Dashboard and they all give me the same error in Xcode's console when I log into my app :

`Handle request failed with: InvalidCredentials: The provided credentials are invalid or a user does not exist.: Given account:`

Here's my code:

` SyncUser.logI

[2017-09-05 08:24] DavidOliverDoswell opened #264 "Realm Object Server Returns Invalid Credentials from iOS App"
## Goals

Log into Realm Object Server from iOS app

## Expected Results

Success

## Actual Results

`fatal error: Optional(Error Domain=io.realm.sync.auth Code=611 "The provided credentials are invalid or a user does not exist." UserInfo={NSLocalizedDescription=The provided credentials are invalid or a user does not exist.`

## Steps to Reproduce

`SyncUser.logIn(with: SyncCredentials.usernamePa

[2017-09-05 08:26] DavidOliverDoswell commented on #264
I can`Connect to Object Server` and `Open Realm URL`, the latter with a token and with credentials. So I am certain it is something in my code client side. But just in case there was something else I missed... 😀

[2017-09-05 10:51] #249 closed

[2017-09-05 11:50] bigfish24 commented on #262
It will be in 2.0

[2017-09-06 01:04] DavidOliverDoswell commented on #264
Setting the `register` parameter to `true` fixed the issue. I did not include it in my initial `SyncUser.login` constructor:

`SyncUser.logIn(with: SyncCredentials.usernamePassword(username: username, password: password, **register: true**), server: URL(string: "http://************:9080")!) { (user, error) in
}`

However, I am able to log in again with the same `true` credentials without an error.

[2017-09-06 01:04] #264 closed

[2017-09-06 07:11] #263 closed

[2017-09-06 07:11] ekimia commented on #263
thanks!

[2017-09-07 03:37] Damnum commented on #251
@morten-krogh could you have look at my logs? On the client site, the Android log is silent: The call `wait_for_download_completion` just hangs and never returns.

[server-log-ios-WORKING.txt](https://github.com/realm/realm-mobile-platform/files/1283373/server-log-ios-WORKING.txt)
[server-log-android.txt](https://github.com/realm/realm-mobile-platform/files/1283374/server-log-android.txt)

[2017-09-07 07:25] DanielAsher commented on #234
Hi Brian,
sorry not to follow this up. I am still experiencing this issue, though it
seems not to affect a couple of my colleagues. I assume that my browser
configuration could be influencing this (perhaps ad blockers?) as I
experience it on both Chrome and Safari. I've not had time to dig in as we
require an ability to edit our data (so a bespoke mechanism has been more
important to us)
Thanks,
D

[2017-09-07 08:42] morten-krogh commented on #251
@Damnum I will look at it soon.

[2017-09-07 17:04] APUtils commented on #244
If i try to create several synced realms together and then asks for `retrievePermissions` only first is returned. I have to dispatch them async one after another to make it work. Seems related.

[2017-09-07 17:57] austinzheng commented on #261
@mbalex99, this looks very much like a ROS-side issue. Do you mind if I assign it to you?

[2017-09-08 06:53] EmysDanny opened #265 "Help me with the SetupRealm()"
Hello i have a problem with using a realm. When running the program that i copied from https://realm.io/docs/tutorials/realmtasks/#create-a-new-xcode-project
i can't run it. When i run it, suddenly the func setupRealm()  became error
i don't know what supposed to write in this code about the username and the password
![snip20170908_3](https://user-images.githubusercontent.com/31758739/30199184-c77

[2017-09-09 02:31] DavidOliverDoswell commented on #265
Hi, EmysDanny

Enter the username and password you used when you first downloaded the Realm Object Server (ROS) in the Getting Started section. You should already have the ROS running. The ROS expects the values from your Mac or iOS client to match those server-side. If you've forgotten these values, delete the admin user from the ROS (again, assuming you're logged in) and sign up again as a new u

[2017-09-09 14:18] misterlib opened #266 "Object Server Search"
Using the search bar on v.1.8.3 seems incapable of returning a result

## Goals

Search for the Owner name in the search field rather than clicking through the pagination and manually trying to spot the owner.

## Expected Results

Type the Owner name into the search field and have that row be returned for access.

## Actual Results

Type the Owner name into the search field, and 0 results are ret

[2017-09-10 04:35] PierBover opened #267 "Go server SDK"
I've seen there is a .NET SDK for accessing a Realm server from another server.

Is a Go SDK on your roadmap?

[2017-09-11 08:01] bmunkholm commented on #267
We expect to add other SDK's for server side access. The next one will be Java, and other options, including Go, depends on interest. So I'll keep this issue open for other to upvote :-)

In the mean time you can access the server from any language via a REST API that will soon be available.

[2017-09-11 11:23] morten-krogh commented on #266
Thanks for reporting this bug.
Did you use the id of the owner?

Anyway,  we will soon release a new UI for ROS where it is possible to find all Realms for a user.

[2017-09-11 11:28] #265 closed

[2017-09-11 12:13] morten-krogh commented on #258
Thanks for reporting this issue.
Indeed, there is a problem with certain characters in user names.

We will look into it.

[2017-09-11 12:17] morten-krogh commented on #258
We will soon have a new release with this issue fixed.

[2017-09-11 12:39] morten-krogh commented on #259
The 206 permission denied error looks very misplaced. It appears at the "wrong" point in the log
file.

It is unrelated to the schema mismatch.

What you see is rather strange.
Did the permission_denied error really disappear because you added a field to the schema?

Can you still reproduce this scenario?

[2017-09-11 12:46] misterlib commented on #266
I'm not sure if it is what you call the ID (because it doesn't say ID anywhere in the UI), but I use the name that is shown in the Owner column.  I see that searching for the random string of characters in the Path column works, but not the human readable name from the Owner column.  Which, there's no reason that I would know the path from a customer service standpoint of needing to find a user's

[2017-09-11 12:57] morten-krogh commented on #266
I agree that the search should work on the name not just the id.

The reason I closed it is that we will release a new UI that solves this.
We will not be doing any work on fixing the current version.

I have reopened it. We can keep the issue open.

[2017-09-11 14:15] morten-krogh commented on #251
@Damnum

Yes, the log for the Android client shows that the server receives nothing from the Android
client.

We will look into this.

[2017-09-11 14:20] PierBover commented on #267
That is great news. Do you think the REST API will be available this year?

[2017-09-12 07:43] icanzilb commented on #259
Is this a priority to fix if I can still reproduce it?

[2017-09-12 08:05] morten-krogh commented on #259
Yes, It looks so strange that I think we need to understand how it could happen.

[2017-09-12 08:53] ashhanai commented on #261
Try instantiating provider on client like `Provider("custom/firebase")` instead of `Provider("firebase")`

[2017-09-12 16:20] junqi commented on #261
@ashhanai

This works! Thank you very much!! 😇

[2017-09-13 09:25] ashhanai commented on #261
Maybe it is worth considering changing the Realm Mobile Database documentation from `Provider("myauth")` to `Provider("custom/myauth")` in Swift case and similarly in others. It would be more accurate.

At this time it is only in JavaScript docs.

[2017-09-13 11:41] Dids opened #268 "Web interface is caching too aggressively (thinks I'm logged in)"
## Goals

I'm trying to use the web interface to do diagnostics and maintenance every now and again.

## Expected Results

Realm Object Server's web interface should properly show the login screen when I'm not logged in or when my session has expired, ignoring any cached data.

## Actual Results

Realm Object Server's web interface thinks I'm logged in, allowing me to click around, although some e

[2017-09-13 11:51] eXeDK commented on #261
Maybe the SDKs should be aligned then

[2017-09-13 14:37] icanzilb commented on #259
[259-test.zip](https://github.com/realm/realm-mobile-platform/files/1299772/259-test.zip)

@morten-krogh Do the following:

1. create 2 users on ROS
2. open the Node app in the zip, install modules, and then edit the file to replace the few config constants at the top of the source file - include login for the Read-Write user (the first user you created) and the ID of the read-only (the second use

[2017-09-13 14:40] morten-krogh commented on #259
@icanzilb Thank you very much. I will look into it at some point given time.

[2017-09-13 14:45] icanzilb commented on #259
@morten-krogh For the time being even a correct error message will do wonders for user experience

[2017-09-13 16:30] AlekseyKolosovskiy commented on #228
Hi!
We have similar issue. On every client login, CPU usage 100% for 3-8 seconds.
We just released our app on AppStore. And this issue is not good for us.
When version 2.0 will be available? Will it remove this issue?

[2017-09-14 10:09] morten-krogh commented on #268
Thanks for reporting the issue.
We will soon release a new, and better, UI for the Realm Object Server.
We will not fix the issue with the current web interface.
I will close this issue since it will (hopefully) be resolved by the new UI.
If the problem still persists, we can open a new issue.

[2017-09-14 10:09] #268 closed

[2017-09-15 05:33] AlekseyKolosovskiy commented on #228
Is anybody here?
I send email 2 days ago to @bigfish24, but no answer receive. Its very critical bug, users cant normal register in our app. Now 100% CPU usage up to 30 seconds on every user creation.
This is not good behaviour for the service with price $1750 in month. We as a potential customers not understand this.

[2017-09-16 08:09] omidraha commented on #148
Hi,
Is there any source code for syncing process section, or technical post about how syncing  is done?
Currently i use realm on the client side,
But, for some reason i can't use object server on the server side,
So i want to implement simple small application for sync data between client and server on the server side. (and also one background task on the client side)
Actually i just want to know

[2017-09-21 06:45] hoathuongphuoc opened #269 "Memory is increase when add multi row to realm"
Hi all, I have 1 issues about add object to realm. So, i have data about 40000 records and i need to add it to realm but i try to use for loop to add it, so memory in app is increase so much. Everybody have another solution can help me. Thanks so much. This my source.

[code]

[2017-09-21 14:10] anujjpandey11 commented on #235
Thanks for adding error code in update it will help alot

[2017-09-21 14:10] #235 closed

[2017-09-24 21:02] bmunkholm commented on #260
@bdash Can you comment on this?

[2017-09-25 03:11] bdash commented on #260
This is the same issue as realm/realm-cocoa#5186. While it talks about read-only Realms, there's nothing specific to read-only Realms in how `asyncOpen` works. Let's continue to track this via the realm-cocoa issue for now.

[2017-09-25 03:11] #260 closed

[2017-10-03 04:27] YeWintNaing05 opened #270 "he repository 'https://packagecloud.io/realm/realm/linuxmint serena Release' does not have a Release file."
## Goals

Getting started with realm in linux mint 18.0
## Expected Results
Working database with realm and to see realm object server

## Actual Results
I got this error "Unable to locate package realm-object-server-developer"
and "The repository 'https://packagecloud.io/realm/realm/linuxmint serena Release' does not have a Release file."

## Steps to Reproduce

I ve followed the setup instructio

[2017-10-05 06:41] bmunkholm commented on #269
Hi @hoathuongphuoc!
I suggest you make multiple commits (writes) instead of one big of 40000. E.g. make a write for every 500 objects.

[2017-10-05 06:42] #269 closed

[2017-10-05 07:39] sytolk commented on #177
I have the same issue with Debian stretch. Install script run successful and create file:
[code]
but `aptitude update` failed:
[code]

[2017-10-05 07:44] sytolk commented on #270
related https://github.com/realm/realm-mobile-platform/issues/177

[2017-10-05 07:53] Zhuinden commented on #40
Partial Sync is going to be the big feature of RMP 2.x!

Woo!

[2017-10-05 13:12] misterlib commented on #266
Any timeline for the new release?

Every day I click through my entire list of hundreds of realms, manually looking for the right names in order to support customers.  Losing so many hours because search is manual.

[2017-10-05 13:43] nishanthvasu commented on #135
HI bmunkholm ,

Is there any example code available for "Realtime Collaboration, Now For Every Mobile Developer" in github ?

Thanks,

[2017-10-05 17:39] samskiter commented on #40
🎉 Great news!

Relevant and related is Facebooks GraphQL: https://code.facebook.com/posts/1691455094417024/graphql-a-data-query-language/

[2017-10-05 19:39] adolgov commented on #127
Hi @bigfish24,

Is there an update to the status of this issue? I'm assuming that September is no longer the expected release timeframe.

I did see a 2.0.0rc1 release of realm-dotnet that referenced a 2.x release of realm-mobile-platform; however, none of the listed features seemed to imply the functionality described in this issue.

[2017-10-06 05:45] nirinchev commented on #127
The .NET changelog only lists features added to the SDK itself, whereas this is a server-side feature that will be covered by the ROS changelog.

[2017-10-06 08:22] bmunkholm commented on #135
@nishanthvasu It's best to create new issues, instead of adding to others that are closed. But to answer quickly on this, please checkout https://github.com/realm-demos.

[2017-10-06 09:45] nishanthvasu opened #271 ""Realtime Collaboration, Now For Every Mobile Developer" - Java"
@bmunkholm Thanks for the info Dude!!

As per the answer from you, I cant find any Java or Android Demo's present in this link "**https://github.com/realm-demos**". All Demos are related to swift,objective C only mostly. So i am looking for a demo with **Java or Android** for "**Realtime Collaboration, Now For Every Mobile Developer" .**

Thanks,

[2017-10-06 12:03] bmunkholm commented on #271
How about this from the Docs?
https://realm.io/docs/get-started/android-demo-app/

[2017-10-07 03:12] bigfish24 commented on #266
@misterlib you can check out the beta here: https://realm.gitbooks.io/realm-object-server/

[2017-10-10 07:59] #271 closed

[2017-10-15 23:41] Dumanix opened #272 "Can not uninstall"
I have installed and couldn't use it. I used npm uninstall realm but it is still there. I can only run my app on a simulator. When i try to run in my phone using xcode, i am getting error "ld: library not found for -lRealmReact"

Can someone help how to completely remove realm?

[2017-10-16 01:36] tlhunter commented on #270
I've had this issue a few times when installing Ubuntu software on Linux Mint. The problem is that Mint reports its release name as `serena`. Most APT repositories don't know about Mint, just Ubuntu, and expect the Ubuntu equivalent, e.g. `zesty`.

I think at this point the APT source file has been created but with the wrong release name. Try editing the following file and replacing occurrences of

[2017-10-17 08:59] saturngod opened #274 "Taking Too much storage"
I am using realm mobile platform in Ubuntu 17.04 with 30 GB external HD. After over 1000 records , the disk is full. I already disable the backup. Is there any missing in my config ? It take more disk storage than other database for the records.

[2017-10-20 18:37] adisain opened #277 "My Realm Database would not always integrate with my app builds, especially on the first run, either on Device or Simulator. Apple rejected my app for this reason"
## Goals

## Expected Results

## Actual Results

## Steps to Reproduce

## Code Sample
//I have placed this code in app delegate
   func openRealm() {

        let initialURL = Bundle.main.url(forResource: "default", withExtension: "realm")!
        let defaultURL = Realm.Configuration.defaultConfiguration.fileURL!

        if Realm.Configuration.defaultConfiguration.schemaVersion == 0 {

[2017-10-22 01:27] larryseyer opened #278 "realm-object-server-developer fails during install onto Ubuntu at Digital Ocean"
I believe I have found a bug in the installation of a new Realm Mobile server using Ubuntu on Digital Ocean  ... (using sudo apt-get install realm-object-server-developer)

I followed the installation instructions found at realm.io and I consistently get an error when trying to install the server.

Having Destroyed and rebuilt a server several times now each time I get the same results.

After ins

[2017-10-22 06:02] bmunkholm commented on #270
@YeWintNaing05 We made a new 2.0 release that has a new installation method, which hopefully gets's around all those platform-specific issues. Please try that instead and let us know if that solves it for you?

[2017-10-22 06:06] bmunkholm commented on #272
@Dumanix Could you please describe in details (with exact commands) how you have installed Realm and how you are trying to uninstall it?
Also how are you referring to Realm since you are still getting references to it?

[2017-10-22 06:09] bmunkholm commented on #274
@saturngod Please keep the issue template that's provided and fill out the details, so we can better help you.
E.g. which version are you using? Can you share more details? Can you let us know how often these records are being updated?

[2017-10-22 06:16] bmunkholm commented on #277
@adisain This appears to be an issue with the iOS SDK. Please report that in the https://github.com/realm/realm-cocoa repo and fill in all the details. Especially version and how to reproduce.
Thanks!

[2017-10-22 09:30] larryseyer commented on #278
I have more information after trying it another droplet...

Failed at the lzma-native@3.0.1 install script 'node-pre-gyp install --fallback-to-build && node node_modules/rimraf/bin.js build'.
npm ERR! Make sure you have the latest version of node.js and npm installed.
npm ERR! If you do, this is most likely a problem with the lzma-native package,
npm ERR! not with npm itself.
npm ERR! Tell the aut

[2017-10-22 11:15] nirinchev commented on #278
The installation procedure for 2.0 is different from the one for 1.x and it seems like you are following the instructions for 1.x - 2.0 is installed via npm, not apt. Can you verify you're following the [correct getting started guide](https://realm.io/docs/get-started/installation/developer-edition/#installing-realm-object-server)?

[2017-10-22 12:46] cyril94440 commented on #17
Any news about that?
I've been comparing a lot Firecast (new Firebase DB) and Realm Mobile Platform lately.
But if there is no way to manage Realm data from the server-side without paying $1500, that's an easy choice...
All IaaS / SaaS are offering scaling pricing, or even free credit at the beginning, so that a lot of companies can start cheaply and pay when they scale and succeed.
Why such a dif

[2017-10-22 13:28] Zhuinden opened #279 "Realm Partial Sync question : are links recursively Eagerly synced to local Realm?"
I'm asking this to answer https://stackoverflow.com/questions/46509810/realm-mobile-platform-architecture-thousands-of-realms-vs-big-realm-files/46836088?noredirect=1#comment80695018_46836088

If you define a relation from one object to another (object / list), then if you subscribe to an object by results of partial sync query, all its linked objects and relations are synchronized down with it, c

[2017-10-22 15:13] nirinchev commented on #279
Yes, the entire object graph is synchronized eagerly at the moment. With a future release we'll provide API for more fine gained control.

[2017-10-22 15:30] Zhuinden commented on #279
Figured that's the only possible way the API could work, thanks :smile:

[2017-10-22 15:30] #279 closed

[2017-10-22 16:46] schwarja opened #280 "Cannot connect to realm from Swift SDK"
Hi,

I try to run my iOS app with Realm Object Server, but I am not able to connect to any Realm.

Steps I took:

1. I imported RealmSwift SDK version 3.0.0 with CocoaPods to my app
2. I downloaded Realm Mobile Platform macOS Bundle version 1.8.3
3. I ran `start-object-server.command` script
4. The object server is up and running and when I call `SyncUser.logIn` I can successfully log in

Until th

[2017-10-22 19:07] larryseyer commented on #280
I wonder if this is the same issue that I am having here:

https://github.com/realm/realm-mobile-platform/issues/278

I can connect via web (i.e., I can log in) but I cannot connect via the console.

L

[2017-10-22 23:39] nirinchev commented on #280
Realm Swift 3.0 is not compatible with the Realm Object Server (Realm Platform) 1.x. Please follow the instructions [here](https://realm.io/docs/get-started/installation/developer-edition/#installing-realm-object-server) to download and install 2.0.

[2017-10-23 04:56] jaisontj opened #281 "Check if a certain permission has been applied to a realm (sync)"
## Goals
I have a few realms which I want to share between different users. I have an admin app which creates these tables of type T1 at realm paths of /tableName and then applies a user wide read permission on these (UserCondition.noExistingPermissions()). Similarly, I have tables of type T2 at paths /tableName which require a user wise Write permission. Currently, each time the app starts, I app

[2017-10-23 06:09] schwarja commented on #280
I have already tried that and it worked for me, but it worked just locally. Then I wanted to deploy Realm Mobile Platform on Azure and it deployed the version 1.8.3 without any option to select a version.

[2017-10-23 10:09] molind opened #282 "ROS 2.0 and CloudkitAuthProvider"
## Goals

Authenticate user using CloudkitAuthProvider

## Expected Results

User is authenticated or meaningful error is returned

## Actual Results

Internal server error happened. There is no check on userInfo inside error, but it tries to read reason from it. As result an exception inside catch block.
[code]

## Steps to Reproduce

Setup CloudKit authentication. Try to authenticate.

## Code S

[2017-10-23 10:15] molind commented on #282
P.S. seems your internal CloudKit public key bundled inside `node_modules/realm-object-server/dist/auth/cloudkit/fixtures`

[2017-10-23 13:02] kgiroux opened #283 "Feature : Realm Studio : Save Connection"
## Goals

Save the connection params to the realm in Realm Studio

## Expected Results

Saving the params, users, and password for an easy connection

## Actual Results

Nothing,

- Realm Object Server Version: 2.0

[2017-10-23 20:46] probi86 commented on #127
We just installed ROS 2.0, updated to RealmSwift 3.0.0 on the client, and it seems there's no improvement for this issue. Opening an almost empty realm, with a long history of insertions and deletions takes a lot of time and bandwidth. Is there a setting on ROS 2.0 to turn this on? Thanks!

[2017-10-24 00:39] larryseyer commented on #278
Yes, I'm sure.

Watch this:

https://www.youtube.com/watch?v=qxx837kVceA

[2017-10-24 06:37] morten-krogh commented on #127
There is no setting right now, but we can introduce a setting rather fast. The memory consumption of the server will go up temporarily, but the network activity will be low if the objects have been deleted.

[2017-10-24 06:39] bmunkholm commented on #283
@kgiroux Sure - absolutely. That's already on the backlog to get made together with a list of recent connections/files opened.

[2017-10-24 06:41] #243 closed

[2017-10-24 06:43] bmunkholm commented on #234
@DanielAsher Please try out the new Realm Studio: https://realm.io/docs/realm-object-server/latest/#realm-studio-1 and let us know if you still experience issues.

[2017-10-24 06:43] #234 closed

[2017-10-24 06:44] bmunkholm commented on #256
@cliftonlabrum I'm closing this one now, but should the problem reappear with the latest release please create another issue.
Thanks!

[2017-10-24 06:44] #256 closed

[2017-10-24 06:48] bmunkholm commented on #244
@austinzheng @APUtils @Taco55 Is this still a problem with ROS 2.0?

[2017-10-24 06:52] austinzheng commented on #244
To elaborate, ROS 2.0's permissions system was rewritten from ground up, so this problem should be gone now. If it's still around we'd be very interested in any reports, so we can figure out how to fix it.

[2017-10-24 08:20] nirinchev commented on #278
I think you missed a step:
[code]

After running `node -v`. Additionally, when installing ROS from npm, because you're doing it as root, you need to add `--unsafe-perm`:

[code]

We have it as a comment in the snippet, but I guess it's not obvious enough, I'll bring it up with the docs team to figure out how to make it clearer.

[2017-10-24 08:42] remirobert opened #284 "HTTP: Failed to switch protocols (response status = 404)"
Bugs:

I am using a digital ocean droplet for my realm server instance.
On my iOS app I got that error :

[code]

I can login and create a user from this app. But impossible to push data.
I can connect with the realm dashboard just fine.
For now my server is not using https.

## Version of Realm and Tooling

- Realm Object Server Version: ?
- Flavor:
  - [x] Developer
  - [ ] Professional
  - [ ]

[2017-10-24 08:44] bmunkholm commented on #280
@schwarja Ahh yeah, we still haven't updated the Azure installation yet. That will be coming up shortly!

[2017-10-24 08:47] molind commented on #282
Exception returned to CloudkitAuthProvider signedRequest:

[code]

[2017-10-24 08:51] kgiroux commented on #283
I try to found the back log, but without success. Can you give me a link. It will be usefull for me to not create duplicate

[2017-10-24 09:16] molind commented on #282
reproduced on ROS 2.0.6

[2017-10-24 10:34] larryseyer commented on #278
Thank you.

I was able to get the Realm server running as long as the terminal window is open... but the moment I close my terminal window, it no longer works.

Also, going to http://x.x.x.x:9080 displays only the following:

Cannot GET /

Realm Console seems to work, however.

L

[2017-10-24 12:49] bmunkholm commented on #278
@larryseyer That's a great bug report! Thanks! What tricks us up in the first description is the "sudo apt-get install realm-object-server-developer", which is not part of the new install instructions.

I tried to replicate the error, but starting a completely new droplet (1 GB) worked flawlessly. BUT if I make an error like forgetting the --unsafe_perm, then it's very hard to get into a working s

[2017-10-24 12:52] bmunkholm commented on #278
If you close the terminal window, the process ROS is running in is also stopped. Consider leaving the terminal open if you are only testing, or use pm2 (https://realm.io/docs/realm-object-server/latest/#going-into-production).
We have removed the web dashboard and replaced it with Realm Studio.

[2017-10-24 17:47] bigfish24 commented on #284
What version of the server are you using?

[2017-10-24 19:33] remirobert commented on #284
I am using the version 2.0.4

[2017-10-24 20:14] doovers commented on #34
@bmunkholm Also very interested in the peer to peer use case for offline capabilities. Is there any update on this a year since this question was originally posted?

[2017-10-24 20:18] bmunkholm commented on #34
@doovers Unfortunately it's not something we have explored further. We have been way too busy with other priorities. Would love to be able to do it all if we had unlimited resources :-)

[2017-10-24 20:20] doovers commented on #34
@bmunkholm Thanks for the update!

[2017-10-24 20:20] bmunkholm commented on #34
Your welcome - sorry it wasn't better :-)

[2017-10-24 20:58] larryseyer commented on #278
The documentation on the website is somewhat confusing to me.  In some places it says one thing and in others it says something else.

I apologize if I am missing something here.

Also, the videos have a step-by-step explanation that I followed originally and they differ from the current website text... so I guess you guys are in transition from 1.0 behavior to 2.0 behavior?

In the meantime, thos

[2017-10-24 22:30] bigfish24 commented on #282
@molind I am looking into this now

[2017-10-24 22:32] bigfish24 commented on #284
@remirobert the 2.0 version of the server requires 3.0 of realm-cocoa to connect to it. I will make a note to call this out stronger in the documentation.

[2017-10-24 22:34] bigfish24 commented on #278
@larryseyer apologies for the confusing docs, I have created issues to improve them based on your feedback. Let us know if you can get it working with PM2 and `ros init` which is the recommended way to setup for production use.

[2017-10-25 00:13] larryseyer commented on #278
Thank you.

I installed PM2 and gave it a whirl...   It seemed to install just fine.  I need to read up more about how to use it.

For now, I think I will destroy the current server and wait until you guys have better documentation.

During the programming part of this project I need to know that any bugs I find are actually MY bugs and not something that's not right with the server.

I can always

[2017-10-25 06:57] ianbradbury-bizzibody commented on #278
@bigfish24 - Hey Adam.  Please please please can you beef up the documentation regarding configuring ROS (v2)?

The documentation that exists is super light - such that I've been unable to figure how to configure ROS to use HTTPS!

I can get it to run HTTPS using the command line switches - but no idea how to configure using a script for development/production.  Improved documentation in this area

[2017-10-25 08:33] molind commented on #282
@bigfish24 Thanks!

BTW could you add import paths for
`import { CloudkitAuthProvider } from "../node_modules/realm-object-server/dist/auth/cloudkit/CloudkitAuthProvider"`
into documentation. It's was quite difficult to guess it from unexperienced TypeScript developer.

[2017-10-25 16:52] gerbil802 commented on #16
Can't see it's in 2.0, I hope to hear updates about this...

[2017-10-25 21:57] bigfish24 commented on #16
@gerbil802 apologies but our documentation needs improved in this area. A user can change his/her own password. See the Obj-C docs: https://realm.io/docs/objc/3.0.1/api/Classes/RLMSyncUser.html#/c:objc(cs)RLMSyncUser(im)changePassword:completion:

Apologies that the Swift docs don't appear to list it and we need to update /docs as well.

[2017-10-25 22:13] gerbil802 commented on #16
@bigfish24 Thanks but I believe there's a misunderstanding about this ticket.  The title says _Reseting user password_  but the description actually asks for a solution for _Forgot Password_. Should I open a new ticket for that?

[2017-10-25 22:27] bigfish24 commented on #16
How would you expect reset password to work? If it involves a traditional flow like email confirmation, then this is something you will need to build yourself as Realm doesn’t handle email. Luckily you have two options:
1. Custom authentication integration using an existing auth service such as Auth0 which offers such functionality. You can then integrate this into ROS. See https://realm.io/docs/r

[2017-10-25 22:31] gerbil802 commented on #16
Thank you. The link for the (2) does not work. (I wonder what are my options for "extending" a custom service - would that server trigger the reset password for user api?)

[2017-10-25 22:32] bigfish24 commented on #16
Sorry my copy and paste with Safari on iOS 11 doesn’t actually copy the URL! Manually fixed...

[2017-10-25 22:35] gerbil802 commented on #16
@bigfish24 Thanks! I are these extensions are available on the Developer edition?

[2017-10-25 22:41] bigfish24 commented on #16
Yes the idea with ROS 2 is to open up the fact that ROS is a web framework built on Express. It has a service based architecture with several “higher level” services like Authentication and Permissions, which expose routes and you can add your own service to add new routes. The core of ROS is the SyncService which is a C++ Native module wrapped in Node layer. ROS handles the incoming websocket con

[2017-10-25 22:42] bigfish24 commented on #16
Extending ROS is available in all editions, the higher paid editions allow you to scale out to more sync services, with DE you can only have 1.

[2017-10-26 07:11] caloon commented on #16
Sorry guys, but I've been subscribed to this issue for almost a year and you repeatedly post solutions to a problem that has never been asked (namely a user resetting his own password). This thread is about a native "forgot password" solution which is a basic requirement of any professional use of realm.

Auth0 isn't really a solution for me (and most likely many others) since it gets very expensi

[2017-10-26 12:47] #282 closed

[2017-10-26 20:30] ianbradbury-bizzibody opened #285 "ROS (v2.0.8) fails to start"
I have just completed a fresh install of ROS v2 onto a Digital Ocean Ubuntu 16.04 droplet.

When I start ROS : `ros start` I get the following output.

[code]

I notice that NPM is v6.11.5 - this was the default installed with the droplet.

Ideas?

## Version of Realm and Tooling
- Realm Object Server Version: 2.0.8 - Developer
- Ubuntu 16.04.3 (Digital Ocean)

[2017-10-26 21:18] ianbradbury-bizzibody commented on #285
I see 2.0.9 has *just* been released.

How do I upgrade?  I can't see anything in the docs on how to upgrade (and I nothing about NPM)

[2017-10-26 21:23] ianbradbury-bizzibody commented on #285
Figured it out.

[2017-10-26 21:31] ianbradbury-bizzibody commented on #285
I've upgraded to 2.0.9.

Similar problem - different error message.

[code]

[2017-10-27 03:08] bigfish24 commented on #285
Seems like your npm install is (silently) failing. What are the specs?

[2017-10-27 06:16] ianbradbury-bizzibody commented on #285
I have upgraded to 2.0.10 and the server starts.

However... the server will not recognise HTTPS.

My `src/index.ts` script looks like this:
[code]

And the server outputs this:
[code]

Because the documentation on these scripts is light - likely I have a syntax error.

[2017-10-27 06:55] bigfish24 commented on #285
You syntax looks ok, but I think you upgraded the global `realm-object-server`. To upgrade your project you will need to `cd MyApp (or whatever)` and then run `npm install realm-object-server` to update the `node_modules` for the project. We are working on a guide to dramatically improve our docs, thanks for bearing with us!

[2017-10-27 09:55] morten-krogh commented on #281
Are the tables in the same Realm. You cannot have tables with different permissions in the
same Realm.

But you should not have to set permissions every time you start the app. The permissions remain.

[2017-10-27 09:57] morten-krogh commented on #259
@icanzilb
Sorry for not having had time to look at this.
Do you think it is still relevant for 2.0?

[2017-10-27 10:27] morten-krogh commented on #285
I think it is
"https: true"
instead of
"httpsEnabled: true".

[2017-10-27 10:53] morten-krogh commented on #285
And
 "httpsKeyPath" instead of "httpsKey"
 "httpsCertChainPath" instead of "httpsCert".

I got the server to start with https. It should work for you.

[2017-10-27 15:13] Fjalmari commented on #285
I also had the similar problem and I'm not very familiar with node so I decided to share my working setup with https:

### Note:
I created the project with `ros init <name> --template js`

#### ./src/index.js
[code]

And launch the project with pm2 from project folder:
`pm2 start ./src/index.js --name <project-name>`