[2016-10-03 18:10] danogbuagu opened #1 "Installing ROS on Fedora"
I suggest enabling installation of ROS on Fedora - at least, to aid adoption.
Please, my problem is the inability to install Realm Object Server on Fedora - I know Fedora was not listed as a compatible OS; but I thought that what is good for RHEL should be good for Fedora 24.

[2016-10-03 19:20] NielsKoole opened #2 "Support for ARM"
Is there anyone who knows how to get the Realm Mobile Platform work on ARM devices? Would like to get it working on a Raspberry Pi.

[2016-10-04 08:06] teotwaki commented on #1
Hi @danogbuagu, and congrats on filing the first issue here :smile_cat:.

The main reason for focusing on RHEL and Ubuntu first is simply because those are obvious production targets. In my experience (which might be wrong), Fedora is usually more of a laptop/desktop environment than a server environment; these days anyway.

However, we'll take your suggestion under advisement. The main "blocker"

[2016-10-04 08:09] teotwaki commented on #2
Hi @NielsKoole,

We don't currently provide a build for ARM, so I don't think it's possible to get it running. The majority of the code is C++, which means we have to rebuild everything for arm.

Just for my information, which distribution would you be targeting on the RPi? Also, which version of the RPi would you be looking at?

Thanks,

[2016-10-04 08:19] NielsKoole commented on #2
Thanks @teotwaki for your response. Ai, rebuilding everything seems like a lot of work :/. Though a lot of new opportunities will open when it would be possible!

Distribution atm is Ubuntu but it doesn't actually matter to me. If it would be any other distribution I would install that one if that will do the job. I'm focussing on the RPI 3.

[2016-10-05 07:28] mobilestar0223 opened #3 "Has whole realm object in mobile device?"
Hello.
I'm very impressed on `**Realm Mobile Platform**` and this is amazing.
But I have one question about it.
Realm mobile platform synchronize local object to realm object server.
I think realm object is always stored in local and when mobile is online, this object is sync to server.
**So, mobile has same realm objects as amount of data that object server has, I think.**
Am I right or not.
**An

[2016-10-05 09:02] danogbuagu commented on #1
Thanks, Sebastian.
In my own part of the World, we are still learning (I mean, in a lot of
things). I might consider switching over to Ubuntu.

On 4 October 2016 at 09:06, Sebastian Lauwers <notifications@github.com>
wrote:

[2016-10-06 17:01] DiogoAndre commented on #3
Hi @mobilestar0223,

Currently, I believe yes. And based on a comment on a [StackOverflow question](http://stackoverflow.com/questions/39758576/realm-mobile-platform-can-realm-be-used-as-a-database) there seems to be a feature called _partial replication_ that will provide, well, partial replication.

[2016-10-06 18:53] mobilestar0223 commented on #3
Thanks, Diogo.

[2016-10-07 01:33] codefriar opened #4 "Able to connect to object server, but not open a realm."
Good evening.

#1  First off, love your work.

I'm using the newest version of realm-browser on osx el capitan. I can connect to my aws object server and see realms, but whenever I try to open one, it dies with a super helpful error message:
![image](https://cloud.githubusercontent.com/assets/642589/19176152/f912cee2-8bf1-11e6-9826-644ecb1bf40d.png)

Now I post this here for the mobile platform, b

[2016-10-07 07:27] teotwaki commented on #4
Hi Codefriar,

I might have missed this in your (very thorough) issue description, but just to point us in the right direction, did your setup work with the vanilla demo app, before your changes?

One thing I would recommend is that you bump up the log level on the server, to see if there's anything weird going on there. You can do so by changing the `logging.level` key in `/etc/realm/configuratio

[2016-10-07 07:41] teotwaki commented on #3
Hi mobilestar0223,

As Diogo indicated, yes, the server will use at least as much data as the client. In fact, the server has to keep a full history of all changes in order to allow new clients to get the Realm, so the server's storage requirements will always be at least the sum of all the clients' Realms.

As for your other question, whether you can use the Realm Mobile Platform as a "mobile bac

[2016-10-07 14:05] wigging opened #5 "Deploy Realm Object Server to Heroku"
As a feature request, I would like to suggest an option to easily deploy the Realm Object Server to Heroku. I am aware of the AMI image for Amazon services but a Heroku option would be another easy option for deployment. Are there any plans to support Heroku deployment?

[2016-10-07 14:15] hyling opened #6 "Incorrect Support Links"
On this page https://realm.io/docs/realm-mobile-platform/get-started/

The "Ask on Stack Overflow" link searches Stack Overflow for the realm xamarin and tag.  I would suggest changing this to just the realm tag.

The "Submit an Issue" links to submitting an issue in realm/realm-dotnet.

[2016-10-07 14:38] teotwaki commented on #6
Thanks for reporting this. I'll get it sorted ASAP.

[2016-10-07 14:39] radu-tutueanu commented on #5
Hello, @wigging , and thanks for submitting this feature request. We're happy to hear that you will be able to get up and running using the Amazon AMI (especially considering that you won't incur too high latency and no bandwidth charges, as long as you deploy in the same AZ). We're still considering our options with regards to Heroku integration.

What exactly would you have in mind? Would you li

[2016-10-07 15:18] ChrisHampel commented on #5
I would very much like to see this too. We are looking at using Realm Object Server and this is one of the concerns we have, as the rest of our infrastructure is on Heroku already. As for which is better: Self-hosting would be nice simply because then we have control over the server version, however, if you provided the ability to pick the version being run,as part of your hosted service,  say cur

[2016-10-07 16:42] radu-tutueanu commented on #5
Thank you for the input, @ChrisHampel . I can see how this kind of control would be important to you and we will keep that in mind.

[2016-10-07 18:05] codefriar commented on #4
@teotwaki,

First, thank you for your quick response. I'm currently focusing on opening a realm via realm browser connected to a linux aws instance. I'm using the newest version of the realm browser, downloaded late last night.

Your idea about logs was fantastic, and I'm somewhat ashamed i didn't think of it myself. As you said, it does provide a few more logs. Here's the log output generated whe

[2016-10-07 18:19] codefriar commented on #4
A few more bits of information that I've gleaned:

1. To answer your question, the demo code (OSX) works as expected out of the box, with a *local* instance of the mobile platform.

2. When I modify *only* the url address of the realm in shared/constants.swift from:

[code]

to

[code]

(dns name changed to protect my poor micro instance)
The goal here, is simply to point the demo osx task app at

[2016-10-07 18:28] cliftonlabrum opened #7 "Can anyone get the Realm Object Server to run on Ubuntu?"
I had a smooth experience installing the ROS on a new Digital Ocean Droplet running Ubuntu 16.04. But I'm unsure how to configure the server so I can view the ROS dashboard on the web.

Does someone have a functioning `configuration.yml` file they could share for an Ubuntu installation?

[2016-10-07 18:51] cliftonlabrum commented on #7
I finally got it to work temporarily by editing these lines:

[code]
But now when I run `realm-object-server --configuration /etc/realm/configuration.yml` I get the following error:

[code]

[2016-10-07 19:20] cliftonlabrum commented on #7
So I started a new Droplet on Ubuntu, installed the server, and it properly configured everything by default upon installation. I must have mistakenly changed something in `configuration.yml` that messed it up.

So for those looking for help, these are the steps I followed:

**1** - Install a fresh Ubuntu 16.04 Droplet (not a LAMP stack, just a basic Ubuntu install)
**2** - Follow these steps as d

[2016-10-07 19:20] #7 closed

[2016-10-07 19:55] wigging commented on #5
@radu-tutueanu When developing iOS and Mac apps, I prefer to spend most of my time developing the app and not the server side logic. So I tend to rely on services like Heroku that will maintain the server. The one-click provision would be the ideal situation.

[2016-10-07 20:43] kristofer opened #8 "when you don't have a head on the server you install on..."
so is there anyway to register a new admin user other than http://127.0.0.1:27080 ??
what do I do if it's headless server on digital ocean?

so I had to create an ssh tunnel
ssh -L 9000:127.0.0.1:27080 foo@thedomainImusing.com

and in the server's sshd_config add

[code]

and then locally open localhost:9000 in a real browser

lynx and w3m did not work(!) in a terminal over ssh

[2016-10-07 20:43] #8 closed

[2016-10-08 02:01] jaredmichaelsmith commented on #5
I would love to see this happen!

[2016-10-08 08:25] #6 closed

[2016-10-08 20:28] matale opened #9 ""Unable to locate package realm-object-server-de" on Ubuntu 16.04"
Hello, I seem to be unable to locate the package on Ubuntu, the commands that come before at https://realm.io/docs/realm-object-server/ complete successfully but installing fails.
I am running the Desktop Ubuntu could this be an issue?

john@john-VirtualBox:~$ sudo apt-get install realm-object-server-de
[sudo] password for john:
Reading package lists... Done
Building dependency tree
Reading state

[2016-10-09 11:25] toshi0383 opened #10 "Documentation: Wrong Log File Location"
Currently the document says:

https://realm.io/jp/docs/realm-object-server/#logging

On Ubuntu the path was actually `/var/log/realm-sync.log`.

[2016-10-09 19:31] DevAndArtist opened #11 "Roadmap"
Hello Realm Community,

the Realm mobile platform is now in the beta state. I've seen on stackoverflow a few threads about the client side api to manage realm permissions which is not yet implemented or made public.

[http://stackoverflow.com/a/39801679/4572536](http://stackoverflow.com/a/39801679/4572536)

I'd love to see a public roadmap on what features we can expect in the near future and what

[2016-10-10 09:05] teotwaki commented on #10
Hi @toshi0383,

Thanks for reporting this. Actually, I already have a PR open for it, so it should be fixed soon.

[2016-10-10 09:07] teotwaki commented on #9
Hi @matale,

Could you confirm that you have installed the Realm PackageCloud repository, and that is it is active? I didn't see a mention of that in your initial issue. Please remember that you also need to run `sudo apt-get update` in order to refresh the package information in your (installed) repositories.

Thanks,

[2016-10-10 09:14] teotwaki commented on #4
Hi @codefriar,

Thanks for the wealth of information. I'll look into this today and see if I can reproduce. From your logs, it looks like you might be running an outdated version of the Realm Object Server.

A few questions, just to make sure that we're on the same page:

- Are you running an AWS load-balancer in front of your micro instance (I doubt it, but I just want to check),
- Did you instal

[2016-10-10 09:16] teotwaki commented on #4
Apologies, just saw that you already mentioned that you were using an AMI:

[2016-10-10 09:16] teotwaki commented on #11
Hi @DevAndArtist,

I'll try get back to you ASAP on this. I just need to check some things internally.

[2016-10-10 12:01] TotemChris opened #12 "Custom SyncUser?"
Is there a way to add more info to the SyncUser object?  Right now the only identifying property on it is "identity".  Maybe a subclass to add more properties (like first, last name, etc...)?

It would also be nice to be able to add these custom fields through the ROS admin page when creating a new user.

[2016-10-10 12:03] cmelchior commented on #12
There isn't right now, but it is something we want to do internally as well. Because as you point out, right now it is hard to identify users.

[2016-10-10 12:11] TotemChris commented on #12
Ok thanks for the quick response.  I will go forward with using a separate UserInfo model and just join them at the identity property until something more native comes along.

[2016-10-10 12:55] DevAndArtist commented on #11
@teotwaki the reason I'm asking for the roadmap is, because I'm not sure what can I build with the developer license and what I can't.

* How can I discover other user?
* How to I implement remote push notifications? I feel it's not possible with the developer license.

For a new startup of ours we want to build an app where we can discover other user under specific circumstances. Exchange message

[2016-10-10 14:55] teotwaki commented on #4
@codefriar: @alebsack was able to reproduce your issue locally. We pinpointed the fact that it came from a bad URL on our website (so basically, you downloaded an outdated version of the SDK).

We're fixing this, and I'll keep you posted. Thanks for your patience.

[2016-10-10 23:31] DanielAsher commented on #4
@codefriar many thanks for this detailed issue submission. this describes in great detail my own experience with the Connect to Object Server `Realm could not be opened` error. @teotwaki looking forward to the new SDK. Would an uninstall be necessary before reinstalling ROS?

[2016-10-11 01:26] RiverbayChris opened #13 "Remove Realms"
Apologies if I missed it, but what is the best way to remove Realms from the ROS?  I've tried rm'ing the .realm, .lock, and .management items from /var/realm/sync-services/user_data.  It seems to kill them, but they still show up in my list when using the Realm Browser.

I'm using latest ROS on Ubuntu 16.04.

[2016-10-11 08:29] mrackwitz commented on #13
These are tracked in the admin-Realm which is located at the virtual path `/__admin`. You can open this Realm for now with the browser by directly specifying the URL and then delete the entry for the path from the `RealmFile` table.

We should offer an easier way to achieve this, e.g. via the dashboard.

[2016-10-11 09:00] teotwaki commented on #4
@DanielAsher @codefriar: We've updated the website, and you should now be able to download the new SDK release (Beta-2.1) from https://realm.io/.

@DanielAsher: There should not be any need to reinstall the ROS; it's the client-side SDK that was outdated. The server is installed via the repositories, and was at the correct version.

Feel free to reopen this ticket if you still have issues.

[2016-10-11 09:00] #4 closed

[2016-10-11 09:02] #3 closed

[2016-10-11 09:12] mobilestar0223 commented on #3
Thanks for your answering, teotwaki.
But I mean, can realm mobile platform be used as 'backend' like Parse or Firebase?
I understand server's storage store all client's Realms but I don't know clearly whether client have same data as server (also server has all client's realm) or not?
If you don't mind, please make me clearly about it.
Thanks.

[2016-10-11 09:19] dseehof opened #14 "Synchronized Realm - Offline Mode"
How would I manage to start an iOS application using the new mobile platform when the device is e.g. in Airplane Mode and no auth call to to the server is possible? Shouldn't there be a way to use the locally cached version?
This is not about losing connectivity after having been authenticated when I can grab the user object and keep working, this is purely about starting the app in offline mode.

[2016-10-11 09:27] bmunkholm commented on #14
Right now it's not possible to start the app the first time without having network connectivity. We will be adding support for that soon. For now you have to authenticate with the server the very first time the app starts.

[2016-10-11 09:30] bmunkholm commented on #14
@dseehof I tried to make the feature request clear in the title - I assume this now reflects your needs?

[2016-10-11 09:33] dseehof commented on #14
Much better. :-)

[2016-10-11 13:33] matale commented on #9
Yes I am installing the repository and running the update command.

[code]

[2016-10-11 20:04] codefriar commented on #4
the download link on the webserver is not currently functional. downloads a .zip that expands to a .zip.cpgz that decompresses to another zip that decompresses to a .zip.cpgz ad infinitum.

[2016-10-11 20:11] jpsim commented on #4
@codefriar what download link are you referring to, and which tool are you using to unpack the archive?

I'm able to successfully download the archive linked from https://realm.io/docs/realm-mobile-platform/get-started/#getting-started ([direct link to zip](http://static.realm.io/downloads/mobile-platform/1.0.0-BETA-2.1/realm-mobile-platform.zip)) and open it with macOS 10.12 Sierra's "Archive Uti

[2016-10-11 20:14] codefriar commented on #4
https://realm.io/ - click the download developer edition drop down and choose mac.

[2016-10-11 20:19] jpsim commented on #4
Looks like that redirects to the link I shared above. Would you mind sharing which tool you're using to unpack the archive?

[2016-10-11 20:19] codefriar commented on #4
Osx el-capitan’s default zip handler

From: JP Simard <notifications@github.com>
Reply-To: realm/realm-mobile-platform <reply@reply.github.com>
Date: Tuesday, October 11, 2016 at 4:19 PM
To: realm/realm-mobile-platform <realm-mobile-platform@noreply.github.com>
Cc: Kevin Poorman <kjp@codefriar.com>, Mention <mention@noreply.github.com>
Subject: Re: [realm/realm-mobile-platform] Able to connect to

[2016-10-11 20:37] kerbelda commented on #5
We, at Salesforce (and by extension Heroku), would love to see this :), or at least an API for the Realm Server Object. At the moment we can't sync data from the Realm Server Object in Amazon to anything outside realm like Heroku's Postgres. Please let me know if we can connect you with anyone.

[2016-10-11 20:45] jpsim commented on #4
I couldn't reproduce that using El Capitan 10.11.5's Archive Utility. @codefriar I'd appreciate if you could open a new issue detailing what steps we can follow to get the same behavior you're seeing. We'd be happy to look further into this.

[2016-10-11 21:59] bigfish24 commented on #5
@kerbelda Adam, Director of Product, I would love to chat. Could you email me at af@realm.io? I have background with Salesforce/Heroku/Heroku Connect so definitely would love to see how we could help.

[2016-10-12 08:10] teotwaki commented on #9
What hardware platform are you running? 32 or 64 bit? `uname -a`

[2016-10-12 10:12] matale commented on #9
Linux john-VirtualBox 4.4.0-31-generic #50-Ubuntu SMP Wed Jul 13 00:06:14 UTC 2016 i686 i686 i686 GNU/Linux

[2016-10-12 14:17] kristofer opened #15 "Sync a Realm between multiple devices of a user"
So I'm thinking about using this as a means to sync a user's realmdb from one iOS device to another.

is that an easy idea to implement, or is this ROS idea really more for cross-user-base syncing?

I guess what I'm trying to ask - I can see where ROS would be quite handy for an "uber-like cab tracking" app, where all users get to see all cabs and RT updates are central to the app as a bunch of us

[2016-10-12 14:55] mrackwitz commented on #15
The Realm Object Server is capable to handle both scenarios and basically any mixed forms of both. Beyond that the document-based permission system also allows to sync individual Realms between arbitrary subset of users and all their devices. Let me know if you have further questions.

[2016-10-12 18:58] kristofer commented on #15
so I manage a lot of user objects in a icloud schema, but use realm as the "index" database to make the UI performant.
I'm trying to find a way to not have to load each and all of the icloud objects (to recreate the index in realm) when I detect that the device used this time is different than the device used last time.

would ROS be the only way I can do this? or is there something I don't unders

[2016-10-12 20:05] kristofer commented on #15
so yes: where is "document-based permission system" described?

[2016-10-12 20:33] bigfish24 commented on #15
Using ROS would be easier than iCloud since you could just represent the user data in a synchronized Realm and then whatever device the user is using, you simply allow the user to login and open the same synchronized Realm and ROS will keep everything in sync. The free version of ROS is specifically gear for this use-case of syncing a user's data across his/her devices.

The permission system does

[2016-10-12 21:17] Flightplas opened #16 "Reseting user password"
Really loving the platform so far!

Just one question. Have I missed something, or is it not possible to have a "forgot password" feature right now?

[2016-10-13 06:02] sorenvind commented on #16
Thanks!

Our plan is to make this a new feature in the next released version. It should arrive soon ⌛️

[2016-10-13 21:15] cliftonlabrum opened #17 "PHP or JS Access to Realm Object Server"
Now that we can have Realms on our servers and can sync seamlessly to mobile apps, the next question is obvious: will there be a PHP or JavaScript SDK to access and sync a Realm in a web app?

Personally, I would love a JS SDK. Realm is already a 10, but this would push it to an 11. :)

Thanks for your time!

[2016-10-13 21:21] #15 closed

[2016-10-14 10:12] ojarabo opened #18 "Problem with localhost in the Android Demo App (Ubuntu)"
Hi Realm team,
First, I would like to thank you for such a great product and for making us our life easier.

I have installed the ROS in my ubuntu 16.04, and download the Android Demo App in my computer. The installation was completed without errors and I am able to enter in the Dashboard. Also, I am able to run the app, but I am not able to register a new user in the example. The demo throws the

[2016-10-14 11:49] zaki50 commented on #18
Hi @ojarabo

Demo app picks up the address of the build host during the build process.
In this case, our build script seems to get the local name of the computer.

Since your android device and the ubuntu server are different machine, you are not able to use local name, `127.0.0.1` or `127.0.1.1` as a server address.

Could you try following steps?

On the terminal, you can obtain your server's ad

[2016-10-14 13:11] ojarabo commented on #18
Hi @zaki50 ,
Thanks you very much. It worked like a charm. ;)

Again, congrats to all the Realm team for such a good product. :)

[2016-10-14 13:35] #18 closed

[2016-10-14 17:20] DiogoAndre opened #19 "Notification for new beta releases"
Hi!  Is there a way to get notified when new beta releases are out? I just saw that 2.1 was out and I'm still running 1.0 😢

Maybe a symbolical release tag on this repository?

Thanks!!

[2016-10-14 20:15] john-brunelle commented on #5
+1 This something that I would love to see happen in the near future.

[2016-10-14 21:07] DiogoAndre opened #20 "Expired Refresh Token Warning"
Hi!  I've been getting this message from time to time when trying to connect to the object server. As far as I could detect it happens when the client cannot connect to the server for an extended period. I believe it happens mostly after the server has been offline for an extended period.

`warn: [services] internal error: ExpiredRefreshToken: The refresh token is expired!`

Is that a client issue

[2016-10-14 21:19] DiogoAndre commented on #20
Closing for now as I was using and old beta version.

[2016-10-14 21:19] #20 closed

[2016-10-14 21:38] bigfish24 commented on #17
Thanks for the feedback! We definitely want to support a web framework, but can't commit to a time table right now. Given our work with `realm-js` we would likely look to Javascript first over PHP.

[2016-10-14 21:53] bigfish24 commented on #11
Right now we can't provide a full detailed roadmap, but let me answer some of your concerns:

The user list currently lives in a Realm on the server called the `admin.realm`. We are exploring adding additional profile data to the `User` so that there could be a client API to lookup users in the `admin.realm`. This functionality can already be built manually with the enterprise edition using the No

[2016-10-15 08:59] teotwaki commented on #19
Hi,

That's actually a pretty great idea. We initially thought of sending an email to everyone who had registered, though I fear that might be slightly spammy.

I'll see with the team if we can set something like that up (the tag)

[2016-10-15 23:04] cliftonlabrum commented on #17
👍🏼👍🏼

[2016-10-17 11:59] cmelchior commented on #13
How should this work if clients are currently accessing the Realm? I assume one of two things?

1) Do not allow deleting Realms while a session is open to them (too restrictive?)
2) Delete the Realm which will cause a session error on clients (which one?)

[2016-10-18 09:18] sorenvind commented on #10
Thanks for your report @toshi0383. We have now fixed this bug on the website.

[2016-10-18 09:18] #10 closed

[2016-10-18 11:21] teotwaki commented on #9
Hi @matale,

Sorry for not getting back to you, I didn't get a notification for some reason. We only support amd64 as of now.

[2016-10-18 11:52] toshi0383 commented on #10
Nice, but, I still see this... ?

[2016-10-18 11:57] sorenvind commented on #10
@toshi0383 Thanks for reporting that! It turns out to only be fixed on the english version here: https://realm.io/docs/realm-object-server/#logging. I'll make sure we get the other languages updated as well. Sorry for the inconvenience!

[2016-10-18 15:14] dsjstc opened #21 "Needs continuous backup to provide server redundancy"
As suggested [here](http://stackoverflow.com/questions/40097563/server-replication-for-realm-mobile-platform/40105383#40105383), I'm filing a bug because to point out that there is no continuous backup feature yet available.

That's the best way I can see to provide server redundancy / high availability.

[2016-10-18 16:12] alexbrothman commented on #11
@bigfish24 I would really appreciate a "pro" version with the functionality you're describing. I certainly don't need the full enterprise package and support for my projects but push notifs and a user discovery API are a great start. Messaging and collaboration apps are listed as examples of what can be built using the platform and this would enable non-enterprises the ability to build them.

[2016-10-18 16:45] DiogoAndre commented on #11
I'm with @bigfish24 here. A Pro version would be most welcome. Hosted, some kind of push notification support (which can be via a third party), user discovery and access permissions settings are the most desired features for me.

[2016-10-18 21:05] dsjstc opened #22 "Fine-grained (object-level) permissions"
Creating this issue because it's a dealbreaker for my client-server POS app:  I see no way to establish user-level or group-level control over object modification.

EG: In a point-of-sale system, all users need to be able to _view_ product descriptions and prices.  But only a manager should be able to _modify_ the products.  When money is on the line, I cannot rely on all clients being trustworthy

[2016-10-18 22:08] yamamz opened #23 "the onsuccess is fire even when my task is not done."
[code]

[2016-10-18 22:15] yamamz commented on #23
the deleted items is database is not the same in UI because the onSuccess fire even if the transaction is not completed yet

[2016-10-19 07:12] sorenvind commented on #23
Hi @yamamz!

Do you see this problem only when running with Realm Object Server, or does it also happen with just the Realm Mobile Database?

[2016-10-19 08:32] teotwaki commented on #21
Hi @dsjstc,

Thanks for filing this. Please note that High Availability and Continuous Backup are significantly different features.

In order to clarify your request to the maximum, could you explain the use-case you have in mind? I have currently identified the following user scenarios:

- Manual backup (snapshot): this allows to implement scheduled (cron?) backups to secondary storage. This can

[2016-10-19 09:43] TotemChris commented on #13
I think a combination of both of those.  Maybe there should be an indication in the dashboard/browser to show # of active sessions to that realm, and when you try to delete it, if it is > 0, pop up an alert with a "There are 20 active sessions, are you really really sure?" (maybe that should pop up anyway, even when 0).

[2016-10-19 12:16] yamamz commented on #23
hi @sorenvind
it happens on realm local database...   what is the solution of this... thanks

[2016-10-19 13:52] zaki50 commented on #23
@yamamz Why do you think `onSuccess` was fired before the transaction was completed?
Are you still seeing the deleted object in the `onSuccess` method?

[2016-10-19 13:57] zaki50 commented on #23
One more question.
Are you using `RealmRecyclerViewAdapter`?

[2016-10-19 14:21] zaki50 commented on #23
@yamamz I think this issue is not related to RMP.
Could you move this issue to https://github.com/realm/realm-java/issues ?

[2016-10-19 15:19] cmelchior opened #24 "Tool for creating schemas across bindings"
Working with Sync has made it abundantly clear that creating schemas across languages is a pretty hard problem, and we also mess it up frequently internally.

The following things will make this easier:

1)  Agree on a format for a cross platform language for specifying schemas either as a new "language" or perhaps just use the JSON format that JS already uses?

2) Online tool for doing it on the

[2016-10-19 15:30] dsjstc commented on #21
My use-case is a door-prize raffle with multiple mobile POS units.  It is critical to be able to ensure that the draw can take place at the end.  To that end, the certification requires that there be no single point of failure  -- if the server is incapable of conducting a draw after selling some tickets, the venue is in violation of the relevant law.

My use-case could be met with continuous back

[2016-10-19 15:36] alazier commented on #24
I think standardizing on a JSON schema would take us a long way towards achieving all of these things. We already specify the schema as JSON in the JS binding. I would be happy to refactor this code to use `json.hpp` so that the other bindings can easily import schema of the same format.

[2016-10-19 19:38] yamamz commented on #23
@zaki50 yes i,m see i am seeing the deleted object in in onsuccess but when i loaded all the data the deleted item is minus one to the original position  because the on success was executed and the ui position is change already..

[2016-10-19 22:25] DevAndArtist opened #25 "Swift Driver/Provider for Vapor"
I'm not sure if this is the right corner to post this or if the idea is totally out of scope for any future release of the mobile platform, but it's worth asking.

Some notes about my project:

* I have a large long term project without any start budget.
* I need to build an iOS Application which is a client to our service (main project).
* I'll have to build a backend to organize user and sync th

[2016-10-19 23:36] jpsim commented on #25
While I'd love to see Realm Swift support Linux, there's a lot of work that needs to happen, both in the Swift language itself and in Realm. See realm/realm-cocoa#3263 for details there.

In the meantime, it should be possible for the Realm Object Server Enterprise Edition to interface with other servers, written on stacks other than Node.js by writing a small "bridge". This could be done by expos

[2016-10-20 08:17] zaki50 commented on #23
moved to realm/realm-java#3663

[2016-10-20 08:17] #23 closed

[2016-10-20 10:58] tpedersen123 opened #26 "React Native support"
Are there any plans to support Realm Mobile Platform in React Native (RN)?

I'm aware that we can use the mobile platform using native modules in RN, but would like to know whether Realms has plans to implement RN support.

[2016-10-20 13:19] tal-sh opened #27 "Running the platform on Ubuntu"
Hi,
Not sure if this is the place to post this, but I've installed the realm mobile platform on a digital ocean droplet, and it doesn't seem to run. I've followed the steps in `https://realm.io/docs/realm-mobile-platform/install-realm-object-server/`.

When I try to setup the realm dashboard (i.e. access via web) it doesn't work. I think there's no service running.

I tried to install an apache se

[2016-10-20 13:21] tal-sh commented on #27
Found the issue, left out the `:9080`...

[2016-10-20 13:21] #27 closed

[2016-10-20 13:30] alazier commented on #26
This is currently in the works. Should have more news in the coming days/weeks.

[2016-10-21 07:19] teotwaki commented on #22
Hi @dsjstc,

I'm sure you've already thought of this, but currently, I would recommend that you create separate Realm databases. One containing the inventory of items, and another one containing orders, or whatever your POS does.

The typical implementation for this kind of feature, using the Enterprise Edition, is to have clients create a PurchaseRequest object (or something along those lines), w

[2016-10-21 15:09] dsjstc commented on #22
Makes sense.  I still see a problem with a malicious POS directly modifying things it should only be able to read, but perhaps the Enterprise server has a way to block those changes.

I didn't find a detailed explanation of the Enterprise features beyond the one-word descriptions on the pricing page -- some more detail might be a useful thing to publish to the world.

[2016-10-21 21:16] TotemChris opened #28 "Authentication Bug or Intended?"
I have a single Realm file on the ROS server that I have multiple users pointing at.  When calling authenticate() for the first time with a user, my Realm() comes back empty after I set the default realm sync configuration.  This only happens on the first successful login for that user.  Every time thereafter, it works works just fine, and I get false for .isEmpty.  This happens with each successi

[2016-10-21 23:04] timshadel opened #29 "Connect multiple authentication methods to single SyncUser"
Let's say a user signs up using their email address and password. Later they want to do something in the app that requires Facebook, so they connect to Facebook inside the app. I want to add the Facebook credential to the existing SyncUser so that when the user logs in on another device they can simply login with Facebook and get all of their data.

At the moment it seems like a SyncUser == creden

[2016-10-24 08:34] teotwaki commented on #22
Hi dsjstc,

Indeed, the Enterprise version does allow to closely monitor what goes on, and intervene on changes as they occur. We're currently working on making the Enterprise (and Pro) versions more visible.

Thanks,

[2016-10-24 12:55] DiogoAndre commented on #22
Looking forward to see some more details on the Pro version! 😄

[2016-10-24 17:39] nickharbin opened #30 "ROS only syncs once for read-only realms"
I have ROS installed on a remote CentOS machine. I am accessing it using an iOS application I am developing.

I have created a realm in the common area (/realmName) with the server admin and the __admin realm shows nil for the owner of that realm.

I created a second user that is not a server admin and created a realm for that user (/~/realmName).

When I log in as the second user, the notificatio

[2016-10-24 19:48] ArifADS opened #31 "Module version mismatch. Expected 48, got 46"
I get the error Module version mismatch. Expected 48, got 46 when trying to run realm-object-server, I'm on Node.js v6.9.1 and Ubuntu 16.04.1 LTS on AWS

Edit: Showing Complete error log with backtrace
[code]

[2016-10-25 07:57] alebsack commented on #31
Hi @ArifADS,

Thank you for the report.  We've also seen this when the system has another version of Nodejs installed.  Currently, we are only supporting nodejs 4.x, which is a dependency of the packages we distribute.  We have a fix in our latest packages (1.0.0-BETA-2.3, released yesterday), which will forcibly use the proper Nodejs version.  Please try upgrading and let us know if you continue

[2016-10-25 08:57] mrackwitz commented on #28
This is largely indeed the intended behavior.

Not exactly. It isn't bound to the scope of this call specifically. A synchronized Realm you open is not synchronously downloaded. Instead it will open up a connection in the background to the server to download existing history. But it will be instantly available for writes, even if you go offline.

What was the crash you were seeing for `realm.commi

[2016-10-25 09:09] teotwaki commented on #30
Hi @nickharbin,

Could you provide the server logs, when you reproduce this issue? In addition, could you clarify which version of CentOS you are using? 6 or 7? Thanks

[2016-10-25 09:25] mrackwitz commented on #29
That's the limited way it is exposed so far. But we thought about this use-case and have nearly everything in place to expose that it's truly already a one-to-many relationship between a `User` and an `Account` in the admin-Realm, which manages the user data on the server-side.

While the use case you describe seems on the first look relatively easy to support, generic support for linking accounts

[2016-10-25 10:17] bigfish24 commented on #30
Just a note, creating Realms with an admin user doesn't register them in the __admin Realm currently. I don't think that is causing the issue but wanted to point out.

[2016-10-25 11:34] TotemChris commented on #28
Ok this clarifies it for me.  I was looking at this with some tunnel vision and was too eager to get at the data before it existed :)  I will rework around notifications.  Thanks!

[2016-10-25 11:36] #28 closed

[2016-10-25 13:35] nickharbin commented on #30
Hi @teotwaki,

I blew away the entire installation and started from scratch with logging set to 'all' and that log is attached. When I originally posted this issue yesterday I was using a CentOS 6 install in OpenVZ. I rebuilt the install with CentOS 7 to see if that made a difference. It did not.

The attached logs are from the CentOS 7 install. The only activity as starting the server and then ru

[2016-10-25 14:46] ArifADS commented on #31
I'm using that version actually, installed yesterday. I could downgrade the Node version, or want me to test another version?

[2016-10-25 14:58] alebsack commented on #31
I guess it depends on how you installed nodejs 6.  If you've overwritten `/usr/bin/nodejs`, then you'll have to reinstall the nodejs package that realm-object-server depends on:

[code]

We'll create an issue on our end that should help prevent this problem in the next release.

[2016-10-25 23:55] jpsim opened #32 "Support Twitter Digits Authentication Provider"
Originally requested by @kdawgwilk in realm/RealmTasks#326:

[2016-10-26 02:25] timshadel commented on #29
Excellent synopsis. I'm excited to see it evolve over time, and I'm glad to see you're covering a wide variety of use cases to make sure the implementation is solid. :+1:

[2016-10-26 02:28] cain004 commented on #21
I think that HA would be the route to go. If someone is using the Event Framework to validate data based on a change, a highly available system would be required. For a large scale enterprise system, HA is always going to be required.

[2016-10-26 06:50] DiogoAndre commented on #19
Guess this can be closed now that new releases are being notified as release tags on this repo. Thanks!

[2016-10-26 06:50] #19 closed

[2016-10-26 08:25] radu-tutueanu commented on #30
Hello @nickharbin,

There are multiple things happening in the logs, but I noticed the following:
The admin token is the one ending in '...Of/aexc94pJDfuBMOuLo7S8fBm+w=='.
Some of the connections open 2 sessions, one for their own path "/~/realmName" and a second one for "/rundlc". Only that the token used to access "/rundlc" is not the admin token(line 57 in the logs). Could you please share the

[2016-10-26 13:49] nickharbin commented on #30
Hi @radu-tutueanu ,

I am creating the /rundlc realm by signing in to my app as the server admin, using the username and password I created when installed the ROS, the first time I run the app. This also creates the /~/realmName for the admin user (all code is posted below)

I then delete the app and rerun it signing in as a standard user. The same code runs where the standard user connects to the

[2016-10-27 08:05] danieldelouya commented on #5
+1

[2016-10-27 15:31] teotwaki commented on #31
We have landed a patch for this, it should be available soon (meaning, you shouldn't hit this any more).

Please let us know if you encounter this after the next version is released.

[2016-10-27 15:31] #31 closed

[2016-10-27 22:40] dsjstc commented on #21
An alternative that just occurred to me:

Allow the client to modify the configuration of an existing realm to point to a secondary server.  If that server contained the authentication credentials, I'd assume that a re-sync from every client ought to completely rebuild the database.

As my goal is only to eliminate single-point failures, using the clients for redundancy would meet my need.  Contin

[2016-10-28 04:36] virl opened #34 "Synchronization over Bluetooth"
Greetings!

I'm developing Bluetooth networking library for iOS+Android called [Underdark](http://underdark.io) and would like to integrate it with Realm Mobile platform, so client devices will be able to sync not only with server, but with each other too.

What is the best or easiest way to do that?

[2016-10-28 11:42] teotwaki commented on #21
Hi @dsjstc,

Thanks again for your input. The thing isn't actually that simple. For example, you would have to guarantee that the client doesn't have a more advanced history than the server. As it currently stands, the server would terminate the incoming connection because it is "unmergeable".

We have a team of 3 people currently brainstorming about this. I'll keep you posted as regards progress.

[2016-10-29 02:21] TotemChris opened #35 "Upgrade to 4.2?"
I just tried upgrading my RHEL instance running 2.3 to 3.0, but to my surprise I received 1.0.0_BETA_4.2-336.el7, along with a realm-object-server service that wouldn't start, even after reboot of the server.  Just dropping a note here because I didn't see any release notes beyond 3.0 yet.

[2016-10-30 07:50] bmunkholm commented on #34
Hey @virl!
Peer-to-peer sync is a very interesting use case that we would love to support at some point further out. It is also not something you would be able to build yourself on top of what we have at the moment. Sorry to disappoint you here.

[2016-10-30 07:50] #34 closed

[2016-10-31 00:57] nickharbin commented on #30
I did some tests over this weekend and I was able to reproduce this behavior with the iOS demo app included in the macOS download.

I modified the demo app to point to my centOS 7 install of the ROS and then changed the line below:
[code]
Notice I changed the demo app to point to a realm file in / instead of /~/.

I then started the app and logged in as my server admin and created a couple tasks.

[2016-10-31 18:20] codefriar opened #36 "Create or use existing"
Is it possible to authenticate using .usernamePassword in such a way that if the user account does exist, it uses it, and if it does not, it creates it?

I'm looking at a situation where I want the app to automatically register if need be.

[2016-10-31 19:16] cliftonlabrum commented on #36
As far as I know, you can already do this (with a couple limitations). Below is a possible workflow in Swift:
[code]

There are a couple significant issues with this:
1. As far as I know, there is now way to tell whether the authentication error is caused by an incorrect password or there not being a matching username in the system.
2. The user could make a username typo and inadvertently create a

[2016-10-31 19:57] Vaseltior commented on #2
What is written in C++? Isn't the server running on nodejs?

[2016-10-31 23:06] cliftonlabrum commented on #16
Any update on the timing of this?

Is it coming in a matter of days, a matter of weeks, or a matter of months? :)

[2016-11-01 07:48] bigfish24 commented on #2
Currently the core sync server is C++ but used within Node which handles the user authentication and the dashboard.

[2016-11-01 09:07] matteocrippa opened #37 "Node.js client module"
As a new feature/idea it would be great to have a client module for node.js so that you can manipulate data using a server side script too.

[2016-11-01 11:04] jpsim commented on #36
`AuthenticationActions` is an option set, which means you can do "create or use existing" by passing in `[.useExistingAccount | .createAccount]`

[2016-11-01 11:08] jpsim commented on #16
The Realm Object Server version 1.0.0-BETA-2.2 has a CLI command `--reset-user EMAIL PASSWORD`. I'll let @sorenvind answer with any further details if necessary, or to close this issue if it's a suitable solution.

[2016-11-01 12:58] TofPlay commented on #25
Oh yes it would be really great 👍 😀

[2016-11-01 13:31] LoganWright commented on #25
@jpsim I was just linked into this issue. I'm a huge fan of Realm, and we have had future plans for a while to integrate w/ Realm on the mobile side when iOS integration with Vapor/SwiftPM improves. This is however, the first I'm learning about the Object Server. I didn't know that this existed previously.

I'm assuming it's a c library, and I'm wondering if you have an idea what it would take to

[2016-11-01 14:02] codefriar commented on #36
That actually produces an error: No ‘|’ candidates produce contextual result type RLMAuthenticationActions.

From: JP Simard <notifications@github.com>
Reply-To: realm/realm-mobile-platform <reply@reply.github.com>
Date: Tuesday, November 1, 2016 at 7:04 AM
To: realm/realm-mobile-platform <realm-mobile-platform@noreply.github.com>
Cc: Kevin Poorman <kjp@codefriar.com>, Author <author@noreply.githu

[2016-11-01 15:00] jpsim commented on #25
The Realm Object Server is a Node.js app, along with an NPM module available to our enterprise customers. You can learn more about it on our website here: https://realm.io/products/realm-mobile-platform/

So you won't be able to access it from Swift on Linux using a module map, but you could expose certain functionality to be accessible from Swift if you're an enterprise customer like I wrote in m

[2016-11-01 15:01] jpsim commented on #36
Oops, syntactical mistake when writing my last comment, should be a comma instead of `|`: `[.useExistingAccount, .createAccount]`

[2016-11-01 15:06] codefriar commented on #36
That was my original stab at this. Unfortunately, both options will return an error, and it appears that the code will actually only function on  the first in the list.

Thus, if you say .useExistingAccount, .createAccount it will fail when you need to create an account, and inversely, if you say .createAccount, .useExistingAccount, it will fail if the account already exists.

I’ve implemented the

[2016-11-01 15:08] LoganWright commented on #25
@jpsim thanks for your response, sorry I misunderstood the original. I thought you were referring to an NPM wrapper on top of underlying lib.

Really appreciate the clarification 👍

[2016-11-02 12:50] dannygrob commented on #35
No replies?
I can not start 1.0.0-BETA-4.2-336 as well as 1.0.0-BETA-3.0-321 on Ubuntu, and can't find anything in my logs about why. How to find out what's going wrong? If I downgrade to 1.0.0-BETA-2.3-310 the service just starts again. (sudo apt-get install realm-object-server-de=1.0.0-BETA-2.3-310)

I have a lot of users complaining about the server not syncing, and to me the service syncs only

[2016-11-02 15:33] teotwaki commented on #35
Hi,

We're in the middle of a company-wide meeting this week. We're looking into this, and will get back to you ASAP.

[2016-11-02 19:38] dannygrob commented on #35
Thanks. After every upgrade from 2.3 the service won't start. I did some tests, and removing the auth.realm resolves this, and the service will start. If i keep the old auth it results in 'segmentation fault' when starting up manually:
`/usr/bin/realm-object-server -c /etc/realm/configuration.yml`
`Segmentation fault`

However, by doing this I'll loose all my users...

[2016-11-02 20:00] ianbradbury-bizzibody commented on #22
@teotwaki - Please can I check.  The conversation thread gives me a hint that object permissions might only be available to Enterprise customers.  Am I over reacting?  I need to know as I will need to find an alternative technology - quickly - if true.

[2016-11-02 20:06] cliftonlabrum commented on #16
If it's a CLI command, then that means I have to do it for users. I'd like to allow users to initiate their own password reset. This means making password reset available via the `SyncUser` API.

[2016-11-03 07:23] sorenvind commented on #16
@cliftonlabrum In the current version we only have the CLI interface available. However, we'll surely consider such functionality going forward. Thanks for the great suggestion!

[2016-11-03 07:45] teotwaki commented on #35
Yeah, we've identified the cause of this. We're working on a tool that fixes this. For non-production users, the obvious solution is to just remove the auth realm and be happy. We know this is very impacting, so it's high on our priority list.

[2016-11-03 14:20] radu-tutueanu commented on #30
Thank you a lot for taking the trouble to reproduce this using the RealmTasks app.
There is indeed a bug into how read-only realms( in `/` for regular users) sync. We will be working on fixing it.

[2016-11-05 21:56] TotemChris opened #38 "Realm Browser not showing all ROS realms"
I have a ROS running on RHEL in Amazon, and for some reason the Realm Browser has stopped showing any new realms in its list.  I can see them on the server when doing an 'ls' on the user_data folder, and there are a lot more of them there than in my Browser list.  Also, the new realms are no longer showing up as a RealmFile in __admin.

I can connect directly to it from the Open Sync URL... menu o

[2016-11-05 23:27] TotemChris commented on #38
Aaaaand nevermind.  That's what I get for messing around with undocumented "features" (hopefully coming soon?).  I left an empty row in Permissions using the browser :).

[2016-11-05 23:27] #38 closed

[2016-11-06 02:08] TotemChris opened #39 "Non-admin user can read __admin by default"
That probably shouldn't be the case.  Anybody that knew 9080 or 9443 was Realm, and had valid creds, could enumerate the ROS pretty easily at that point.

I was able to fix this by manually removing the nil - __admin - mayRead permission.

[2016-11-06 09:32] ianbradbury-bizzibody opened #40 "Selective Synchronisation"
Can anyone tell me if selective synchronisation is on the roadmap?

i.e: Selectively synchronise rows that match a filter.

My focus is reducing on device database size and networking requirements.

[2016-11-06 10:44] bigfish24 commented on #40
We have this on the roadmap but depending on the use case it might not be necessary. You can think of a Realm as "selective synchronization". Apps can have multiple Realms since they are very lightweight to open and close (just a URL and authorized `User`). Realm Object Server manages all the Realms for all users so what is synced to the device is always a subset on the server.

[2016-11-06 13:06] chooikw commented on #9
wish to see it on x86_64 soon

[2016-11-06 13:51] euwars opened #41 "notification if sync fails."
Hi there,

As far as i can understand mobile platform sync the local database with remote server whenever it can. This is great for apps that need to be functional even when there is no internet connection.  but right now i'm working on a project that everything has to be live and when user has no connection i want to not let user change anything from local database.

is there a sync failure notif

[2016-11-06 17:18] ianbradbury-bizzibody commented on #40
@bigfish24 - Yes, I can see how there are some use cases where breaking the problem down into multiple Realms could be an answer.

Where objects are part of a one to many relationship, using the multiple Realm route would result in record duplication.

[2016-11-07 04:18] ynagarjuna1995 commented on #5
+1

[2016-11-07 09:51] bmunkholm commented on #37
@matteocrippa That's exactly what's included in the Enterprise version.

[2016-11-07 09:53] #37 closed

[2016-11-07 10:14] teotwaki commented on #9
@chooikw We only support amd64/x86_64 (64-bit). We don't support i386/i686 (32-bit).

[2016-11-07 10:19] teotwaki commented on #22
@ianbradbury-bizzibody That's not what I said. I said that at the moment we don't support object-level permissions, however that it was possible to emulate using the Enterprise Edition features. Object-level permissions are on our roadmap.

[2016-11-07 12:33] mikalackis opened #42 "Syncing data across users"
I'm having problems understanding how the sync mechanism is intended to work for different users. I'm confused on how should I create a realm database that would be in sync with two different users. The Realm mobile platform docs says this about the URL:
String serverURL = "realm://my.realm-server.com/~/default";

According to the docs, ~ is optional. If it is present, it will be replaced by users

[2016-11-07 14:09] mrackwitz commented on #39
In fact non-admin users are unable to read the admin-Realm by default. But there is a big pitfall: once you access the admin-Realm via a user with administrative privileges (≠ admin token), it will lazily create a `RealmFile` in the admin-Realm, which will default to have read-only default permissions. We'll fix that.

[2016-11-07 14:20] jschoolcraft commented on #5
Any updates on when/if this is happening?

[2016-11-07 14:37] TotemChris commented on #39
Ok thanks.  I will use token creds for now to prevent messing up the defaults.

[2016-11-07 19:40] jpsim commented on #36
You're right. There are some issues with the current API. That's mostly a historical accident of exploring different directions for this API that weren't fully reconsidered after shipping our initial version a few weeks ago.

It doesn't actually make sense to have a "create OR use existing" mode for the username/password credential because a user interface should always expose an explicit action.

[2016-11-07 19:40] #36 closed

[2016-11-08 15:20] TofPlay opened #43 "Do you have a public Slack community?"
Hi,
Do you have a public Slack community for Realm Mobile Plaform?

[2016-11-08 15:28] TofPlay opened #44 "Do you have an official docker image for RMP?"
Hi,
Do you have an official [docker](https://www.docker.com/) image for RMP?

[2016-11-08 16:40] ianbradbury-bizzibody commented on #43
Although there is no specific channel for ROS - there is this Slack community.

realm-public.slack.com

I am not 100% clear if it is an officially sanctioned gathering.

[2016-11-08 18:38] bmunkholm commented on #43
No we don't have that. The Slack channel mentioned is primarily used for
our Japanese community to experiment with that medium. While Slack might be
a fine medium for community communication we don't find it suitable for
support for a number of reasons.
If you have general questions as to how to do certain things StackOverflow
is the preferred medium, while Github is great for feature requests or

[2016-11-08 19:46] TofPlay commented on #43
@bmunkholm thanks for your answer. Personally I'm not a big fan of StackOverflow, to much noise. Most of the time I'm wasting my time trying to find a truly possible answer helpful. As you mention GitHub is good for feature requests or bug reports. And in fact, like you, I'm not a real fan of Slack. But from time to time it's helpful to be able talk live with someone.  If you prefer to use another

[2016-11-08 21:39] ianbradbury-bizzibody commented on #43
Like @TofPlay - I am also not a fan off SO. In fact I recently deleted a question I posted about ROS because I just could not be bothered to deal with the "go away newbie - don't ask such feeble questions here" comment from some UTOA user.

What I find is missing from the Realm community is a place to go and just chat and discuss ideas and problems.  Stackoverflow is not the right place for that.

[2016-11-09 00:21] leolelego opened #45 "Install on Debian"
Hi,

I follow ubuntu instruction to install on my debian, I get this error :
`E: Unable to locate package realm-object-server-de`

Do you just not support debian at all ?

config :
debian 8.5
x86_64 GNU/Linux

thanks 😊

[2016-11-09 15:38] bmunkholm commented on #43
This is a super useful discussion to have and we love your input here! And
very interesting perspective of SO. We are discussing if a Realm specific
forum would be better to capture common issues and spur discussion and
cooperation in the community.

Thanks a lot for the feedback, and we appreciate more comments on this
topic.

On Tue, Nov 8, 2016 at 10:39 PM, ianbradbury-bizzibody <
notifications

[2016-11-09 21:42] ianbradbury-bizzibody commented on #22
@teotwaki - Thank you for clearing that up.

[2016-11-09 23:31] bigfish24 commented on #41
We currently don't expose any notification functionality on whether the client is connected to the server. I am assuming this is what you would need so that you can prevent the user from doing any writes unless the client is connected?

More generally, you don't need to do this from a sync perspective with Realm Mobile Platform. We are designed to be offline-first, meaning that the client can alwa

[2016-11-10 06:37] HMMakadiya opened #46 "Support Realm Object Server on windows platform."

[2016-11-10 17:46] Den-Ree opened #47 "Migrating from Parse.com"
Hi! I want to migrate on realm DB and platform, but now my app use backend on Parse.com. How can I migrate on realm-server?

[2016-11-10 20:59] dannygrob commented on #35
Hi,

Any updates regarding this tool about when do you expect to release this?
Thanks for taking your time to look into it!

Danny

[2016-11-11 09:17] NielsKoole commented on #2
Another idea would be to run an iOS application as the Realm Object Server. This makes it easy to create peer-to-peer networks. Any ideas on that? 😃

[2016-11-11 17:34] aalfath commented on #35
+1

I'm also having this problem so it would be great to know about any updates.

[2016-11-11 19:52] euwars commented on #41
@bigfish24 Yes that is correct, let's say i have a live chat like something on twitch.tv if user post is not going to be added right away, it doesn't really matter if it's gonna be added later at some point it loses the value of "live chat".

I understand that RMP is offline-first, but this causes some issues. for example on app launch i check if realm database is empty so i can add some starting

[2016-11-11 20:01] bigfish24 commented on #41
@euwars we are working on exposing notification functionality that will let you know about the status of data sync. I would expect this to land in the next couple weeks.

[2016-11-13 18:32] AndyDentFree opened #48 "Mac DE 2nd run of start-object-server.command kills all running apps"
If you run the start command **whilst a server is already running** it can kill all your (GUI) apps.

(Changelog says this is Object Server 1.0.0-beta-4.2)

- Double-clicked on the start-object-server.command
- later, after laptop sleep, didn't realise was still running first copy
- Double-clicked on the start-object-server.command
-  in the Terminal window was prompted _Another instance...already

[2016-11-15 01:52] dsjstc commented on #11
Also interested in a Pro version.

For simplicity on your end, I'd suggest giving it full enterprise features, but finding some kind of licensing limitation that would allow Startups to use it while still requiring an Enterprise license for those who can afford it.  IE, cap the number of users, number of production servers, or something like that.

[2016-11-15 13:52] teotwaki commented on #42
Hi @mikalackis,

This is pretty high on our priority list. We should be able to get you an answer ASAP (probably later this week). We have some stuff cooking for this exact use-case.

[2016-11-15 13:54] teotwaki commented on #44
Hi @TofPlay,

We don't have an official Docker image, just yet. This is in the works, but considering that we provide packages for Ubuntu, and that cooking your own Docker image is fairly easy, we've decided to prioritise features in the product rather than packaging. I hope this is understandable.

[2016-11-15 13:55] teotwaki commented on #45
Hi @leoderbois,

This is correct, we only support Ubuntu, CentOS/RHEL 6 and 7 at the moment. As indicated in another issue, we've decided to prioritise feature development rather than packaging. Debian is a fairly often requested distribution though.

[2016-11-15 14:03] teotwaki commented on #43
@ianbradbury-bizzibody,

I think we (Realm) are fine if somebody else wants to foster that community---we're all about community building. We just have to be careful about spreading ourselves too thin. Support is quite often a massive drain on a company (especially a small one like ours), which is why we've in the past elected to use SO---even though it doesn't suit everyone, we've received a lot

[2016-11-15 14:04] teotwaki commented on #35
Working on this as we speak. Should be available in the next release. Will keep you posted. Sorry for the lack of delay, it's been a crazy couple of weeks.

PS: With such short sentences, I almost felt like I was writing a telegram :smiley_cat:.

[2016-11-15 15:50] ianbradbury-bizzibody commented on #43
@teotwaki - I can fully appreciate everything you say.  It's difficult.

I definitely agree with your point about Slack being the perfect match for better discussion.  So far I've only seen Slack work well for detailed discussion when the number of participants is low and make good use the channels feature.

[2016-11-15 19:52] TofPlay commented on #44
@teotwaki thanks for your answers. A package for Ubuntu it's fine too 🙂

No problem with me 🙂

Speaking of features correct me if I am wrong. From what I saw RMP is developed in javascript with Nodes. With no less than 135 dependencies! 😨
Have you take a look on Swift on Ubuntu? Even if the swift on server is young according to what I saw on Internet it already offers interesting performances. Do

[2016-11-16 00:15] cliftonlabrum commented on #47
There isn't going to be an automated way to do this. I think you should write some code that does a conversion. Pull all your Parse objects down and save them to Realm objects (one at a time, on a background thread, if available). It should be pretty straight forward.

[2016-11-16 07:39] Den-Ree commented on #47
@cliftonlabrum thanks for your answer. So if I have on parse server - registered users and paid content, which I can add from dashboard, I should change my DB on device and create realm users instead of parse users. But, one thing is still not clear, how can I add content on realm server for all users?

[2016-11-16 12:41] teotwaki commented on #44
Actually, the biggest part of the ROS (Realm Object Server) is written in C++. We only use Node.js to provide the UI, and the REST API. Everything else is C++ (the actual client connections and merging and stuff).

This being said, we're always looking at other frameworks, as any good organisation should, and studying whether it would make more sense in one way or another. I'll have to take a clos

[2016-11-16 13:24] finnschiermer opened #49 "realm::SharedGroup::BadVersion exception"
Originally opened as issue against Core (https://github.com/realm/realm-core/issues/2299), but Core is merely the messenger, indicating that an attempt is being made to access a version which is no longer present in the realm file.

This can frequently (though not always) be reproduced by running these steps:
[code]
Test output:
[code]

[2016-11-16 16:51] teotwaki commented on #49
Wrong repo.

[2016-11-16 16:51] #49 closed

[2016-11-16 19:50] cliftonlabrum commented on #47
Yes, that's right. You might approach it this way:

1. As users get into the app, use their email to create a Realm username and prompt them to set a new password. You would then create a new user on the Realm Object Server with that info.
2. Migrate the user's data to their personal Realm.
3. Disable their access to the Parse data and use Realm going forward.

As far as shared data, I've read abo

[2016-11-17 10:09] simonask commented on #41
@euwars Just to be perfectly clear, I don't think it's wise to rely on connectivity to try to ensure the consistency of your data model. Even if you only let the user make changes when the device is online, connectivity can easily be lost between committing the update and uploading it to the server. This may be good enough as a usability hint, but not to prevent duplicate global objects. We recomm

[2016-11-17 19:03] TofPlay commented on #44
@teotwaki I know well C ++ I developed 15 years with it. It's a good language. On the other hand, it takes time to master it. And the developer must be very rigorous otherwise the sources quickly become spagetti code. Having a multi-platform code in C++ it's possible but not all the time clean. If the code has not been written properly it can quickly become the hell to do the maintenance.
Unlike o

[2016-11-18 05:13] OMGBrains commented on #42
I've been working on a project that requires a use case very much like this.  I have an app that offers up a good number of available datasets, conditionally synced to a variable number of users.  They are conditionally offered as needed for each user, and it also helps to cut down on the sheer volume of data (~200 unique available datasets, approx. 10MB a piece, typical user may 'subscribe' to 5

[2016-11-18 09:04] teotwaki commented on #44
I understand where you're coming from. Just for reference, the Realm team has roughly 100 years of combined C++ experience. I also take offense (not really, just a figure of speech :P) with the notion that C++ hasn't changed much; modern C++ (aka, C++11 or 14) is a very, very different beast from the C++ people wrote just 10 years ago.

This being said, I appreciate your candour. I'll look into Sw

[2016-11-18 09:45] mtrossbach opened #50 "Custom Authenticators"
Hi!

Here at our company we have an existing authentication provider for our customers. Is it possible to use this authentication provider for the Realm Mobile Plattform? Or is this feature planned for future releases?

We use Keycloak (http://www.keycloak.org/) so I should be possible using OAuth2 + OpenID like with the social authentication providers you already support.

[2016-11-19 16:52] TotemChris opened #51 "packagecloud.io update to 4.2-1 soon?"
Has 4.2-1 been pushed to packagecloud.io?  I don't seem to have anything new available from 1.0.0-BETA-4.2-336.

[2016-11-19 20:46] Den-Ree commented on #47
@cliftonlabrum  Thanks for  your help. I understood.

[2016-11-19 20:46] #47 closed

[2016-11-21 01:47] walkerdigital commented on #17
I came here fishing for this answer.  Unfortunately I need to push data from a CMS so I'm not sure I can use Realm just yet.

[2016-11-21 08:16] teotwaki commented on #51
The latest version of the ROS on PackageCloud is the correct one. The last RMP update did not include a new version of the ROS.

[2016-11-21 08:16] #51 closed

[2016-11-21 17:28] cliftonlabrum commented on #17
You could always build a custom bridge for the data. The CMS might have a way to expose the data via an API and you could consume it in your mobile app and add the data to Realm. This would be a one-way thing only, though. Trying to push data back up to the CMS from the mobile app would be complicated.

[2016-11-21 20:32] walkerdigital commented on #17
Thanks @cliftonlabrum - Being somewhat new to this flavor of development I considered that but didn't know whether or not it would be considered acceptable.  Luckily many of the projects I'm consdering with React Native don't have big data requirements so I might just well do this and "fill" the realm database from a feed where the data is stored in MySQL or Firebase.

[2016-11-22 10:08] KieranLaffertySC opened #52 "Share sync realms between users"
Hey there,

For some reason using Object Server after authenticating I get a unique db for each individual user.

Example

static NSString * const kDefaultAuthURL = @"http://10.0.1.6:9080/";
static NSString * const kDefaultRealmURL = @"realm://10.0.1.6:9080/default";

After authenticating using 2 different users on http://10.0.1.6:9080/ I open the endpoint using Realm Browser and have 2 databases

[2016-11-22 10:54] mtrossbach commented on #52
I think this the same question as in (or is related to) #42 - Syncing data across users

[2016-11-22 18:03] rishabhparikh commented on #52
I believe the point of the mobile platform as a sync server is to have user data backed up on a server in realtime. This allows users to access the same data consistently across multiple devices, but doesn't mean that users will be able to share the same realm. Not sure if Realm is planning to support this in the future, but ATM I don't think it's possible.

[2016-11-22 22:25] KevinVitale commented on #52
I less than a day into Realm (first-time); I'm confused with how Realm is supposed to support "real-time collaboration" if realms are just _per-user_. Maybe I misunderstood what Realm is supposed to be providing — I thought it [was similar to a Firebase-type service](https://www.reddit.com/r/Firebase/comments/55ozf0/realm_mobile_platform_vs_firebase/d8e4lxc/), but with on-premise benefits.

I have

[2016-11-22 22:27] KieranLaffertySC commented on #52
+1 also thought this was a better alternative to firebase
On Tue, Nov 22, 2016 at 2:25 PM Kevin Vitale <notifications@github.com>
wrote:

[2016-11-22 23:33] bmunkholm commented on #52
You will certainly be able to share Realms between different users shortly
(roughly a week or so)!

On Tue, Nov 22, 2016 at 11:28 PM, Laff <notifications@github.com> wrote:

[2016-11-23 00:06] KevinVitale commented on #52
@bmunkholm: thanks for the quick response! I'm evaluating deps for a new project; if it's going to be a week, I can wait.

 Realm has had my attn for awhile, but the Object Server really has me intrigued. To you & and the rest of the team: keep up the great work.

[2016-11-23 10:39] Jerrot opened #53 "nodejs 4.2.6 dependency on Ubuntu"
After some updates on my Ubuntu 16.04 machine, the realm-object-server-de upgrade fails for me due to the dependency on some older nodejs version:

[code]

Any resolution but downgrading nodejs?

[2016-11-23 13:02] teotwaki commented on #53
@Jerrot Are you using only packages provided from the official repos, or did you install a newer version of node from some other source?

[2016-11-23 15:08] teotwaki commented on #50
Hi @mtrossbach,

Yes, this is possible, but currently not exposed/documented. We focused on the "generic" login systems for the beta period. It is currently on our roadmap to make it easier to integrate with third-party authentication systems/OAuth2 systems, however, as far as I know, we don't have a timeline for this.

How blocking is this for you?

Thanks

[2016-11-23 15:36] KevinVitale opened #54 "SyncCredentials(accessToken:identity:) ignoring `identity`?"
Just started kicking the tires on Realm.

After [getting an `accessToken`](https://realm.io/docs/realm-object-server/#the-realm-browser), I saw the `SyncCredentials` API. Being unsure what to put in for `identity`, I started with an empty string and it worked.

Seemingly I can put whatever value I'd like into `accessToken:identity:` — what's `identity`? and is this expected behavior?

---
[code]
-

[2016-11-23 16:31] Jerrot commented on #53
@teotwaki Hmm, ok, I found some external apt-source which includes the line
`"deb https://deb.nodesource.com/node_4.x xenial main"`
I guess that one updated node, however I'm not experienced enough to understand why it is there and if I need it. So downgrade is my only hope to get realm object server running?

[2016-11-23 23:13] johnpryan opened #55 "Dart / Flutter Support"
[Flutter](https://flutter.io/) is a new way to build cross-platform mobile apps using [Dart](https://www.dartlang.org/).

It would be great to see a native implementation of Realm for Dart and Flutter.  Flutter has access to the dart:io package, which should provide everything necessary to write a native library for Realm.

How much effort / public demand take to get an official client?

Thanks!

[2016-11-24 10:10] teotwaki commented on #53
@Jerrot We're working on being more lenient with regards to Node versions in the future, and also hope to provide Docker images and whatnot to make it less conflicting with whatever else people might have on their system. In the mean time, I'm afraid so.

[2016-11-24 12:38] dannygrob commented on #35
Is this fixed with the recent updates (4.2.2 and 4.2.1)?

[2016-11-24 21:49] bmunkholm commented on #55
Hi @johnpryan,
It would have to be a native extension that uses our realm-core written in C++. The effort required is substantial as we aim for a very idiomatic experience with all the SDKs we write. I havn't done any Dart extensions, so I'm not aware how simple it is, but you can judge the complexity by looking at realm-cocoa or other SDKs we have.
It's hard to give an indication of what interest

[2016-11-24 23:17] HT154 opened #56 "Startup fails when running from systemctl"
Ubuntu 16.04.1

Running via `systemctl start realm-object-server.service` causes it to fail. Here's the result from `systemctl status realm-object-server.service`. Nothing is appended to the log file (which I verified is writeable).
[code]

Running it with the exact same command that systemctl is using (`/usr/bin/realm-object-server -c /etc/realm/configuration.yml`) works fine and starts the serve

[2016-11-25 10:04] teotwaki commented on #35
This should be fixed in our next release. I'll close this when it's the case.

[2016-11-25 12:05] stel commented on #54
The `identity` is the unique Realm Object Server user ID string identifying the user. Identity is generated by the Object Server when creating a new user, but in case of `accessToken` authentication you need to specify it manually. It can be any string and you can also use it to get a valid sync user from `SyncUser.all` dictionary across application launches.

[2016-11-26 07:45] DanielAsher opened #57 "Xcode Playground support: Keychain returned unexpected status code: -34018"
Hi,

thanks for creating such an awesome product!

I've been using Realm a while and have created and managed many of my local realms from within Xcode playgrounds. When using Realm Object Server, however, a call to `SyncUser.all()` results in this error:
`libc++abi.dylib: terminating with uncaught exception of type realm::keychain::KeychainAccessException: Keychain returned unexpected status code

[2016-11-26 17:07] jpsim commented on #57
It'd be very easy to use our existing `RLMIsInPlayground()` check to disable metadata encryption. Thanks for reporting this!

[2016-11-27 20:20] fpatelm commented on #52
Hello,

Is there any news if the feature in which "multiple users have access to the same sync realm object" is available?

[2016-11-28 09:20] teotwaki commented on #56
Hi @HT154,

Any chance you could share the log file with us?

Thanks

[2016-11-28 09:21] #54 closed

[2016-11-28 09:26] teotwaki commented on #48
@AndyDentFree What's the behaviour you would expect?

[2016-11-28 09:39] AndyDentFree commented on #48
Expected behaviour - It should not affect **any** other apps.

When I say _all running Mac apps died,_ I am not talking about any other apps related to Realm or Mac DE. **Every single app on my machine died.**

I just repeated the test on a different Mac.

As soon as I typed in _yes_ to terminate the server instance, it killed off:

- Chrome
- Evernote
- Preview
- SourceTree

[2016-11-28 09:41] AndyDentFree commented on #48
Just to clarify, the only things left running after the crash described above were:

- Finder
- Terminal
- Chrome, with a series of crashed windows, because every process backing them had been killed.

[2016-11-28 13:57] radu-tutueanu commented on #48
@AndyDentFree What is the absolute path for the `start-object-server.command` file?

[2016-11-28 14:46] teotwaki commented on #48
@AndyDentFree I can't reproduce this, and neither can @radu-tutueanu. Any chance you could give more details about your setup (paths and stuff). I think that might have a fairly important impact here (especially spaces in usernames and stuff like that).

Thanks.

[2016-11-28 15:22] AndyDentFree commented on #48
First run of server, after moving the folder to the user root.

[code]

[2016-11-28 15:23] AndyDentFree commented on #48
Ran 2nd run with it at root and no problems

[2016-11-28 15:24] AndyDentFree commented on #48
Run server after moving back to path that, yes, had spaces in it:
[code]

[2016-11-28 15:25] AndyDentFree commented on #48
**Yes** - good call. When I moved it back to that location with spaces in the path, it killed everything.

[2016-11-28 15:43] teotwaki commented on #48
Can you test with @radu-tutueanu's fix in https://github.com/realm/realm-sync-services/issues/540? It just adds quotes, so should be able to handle spaces in the path.

[2016-11-28 15:53] AndyDentFree commented on #48
👍  yep, that fixed it

[2016-11-28 15:55] #48 closed

[2016-11-28 19:08] HT154 commented on #56
Nothing gets logged when starting via systemctl.

Here is the log file (level: all) when starting directly from the shell: https://gist.github.com/HT154/d9e09fb361df227a568a05bb871beab4

[2016-11-28 20:10] HT154 commented on #56
I ended up backing up my config, running `apt-get purge`, and reinstalling the package. It's working now, but I'm still not sure what the actual issue was.

[2016-11-28 20:10] #56 closed

[2016-11-28 22:53] #57 closed

[2016-11-29 02:38] netspencer commented on #26
@alazier any updates on the timeline?

[2016-11-29 04:39] alazier commented on #26
We have things working for iOS but still have issues with chrome debugging support and android. We don't yet have a definitive timeline.

[2016-11-29 10:24] teotwaki commented on #56
@HT154,

Any chance you could share the configuration file (new and old/broken) with us? You can email help@realm.io if you'd rather not disclose it publicly.

Thanks,

[2016-11-29 22:24] HT154 commented on #56
Not able to get the config right now, but it was pretty standard. I think the only modifications from the default were HTTPS-related.

[2016-11-30 01:58] TotemChris opened #58 "4.7 MacOS Startup Fails"
I get this error when running start-object-server.command.  Reproduced on multiple MacOS Sierra computers. Haven't tried an Ubuntu build yet.

Error: dlopen(/Users/---/Downloads/realm-mobile-platform-3/realm-object-server/node_modules/realm-sync-server/build/Release/realm-sync-server.node, 1): Library not loaded: /usr/local/opt/yaml-cpp/lib/libyaml-cpp.0.5.dylib
  Referenced from: /Users/---/Downl

[2016-11-30 06:43] teotwaki commented on #58
Hi @totemchris,

We're aware of this, and will post a new version in a few hours. Apologies for the interruption.

[2016-11-30 09:15] teotwaki commented on #56
Thanks @HT154, we'll look into that.

[2016-11-30 14:49] mikaelcom opened #59 "Unable to install on CentOS 7"
HI,
I can't install the realm object server due to nodejs version:
[code]

Isn't it possible to use a newer version? Or maybe pass the nodejs 4.5.0 executable bin so I don't have to downgrade the server. By the way I installed from the source nodejs 4.5.0 and it still fires this error.

Please get back to me,
regards,

[2016-11-30 17:16] mseijas opened #60 "Unable to use Node.js to connect to Realm Object Server"
According to the documentation, we can access the Realm Object Server via Node.js through the following way:

[code]

However, attempting to do so returns the following error:

[code]

It looks as if the `Sync` object has not been defined. I've already made that npm has successfully installed Realm on my machine, so I'm not entirely sure where is this coming from, or if there is an additional depe

[2016-11-30 17:19] bigfish24 commented on #60
The Node.js SDK available publicly does not support synchronized Realms. This is only available as part of our enterprise edition. Feel free to reach out to Ian.ward@realm.io if you would like to evaluate it.

[2016-11-30 17:42] mseijas commented on #60
Ah, ok. That would make sense then. I'll make sure to reach out again to Ian to see if I can get access to the enterprise edition. Thanks!

[2016-11-30 17:42] #60 closed

[2016-11-30 20:17] dsjstc opened #61 "Feature: method to abandon data upon non-additive change to model"
[As discussed here](http://stackoverflow.com/questions/40877811/synchronized-realm-how-to-deal-with-non-additive-migration?noredirect=1#comment69006219_40877811), if your model changes in a non-additive way, it appears that you have to manually delete your realm files (presumably with the commandline and root access on the server, and adb shell on the various clients).

In a development/test envir

[2016-12-01 00:54] bigfish24 commented on #61
Great feedback and that's a use-case we should support. Can't say yet on when we can deliver, but will put it on the roadmap.

[2016-12-01 07:01] teotwaki commented on #58
This was fixed in yesterday's release. Forgot to update this ticket.

[2016-12-01 07:01] #58 closed

[2016-12-01 07:03] teotwaki commented on #59
Duplicate of #53 (even if it's not the same distribution).

[2016-12-01 07:03] #59 closed

[2016-12-02 02:39] nmccann opened #62 "Question about scaling and "server less"/offline first"
Hi I was reading an example for the Enterprise edition's [Event Handling](https://realm.io/docs/realm-object-server/#event-handling) functionality, and just recently watched Alexander Stigsen's talk about an [Offline First world](https://realm.io/news/serverless-alexander-stigsen-in-an-offline-first-world/) - I was however wondering how the Realm Mobile Platform deals with scaling and the possible

[2016-12-02 02:50] bigfish24 commented on #62
First thanks for asking this question and exploring the product deeply.

Right now we don't offer an automatic balancing system for events. However, the event handling enables the developer to split event handling up on their own. In the simplest scenario you can run the event handling on the same machine as the sync server. However, you can then break it up and run the event handling on another m

[2016-12-02 05:06] SureshSc opened #63 "Property cannot be marked dynamic because its type cannot be represented in Objective-C"
Hi

I am trying to implement below scenario, but i am facing the issue

[code]
I have a comments model which has non optional properties in which childComments is List of same Comments model class. In this when i declare  `dynamic var childComments = List<CommentsModel>()` **it shows me Property cannot be marked dynamic because its type cannot be represented in Objective-C.**

Please help me how t

[2016-12-02 06:34] jpsim commented on #63
List properties cannot be marked as `dynamic` and should be marked as `let` instead of `var`. See our [Swift docs on Models](https://realm.io/docs/swift/latest/#models) for details.

[2016-12-02 06:42] SureshSc commented on #63
Sorry, Now i changed to `let` from `dynamic`. Now i am facing the same issue

Code

`class CommentsModel: Object {
  dynamic var commentId = ""
  dynamic var postId = ""
  dynamic var ownerId: UserModel?
  let childComments: List<CommentsModel>()
  dynamic var type = ""
  dynamic var treeLevel = 0
  dynamic var message = ""
  dynamic var modifiedTs = NSDate()
  dynamic var createdTs = NSDate()
}`

[2016-12-02 06:51] jpsim commented on #63
[code]

[2016-12-02 06:54] SureshSc commented on #63
@jpsim I didnt notice the syntax properly. Thank you once again

[2016-12-02 06:54] #63 closed

[2016-12-02 14:47] nmccann commented on #62
Thank you for the quick reply. So it sounds like that would lend itself well to micro services - as you scale you would try to have instances that just perform a single function (like payment processing) so they don't conflict with other instances.

However, I could see load balancing still being useful for reliability purposes and services that have tons of users. But that could be in addition to

[2016-12-04 18:40] scottfister commented on #5
Would love to see one-click install for Heroku!

[2016-12-05 08:16] fpatelm commented on #5
I have installed the RealmObject server using the commands for Ubuntu on AWS, is there a easy way? If anyone wants to share some guides on it. Anyway With Ubuntu configs I manage to have it run.

[2016-12-05 08:19] fpatelm commented on #52
this feature will be available in Developer Edition?

[2016-12-05 09:10] teotwaki commented on #62
@nmccann Could you create a new issue/discussion for this, just so that we don't mix everything up? Thanks.

[2016-12-05 09:53] bmunkholm commented on #52
Yes it's now available in the Developer Edition: https://realm.io/news/realtime-collaboration-now-for-every-mobile-developer/

[2016-12-05 09:53] #52 closed

[2016-12-05 09:54] bmunkholm commented on #42
Handling permissions is now available: https://realm.io/news/realtime-collaboration-now-for-every-mobile-developer/

[2016-12-05 09:54] #42 closed

[2016-12-05 16:16] nmccann opened #64 "Pricing Model"
I've seen talk (in other issues) of a possible pricing level between Developer and Enterprise. Instead of introducing a new pricing level, what about a different license scheme for learning?

My reasoning is that Event Handling seems really cool, but it also seems like it requires a new kind of thinking and it would be great to play around and experiment with it - even if the result couldn't be us

[2016-12-05 18:04] sirvon commented on #5
@fpatelm can you share how you got it done?

[2016-12-05 19:51] fpatelm opened #65 "[Idea] Remove all realms expect the ones selected (list)"
I have a use case in which I want to remove all realms except the ones I have in the List (query).
Today is possible to remove the realms providing the List. The idea Is like removing everything that is not in the List.

[2016-12-06 08:01] #65 closed

[2016-12-06 08:02] fpatelm commented on #65
not in the right repo

[2016-12-06 08:07] fpatelm commented on #52
Is there any code example for global realm shared among all users?

[2016-12-07 12:37] arminasr commented on #5
+1
Installation of Realm Object Server on Heroku is the feature that I want!

[2016-12-08 20:39] mseijas opened #66 "Notifications on RLMSyncSession"
Is there a way to listen for updates on RLMSyncSessions - either when these are created, or when their state changes?

[2016-12-08 21:43] jpsim commented on #66
Not yet, but we're tracking adding such functionality over at realm/realm-cocoa#4252

[2016-12-09 02:19] TotemChris opened #67 "Root vs /~/"
How does a user create a realm in the root vs their own ~/ directory?  I've tried using the URL path sans the ~, without success.  Does an admin have to create it first?  If that is true, will this always be the case?  I thought I had this working back in some of the early builds, but now they only place I can get a user to create a Realm in is in their own ~/ folder.  I am developing an app that

[2016-12-09 09:53] brankeye commented on #17
Hi there, just curious. With the recent support of Node.js (V8) it seems we can now use Realm.js with Electron. If this is the case, would this work with the Realm Object Server now or is that coming later? I haven't been able to find whether this works currently or not.

[2016-12-09 15:24] #66 closed

[2016-12-09 17:27] mseijas commented on #66
Great! That really good to know - and sorry for posting this in the wrong place

[2016-12-09 22:15] dannygrob commented on #35
I'm sorry to ask about it again, but this is a very essential fix for me. I'm answering 20-30 support e-mails a day. Is there any planning for a release date that I can communicate to my users? Or if it takes long, the possibility to release this tool seperatly?

[2016-12-09 22:22] teotwaki commented on #35
Did you try the latest release? I'm not in the office so can't check right now, but I was under the impression this had been fixed.

[2016-12-10 21:05] dsjstc opened #68 "Realm-tasks logout does not prevent auto-login on next run"
The SignInActivity in the realm-tasks example always logs in as SyncUser.currentUser(), unless it is launched with an intent of ACTION_IGNORE_CURRENT_USER.  That means that if you log out and destroy the application (reboot hardware, manual terminate, etc), the next run of the application will autologin *as the last logged-in user*.

I did not immediately see any trivial way to invalidate the stor

[2016-12-10 23:58] dannygrob commented on #35
I'm getting this after updating:

[code]

[2016-12-11 20:41] teotwaki commented on #35
Right. I'll get the tool in your hands tomorrow or Tuesday. Can you email at help@realm.io, mention my name, so we can take this in private?

[2016-12-11 20:41] teotwaki commented on #35
@dannygrob ^

[2016-12-12 19:03] DevAndArtist commented on #11
I just noticed the `"Pro"` version. 1500$/Month? Really?

[2016-12-12 20:15] teotwaki commented on #11
Hi @DevAndArtist,

I understand your reaction. The Professional Edition of the Realm Object Server can easily handle tens of thousands of simultaneous end-users, which means that it's mainly targetted towards medium sized businesses. Obviously, we're still working on other price points, which might match more with what small businesses and early-stage startups expect.

Please bear in mind that the

[2016-12-12 20:20] dsjstc commented on #11
@Teotwaki, any progress on the original intent of this thread: to publish a feature roadmap?

EG, I'd really like to know how far in the future it's likely to be before there's a native java client to the MOS.  It'd be great to see it either (a) on the roadmap with a target date, or (b) not on the roadmap, so I know that if that's functionality I need, I have to bake it into the intial design.

[2016-12-12 20:21] DevAndArtist commented on #11
@teotwaki I do understand that the mobile platform is a powerful beast when you can use it's full potential and stuff. Don't get me wrong here, as much as I like Realm, I really wish for some *human* price entries. If one day Realm is going to offer something similar like [Firebase](https://firebase.google.com/), count me in. ;)

[2016-12-12 20:32] dsjstc commented on #22
The most basic level of my functionality requirement is now addressed by [PermissionChange](https://realm.io/news/realtime-collaboration-now-for-every-mobile-developer/).  Still leaving the issue open because it's still not object-level control.

[2016-12-12 21:44] dsjstc opened #69 "Feature: Class ServerCounter (unique server-side counters, perhaps in management realm)"
I can imagine a class of applications where multiple clients wish to create objects with unique, sequential, human-readable serial numbers.  [My use-case is serial numbers on printed tickets.](http://stackoverflow.com/questions/40955522/online-first-object-creation-on-a-synchronized-realm-to-guarantee-client-object).  Trouble tickets and multi-player games are other  examples that spring to mind.

[2016-12-12 22:32] bigfish24 commented on #69
@dsjstc thanks for this feedback! Today, you could accomplish this with the Professional Edition given the access to the Node.js SDK. Interestingly, the `PermissionChange` actually is built off our [event handling](https://realm.io/docs/realm-object-server/#event-handling) capabilities available in the Node.js SDK.

The short summary is that internally the server sets a global event listener for a

[2016-12-12 23:26] bigfish24 commented on #11
@dsjstc at this time we can't commit to timing with regards to a native java client, but at least for this, I can say it is on our roadmap. We started with Node.js as a server-side SDK to access the synchronized Realms in ROS, but we would like to support other languages. The initial targets would be C# and Java since we can adapt our client SDKs in Xamarin and Android.

If you could create an iss

[2016-12-12 23:28] bigfish24 commented on #11
@DevAndArtist are you interested in a cloud offering specifically? If so could you create an issue for this directly as I would like to capture feedback around this.

[2016-12-12 23:47] dsjstc commented on #69
Thanks for the note, that makes sense, and Event Handling would solve many of my problems.

Unfortunately, I'm a hobbyist, and PE/EE are way outside my budget.  Here's hoping you can one day move to a pro/enterprise licensing model that restricts by install base or transaction volume rather than functionality!

[2016-12-13 10:50] Montrazul commented on #40
For me this is the only reason why we currently cant use realm database for automatic synchronization. We are having Users and each User has customers related directly to the User. If every User and the related customers are synchronized to each realm client it is simply a huge memory overhead and a really big problem when it comes to data security.

We also need login and registration functionali

[2016-12-13 15:23] astigsen commented on #40
Could each user have its own Realm containing all its customers? In that case you could selectively open only the relevant Realm(s) on the users device.

[2016-12-13 15:29] Montrazul commented on #40
That could be a solution. Does it have any disadvantages?

[2016-12-13 15:33] astigsen commented on #40
Only that you cannot have cross-realm relations (other than what you maintain manually, like by storing the url's of the target realms).

It would also fix your security/privacy issues as each Realm can have its own permissions detailing who has access to it.

[2016-12-13 15:34] Montrazul commented on #40
Sounds great. I will try that!

[2016-12-13 23:19] NSMyself commented on #5
+1

[2016-12-15 00:50] raudabaugh commented on #35
Could you please consider providing the migration tool to everyone? I think this is a widespread issue.

[2016-12-15 08:25] Montrazul opened #70 "Did you forget something in the "Getting Started" Instructions?"
delete pls

[2016-12-15 09:35] teotwaki commented on #35
The code will be included in the startup sequence of the server, so it an upgrade will fix it for everyone.

[2016-12-15 10:51] #70 closed

[2016-12-15 21:28] stevewehba opened #71 "Latest version of Realm Browser on iOS does not scroll tables"

[2016-12-16 07:28] bigfish24 commented on #69
@dsjstc do you need the numbers to be incremented or could you use UUIDs?

[2016-12-16 07:28] bigfish24 commented on #71
@stevewehba we don't offer a Realm Browser for iOS, is this a third-party library?

[2016-12-16 07:31] bigfish24 commented on #68
@dsjstc thanks for reporting this. @dalinaum or @austinzheng do you have any thoughts? We should probably move this issue to either https://github.com/realm/RealmTasks or https://github.com/realm/realm-object-store depending on where we think the issue is.

[2016-12-16 07:36] bigfish24 commented on #67
@TotemChris regular users can only create Realms in their directory: `/~/`. You can create Realms in the base directory, but you would have to do so with an `adminToken`: https://realm.io/docs/realm-object-server/#admin-based

We don't offer yet a way to look up `User` records on the server, though you could build this functionality with the Node.js SDK in the Professional Edition. Instead, I woul

[2016-12-16 07:48] dalinaum commented on #68
Thanks @dsjstc

Although I don't know it's an issue of `SignInActivity` or other parts yet, I should look into `SignInActivity` first and create this issue to RealmTasks or other repositories later.

[2016-12-16 07:54] bigfish24 commented on #64
@nmccann we recently announced the Professional Edition which gives you access to the Node.js SDK: https://realm.io/news/introducing-realm-mobile-platform-professional-edition/

You can sign up for a 60 day trial and get access immediately: https://realm.io/pricing/realm-professional-edition/. The pricing starts at $1500/month since this is targeted at medium sized businesses.

[2016-12-16 11:22] dalinaum commented on #68
I tested Realm Java version 2.2.1 and Realm Java version 2.3.0-SNAPSHOT. Although version 2.2.1 have a problem, it works well on version 2.3.0. I will update RealmTasks later.

I modified the following files:

[2016-12-16 13:25] #64 closed

[2016-12-16 13:49] teotwaki commented on #71
@stevewehba Did you mean the macOS browser? If so, could you please provide a reproduction case? Thanks.

[2016-12-16 14:34] ArifADS commented on #5
How can it be installed on Heroku if Heroku doesn't persist data in dynos restart?

[2016-12-16 16:58] dsjstc commented on #69
My use case involves verbally communicating the unique identifier (eg, to announce draw winner over a PA).   If it is big enough to avoid collisions, a UUID will be too unwieldy to read aloud in a noisy environment.

[2016-12-16 19:45] jpsim commented on #5
It would presumably have to be provided as a Heroku Add-On, much like other database providers like [mLab](https://elements.heroku.com/addons/mongolab).

[2016-12-16 21:26] ArifADS commented on #5
@jpsim forgive me if i'm wrong, but mLab offers they own servers to store the MongoDB data. The Add On basically only creates the accounts, mongo instance, set env variables and links it to your Heroku Account.

While Realm doesn't offer they servers to store the Realm Data. But, I actually don't know if a Heroku Add-On has the ability to store persistent data in file system.

[2016-12-16 22:18] jpsim commented on #5
Realm would have to run servers to provide a Heroku add-on.

[2016-12-17 17:12] marstall commented on #26
starting a new react-native project and would love to base it on realm mobile - what's the best way to get notified when this is released?

[2016-12-18 15:52] Jauzee opened #72 "Know when Realm loads all data at first setup"
How can I know that initial data was loaded?

Currently I configured Realm this way:
· Do we have any data in the Realm?
· If no, addNotificationBlock.
· If we receive first notification, stop the token and configure UI.

This way I face that only part of data was loaded.

Can I know this without some workarounds?

[2016-12-18 16:45] Jauzee opened #73 "How to have shared database for users"
I want to move my app backend from Firebase to own server based on Realm Mobile Platform and have some questions:

· I want to give read & write access for all app users and wish to have no login required for them. Should I use same login & password for all the users?
· If my *.realm file takes 1 MB does it mean that every app installation increases space on server's disk for 1 MB (or thereabouts)

[2016-12-19 13:30] bmunkholm commented on #26
We will announce that in this issue - so subscribing to this should do it.

On Sat, Dec 17, 2016 at 6:12 PM, marstall <notifications@github.com> wrote:

[2016-12-19 19:42] ojarabo opened #74 "Unable to enter in Realm Dashboard after installation (Ubuntu)"
Hi all,
I have been following the tutorial to start using the Realm Mobile Platform. I have installed Realm Object server without throwing any error in the console. The Realm Mobile Platform has been installed locally in my computer, which runs a Ubuntu 16.04, to start programming locally.

The problem is that I can't access to the Realm Dashboard when I go to http://localhost:9080. It just appear

[2016-12-21 04:43] dlittle1 opened #75 "(Mac) Realm Object Server Login Failed: Email/Password Incorrect"
I installed Realm on computer1 and ran the Realm Object Server (creating a new admin user) then installed and ran Realm Object Server on computer2 attempting to create the same admin user I created on computer1. It immediately went to the login page where I assumed it had recognized my credentials from computer1 so I then filled in the same credentials and tapped Login. For some reason this alert

[2016-12-25 17:44] Montrazul opened #76 "Saving the RLMSyncUser Instance for offline login"
My App needs to support offline login (only if the user at least logged in once before with a internet connection on the current device). For that I wanted to cache the `RLMSyncUser` object which is returned by the authentication service (online authentication).

Unfortunately `RLMSyncUser` is not implementing `NSCoding` so that I cant save the `RLMSyncUser` in the `UserDefaults`.

Whats the recom

[2016-12-25 21:00] bigfish24 commented on #76
The SDK automatically caches the user in the keychain after first login. You can then retrieve it via [`currentUser](https://realm.io/docs/swift/latest/api/Extensions/SyncUser.html#/s:ZvE10RealmSwiftCSo11RLMSyncUser7currentGSqS0__) property or alternatively if your app supports multiple users [`all`](https://realm.io/docs/swift/latest/api/Extensions/SyncUser.html#/s:ZvE10RealmSwiftCSo11RLMSyncUser

[2016-12-25 21:03] Montrazul commented on #76
It supports multiple users. So if i am logged out and im offline, the user inputs his email address and passwort. How can I know get the related user from `SyncUser.all`. And if im logged out: isnt `currentUser` nil?

[2016-12-25 21:07] bigfish24 commented on #76
If you are logged out then `currentUser` is `nil`. If you support multiple users you should use `currentUser`. Instead `all` returns a dictionary with the key being the user Id (email for your example) and the value the `SyncUser`.

[2016-12-25 21:35] Montrazul commented on #76
Sorry, dont get it.

So how can I use `currentUser` if it's (like you just said) nil when im logged out? If I register using the email as username, the email is the key for the `all` dictionary. So when im logged out I just have to check the `all` dictionary if there exists a value for the given email key. So I would not need `currentUser` at all (ofcourse except for the use of the realm object, t

[2016-12-27 09:17] sorenvind commented on #74
Hi!

Sorry for the late reply, we've been pretty much closed over Christmas. However, what you're seeing sounds very odd. I have a couple of quick questions for you:

- Do you see the dashboard when you go to http://127.0.0.1:27080?
- Can I get you to paste your `/etc/realm/configuration.yml ` here?
- Can you send the output of `dpkg -s realm-object-server-developer`?
- Can you also send the outpu

[2016-12-27 11:29] ojarabo commented on #74
Hi,
no worries, I understand this is pretty bad time ;)

- **No, I don't have access to http://127.0.0.1:27080**
- **/etc/realm/configuration.yml**
[code]
- **dpkg -s realm-object-server-developer output:**
[code]
- **node -v && which node output:**

/usr/bin/node

Thanks

[2016-12-27 12:54] teotwaki commented on #72
Hi @Jauzee,

We're working on a feature to help you manage this in the short future. Please stay tuned.

[2016-12-27 12:57] teotwaki commented on #73
Hi @Jauzee,

1. Yes, it would be possible to do so. We're working on an anonymous user feature. As far as I know, we don't have a public issue tracking this, but we're working on it.
2. If it's a shared Realm (as in, all of your users access the same URI), then there will only be a single copy on the server side. Each client will have their own local copy.

[2016-12-27 12:57] #73 closed

[2016-12-27 13:01] teotwaki commented on #75
I @dlittle1,

I was not able to reproduce this issue. Please note that as indicated, the fact that you are running the ROS on multiple machines has no bearing on this issue. Please try simply resetting the secondary install, and start from scratch.

To be clear: you can simply redownload the SDK from the website, and then unarchive it to a new location, and run the server from there using the usua

[2016-12-27 13:04] teotwaki commented on #74
Hi there,

Could you run the following commands for me?

[code]

If this says running, or something along those lines, please run the following command:

[code]

I suspect that your server isn't actually running. If the status command shows that the server isn't running, please run:

[code]

And check the status/logs again afterwards.

Thanks

[2016-12-27 13:08] teotwaki commented on #21
Continuous backup is now a feature of the Enterprise Edition.

[2016-12-27 13:08] #21 closed

[2016-12-27 13:10] teotwaki commented on #17
The `realm-js` package now supports Sync, as part of the Professional and Enterprise editions.

[2016-12-27 13:10] #17 closed

[2016-12-27 13:11] teotwaki commented on #30
@nickharbin,

Could you confirm that the latest version of the SDK doesn't have this issue anymore?

Thanks

[2016-12-27 13:12] teotwaki commented on #71
I'm going to close this, as I'm unsure what the issue is, nor which product OP is talking about.

[2016-12-27 13:12] #71 closed

[2016-12-27 13:16] teotwaki opened #77 "Load balancing / scalability"
This is an issue created to track the feature request in #62.

It should be possible to have multiple ROS instances work in unison to provide better scalability across the board.

[2016-12-27 13:17] teotwaki commented on #62
Closing this in favour of #77.

[2016-12-27 13:17] #62 closed

[2016-12-27 13:24] stel commented on #76
`SyncUser.all` keeps only valid logged in users. If you log out the user, the corresponding `SyncUser` will be removed from that dictionary.

There is no way to log in the user without network connection. You can only use previously logged in users (either from `SyncUser.all` or `SyncUser.currentUser` in case of a single user).

[2016-12-27 13:53] Montrazul commented on #76
Wow.... this is hard.... i cant login offline.... that message just told me that i cant use the great realm mobiel platform.....

[2016-12-27 14:10] bigfish24 commented on #76
Sorry for the struggle with communication, but if you call `logout` on a user then it will be removed from `all`, however if the user just exits the app but that never gets call then the user is stored and can be used again to open a synchronized Realm.

We currently don't offer an offline login (note this means starting from nothing, rather than starting from a persisted logged in user in `all` t

[2016-12-27 14:48] Montrazul commented on #76
Ok. So It's rescued. I wont perform a `logout` on a `SyncUser` and will perform the offline login using another way.

Our App also currently does not support offline registration and for the first login on a device there is also a working connection required. But all other logins should work without connection. So that is the way to go I guess.

If you are done with your "anonymous user" I will be

[2016-12-27 14:48] monajafi opened #78 "Clarify more on Counters"
please would you provide a little sample code or more explanation for this statement in the Counter  section description:
"to support this common use case we offer a way to express the intent that you are incrementing (or decrementing) the value, giving enough hints to the merge that it can reach the correct result"

how we can express our intent to merge in android code ? please would you clarify

[2016-12-27 14:53] TotemChris commented on #67
From a security perspective, this is not a good idea.  And this app is a professional iPad app for clinicians to use in their clinics.  It stores patient health data on the ROS.  I would not want a copy of all user accounts (clinicians using app) proliferating to all users of this app, across all clinics that have nothing to do with one another.

What would your suggestion be to control clinician

[2016-12-27 15:01] ojarabo commented on #74
Hi teotwaki,
- **systemctl status realm-object-server output**

   Active: inactive (dead) (Result: exit-code) since mar 2016-12-27 12:02:10 CET; 3h 40min ago
  Process: 1813 ExecStart=/usr/bin/realm-object-server -c /etc/realm/configuration.yml (code=exited, status=99)
 Main PID: 1813 (code=exited, status=99)
 dic 27 12:02:10 myComputer systemd[1]: realm-object-server.service: Unit entered failed

[2016-12-28 08:54] Montrazul commented on #76
No. Because our App is never allowed to automatically Login after App Restart or something similar. If the App is closed and the User opens it up he always has to authenticate. No Auto-Login.

[2016-12-28 11:54] Montrazul opened #79 "Wait for initial Sync"
Is it possible to wait until an initial sync is done?

The following scenario should describe what I mean:

A User registers and logs in. I have a model class called `User`. The User is stored in my realm object and if there is no User at all I create a new User and save it. The User can now work with the app, making some changes, saves it and after than uninstalls the app.

When The User now inst

[2016-12-28 11:55] Montrazul commented on #79
I guess [Issue #72](https://github.com/realm/realm-mobile-platform/issues/72) was requesting the same thing.

[2016-12-28 11:55] #79 closed

[2016-12-28 11:57] Montrazul commented on #72
@Jauzee How do you check if the Realm Object is newly created?

[2016-12-28 13:39] bigfish24 commented on #76
Now I am confused, why do you want to persist the user if this is the case? To accomplish this you will then have to logout whenever the user exits the app to ensure Realm removes their credentials from the keychain.

[2016-12-28 15:01] Montrazul commented on #76
What if you are in an Area where the connection to the internet is not given for 100% when you are on your mobile device. What if you really need to login to your App right now but you have no Internet Connection? But what if you also need to make sure that only the user has access to the app who really is the owner of the account?

So you are offline. The User has to login to get access to the da

[2016-12-28 16:47] Montrazul opened #80 "Schema mismatch detected: another process has modified the Realm file's schma in an incompatible way"
I get the following error:

`terminating with uncaught exception of type std::logic_error: Schema mismatch detected: another process has modified the Realm file's schema in an incompatible way`

After I added a new property to my schema. I configured my Realm like the following:

[code]

So that means: Delete Realm if migration is needed. Isnt it possible to do that? The server side schema did not

[2016-12-28 22:01] monajafi opened #81 "Sync success or complete event"
In my app I need to know when the sync process get completed. Could I use notification for this purpose. especially my problem is this: I want to run cached commands after my device get online
but after going online and before getting the synced data the app queries the local data and runs commands on them. In the case other devices do the same the final results will be wrong
one hack solution is

[2016-12-29 08:50] monajafi opened #82 "realmtasks adapter android demo bug"
After Logout and re-login the lists are not syncing . but after killing process and relaunching app synces correctly. I tried to transfer the code from onStart/onStop to onCreate/onDestroy also removed realm=null from onStop but non of them solved the problem. please help to remove this issue

[2016-12-29 09:05] LightningDev opened #83 "Cannot get data from table after moving Realm Object Server to a different IP"
Hi,
I'm new to Realm Object Server so I don't know if I do something wrong or this is an issue. Everything works perfectly when I set up the server from scratch, from putting the data to Realm Server and run it from my iOS application (this is testing locally so the IP sometimes just change because my company reset the modem). After that I can still login using the Realm Browser, however, on iOS I

[2016-12-29 09:08] #82 closed

[2016-12-29 09:40] Montrazul commented on #81
I guess this is also related to [Issue #72](https://github.com/realm/realm-mobile-platform/issues/72)

[2016-12-29 09:44] Montrazul commented on #83
If the IP Address of your Realm Object Server changes you also have to change the IP Address inside your App Code. Did you do that?

[2016-12-29 11:16] LightningDev commented on #83
Yes I did, that why I can authenticate the credential but I got nothing back from the database although the Realm Browser can access it.

[2016-12-30 00:10] astigsen commented on #67
Each clinic could easily have its own user list in a Realm that only they have access to.

You can serve multiple Realms with individual permissions from the same server. So you should be able to let all clinics have their own private data while still running it all on one server.

[2016-12-31 08:33] monajafi opened #84 "custom conflict resolution"
I implemented custom resolution by changing value to list. but this way the lists will grow very fast and it is a good idea to clear the list after getting cached data which I get stuck to implement this correctly. I followed this way:
1- cache the changes in list when device is offline
2- tried to get the cached list data when device get connected to internet then apply to local realm and clear t

[2017-01-02 06:53] bmunkholm commented on #78
@monajafi This feature has not been released yet. The first line under "Counters" says: "Not exposed in client API’s yet". Is that not clear enough? Any suggestions to make it clearer?

[2017-01-02 10:04] bmunkholm commented on #81
Exactly Issue #72 will solve this.

[2017-01-02 10:04] #81 closed

[2017-01-02 10:08] bmunkholm commented on #80
Issues related to a specific SDK (https://github.com/realm/realm-cocoa/issues/new) is best addressed there. I wouldn't mind moving this issue for you, but it would be better if you would do that yourself to ensure proper notifications :-)
Thanks!

[2017-01-02 14:05] giaesp commented on #9
@teotwaki I've the same issue with Ubuntu 16.10 64bit (Italian)

Linux Aspire 4.8.0-32-generic #34-Ubuntu SMP Tue Dec 13 14:30:43 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

One of the last line says

W: The repository 'https://packagecloud.io/realm/realm/ubuntu yakkety Release' does not have a Release file.

Is an Ubuntu version incompatibility?

[2017-01-02 14:40] teotwaki commented on #9
@giaesp We only support Ubuntu 16.04. 16.04 is an LTS release, which is why we've decided to support it, as it will be around for quite some time. 16.10 isn't.

[2017-01-02 15:21] teotwaki commented on #74
Please post the result of the following command:

[code]

Also, please ensure that you've posted the entire log file. If the server was unable to start up, it should have posted an error message there.

[2017-01-02 19:59] astigsen commented on #84
What kind of custom conflict resolution are you trying to implement?

[2017-01-02 20:39] nonameolsson commented on #53
I'll hijack this thread..  I get the same message. I have Ubuntu 16.04 with Node `v4.6.2` installed.

[code]

What could be the problem now?

[2017-01-03 01:51] jpsim commented on #80
You cannot use `deleteRealmIfMigrationNeeded` with synchronized Realms. That's likely your issue here.

[2017-01-03 09:11] Montrazul commented on #80
Yes that was my error. I have to write migrations for synchronized realms.

[2017-01-03 09:23] AndyDentFree commented on #24
I support an actual code generator as well as a JSON binding.

Implementing the code generator in JS means it can be hosted online as well as inside utility apps on all platforms.

For one thing, there is a **huge** difference in dotnet between having class declarations and using a dynamic interface. We weave our code at compile time and this is far more optimal than dynamic access.

Note also As

[2017-01-03 10:07] ojarabo commented on #74
Hi @teotwaki,
- `sudo netstat -laputen | grep -E '(27800|9080|9443)'` result
The command didn't return anything in both case, with and without starting the server.

Regarding to the log file, do you mean the result of running the status command, or do you refer to file?
If you refer to the first case, the result of the status command is as follows:

   Loaded: loaded (/etc/systemd/system/realm-obj

[2017-01-03 11:32] teotwaki commented on #74
Could you set the log level to `debug` in the configuration file (`/etc/realm/configuration.yml`), and try starting the server again? Thanks.

[2017-01-03 11:41] teotwaki commented on #17
The Realm Object Server provides synchronisation between devices (clients). If you want to be able to have a server-side process participate in the fun, then you need the Professional or Enterprise edition of the Realm Mobile Platform.

[2017-01-03 11:49] ojarabo commented on #74
I have changed `# level: 'info'` by `# level: 'debug'`. Was this what you wanted?

If so, I have started the server again and checked the status. This was the result:

   Loaded: loaded (/etc/systemd/system/realm-object-server.service; enabled; vendor preset: enabled)
   Active: active (running) since mar 2017-01-03 12:38:13 CET; 129ms ago
 Main PID: 5630 (realm-object-se)
   CGroup: /system.slice

[2017-01-03 12:00] teotwaki commented on #74
Sorry, I should have been clearer: I would need the log file. Changing the log level will increase the verbosity of the log file, and might help us understand what is going wrong, or at least where.

[2017-01-03 12:30] ojarabo commented on #74
No worries, it was my fault.
I have uninstalled and reinstalled everything again to have a clean trace of everything. I have modified configuration.yml and started the server again. The log file is empty.

[2017-01-03 12:34] v3yr0n commented on #17
@teotwaki Thanks for clarifying. I didn't know that...

[2017-01-03 13:48] jpsim commented on #80
You also cannot migrate synced Realms. Only add to the schema.

[2017-01-03 14:04] Montrazul commented on #80
Wait, what? What if I release a new version which contains heavy changes to the model? Do I have to delete all the data I have and create a new Realm?

[2017-01-03 17:09] jpsim commented on #80
You don't have to delete the old Realm, but if you want to make significant and destructive changes to your schema, you cannot do that in a safe way without compromising your ability to synchronize with older clients.

Which is why we support additive changes to your schema, but data migrations cannot be made with synchronized Realms (a.k.a "migration blocks").

We cover this in the [Realm Mobile

[2017-01-03 17:11] Montrazul commented on #80
Ok, if you say an unused property has little overhead it will be ok i guess. I see that you need to do it for the most common ways apps are being used. I did not think of it because with our app it is not possible to have older clients. every client needs to have the newest version otherwise it isnt working. Thx for making your reasons clear.

[2017-01-03 17:11] #80 closed

[2017-01-03 17:48] jpsim commented on #80
That's exactly the type of restriction that we've worked to avoid, which also sets the Realm Mobile Platform apart from other solutions.

Now that you've told me you have this limitation (presumably for a reason other than Realm), I'd suggest creating a new Realm for each version, that way you're not synchronizing data from an incompatible version of your app, which actually _would_ lead to overhe

[2017-01-03 18:05] Montrazul commented on #80
But there would be a problem with creating a new realm (at least I think so). Since realm for now is not able to do selective synchronization I had to create a workaround. My workaround was to create a realm for each user identified by the email address of the user. So every user has its very own realm address, so that every client only synchronizes the data it really needs.

So creating new realm

[2017-01-03 18:13] astigsen commented on #80
Why did you need to identify it by the email address? On their own each user can only create Realms with the path prefixed with their userid, so that makes them isolated from each other by default (you can get around that by creating the Realms for them as admin).

So each user could easily have multiple Realms that are all uniquely accessible by them (since they are all stored in the same "folder

[2017-01-03 18:17] Montrazul opened #85 "Help: Switch from another database to realm mobile platform"
Hi,

the last weeks I was playing around with the realm mobile platform and I came to the conclusion that it is great! So we want to use it!

We already are using the client side realm database but we are currently synchronizing it with a spring backend using a H2 Database. So Clients are Realm, Server is H2. In our next app version we would like to migrate from H2 to realm mobile platform, but of

[2017-01-03 18:23] Montrazul commented on #80
What you mean it makes them isolated from each other by default? If I just open up a realm using the basic server address:

`"realm://localhost:9080/~/"`

All my users are getting created in one realm under `/~`

[2017-01-03 19:26] Montrazul commented on #80
Oh I understand what you meant with "path prefixed with their userid". But what I not understand is what @jpsim meant by simply creating a new realm. If I create a new realm I would lose all data wouldnt I?

[2017-01-03 19:27] jpsim commented on #80
You could copy data from the old Realm to the new Realm, which is the only way to do a "data migration" supported by synced Realms. This is also what you seem to have been trying to do with `deleteRealmIfMigrationNeeded`.

[2017-01-03 19:28] Montrazul commented on #80
And how to copy the data from one realm to another?

[2017-01-03 19:31] jpsim commented on #80
Just how you'd normally access data from a Realm, read from the old one, write to the new one.

[2017-01-03 19:36] Montrazul commented on #80
So I guess you mean something like:

[code]

And then copy around the data?

Wouldnt that also be a solution for old clients and new clients? If you do that for example?

[code]

And after that you could do your migration something like

[code]

[2017-01-03 19:51] jpsim commented on #80
yes.

[2017-01-03 23:20] bmunkholm commented on #85
Hi @Montrazul
That's awesome - good to hear!
Currently you can't just convert a local Realm file to a Syncronised one (although we plan to enable that). So I would suggest you make a complete manual copy of the Realm v1 file to a synced Realm v5 file by iterating over all objects and copy them to the new format, including doing the data migrations you want to. How easy that is depends heavily on y

[2017-01-04 02:59] ewerx opened #86 "generateCloudKitCert.sh missing in Linux installation"
According to the docs for iCloud authentication (https://realm.io/docs/realm-object-server/#icloud):

I installed Realm Object Server on Ubuntu 16.04 (`realm-object-server-developer=1.0.0-BETA-4.11-449`) and there is no `generateCloudKitCert.sh` in `/etc/realm`. Where can I find it?

[2017-01-04 04:01] monajafi commented on #84
you can find a detailed explanation including code here:
[http://stackoverflow.com/questions/41352392/counters-custom-conflict-resolution-in-realm-mobile-platform-for-android/41368707?noredirect=1#comment70071857_41368707](url)

[2017-01-04 04:03] monajafi commented on #78
sorry I asked question before trying to solve the problem.
we've implemented a counter on client side the code is here:
[http://stackoverflow.com/questions/41352392/counters-custom-conflict-resolution-in-realm-mobile-platform-for-android/41368707?noredirect=1#comment70071857_41368707](url)
but without having a callback to be notified when sync get completed this method will not work properly.

[2017-01-04 06:51] dannygrob commented on #35
Is the startup script working for anyone? For me it doesn't fix it. I don't have the tool yet either so I'm still stuck

[2017-01-04 09:21] Montrazul commented on #85
So in theory it would be:

[code]

Since the model will change I guess I have to write two migrations. First I will need the migration block for the old realm:

[code]

Otherwise I would not be able to open the old realm, am I right?
After that is done I need the migration from the old local realm to the new synced realm. And that would simply be a lot of fun with copying objects.

I guess that wo

[2017-01-05 00:34] jpsim opened #87 "Allow disabling new user signups"
In some settings, it would be valuable to disable new user signups, such as systems with invite-only accounts, or with a finite set of potential users (e.g. a small office app).

[2017-01-05 02:21] jeffreybergier commented on #87
It seems you would want to disable new user sign ups OR disable arbitrary apps from being able to create new users. I see a scenario where you have very simple iCloud/FaceBook/Google/Password sign ups/logins. However, anyone with the realm SDK could sign up for an account and create their own realm at /~/mycoolrealm and store arbitrary amounts of data there. I know it seems far fetched. So maybe i

[2017-01-05 03:40] TotemChris commented on #67
Easier said than done, because this requires somebody to pre-create the realm with an admin account, manually add user accounts, and adjust permissions.  I am trying to build a pro app that is driven by In-app purchase auto-renewing subscriptions, with no developer/admin intervention.  The end-user should be able to set up their clinic's own realm, and add their own users to that realm.  I'm not s

[2017-01-05 10:39] bmunkholm commented on #85
Yeah I think that's the easiest. You are right, since your object types are the same (in both Realms), it seems necessary to migrate first, and copy afterwards.
Have fun!

[2017-01-05 10:39] #85 closed

[2017-01-05 10:52] bmunkholm commented on #78
Yeah the real solution is to expose the counter support in the SDK's. Until then the best workaround is to use a list of increment commands and then update the value based on that (as suggested on SO).

[2017-01-06 00:03] AnthonyWhitakerJr commented on #75
I ran into the same issue. I was able to narrow the problem to creating an account with mixed case username.

Steps to reproduce:

1. Download Realm Object Server Version 1.0.0-BETA-4.11
2. run start-object-server.command
3. Create user with following credentials:
  - Username: myEmail@gmail.com
  - Password: asdfjkl;
4. Attempt to login with myEmail@gmail.com
5. Receive following message: `2017-0

[2017-01-06 00:55] TotemChris commented on #75
I've also seen this in earlier builds.  Thought it was just something I messed up.

[2017-01-06 08:32] drdaz commented on #17
So just we're absolutely clear, there's no way of accessing and updating data on the ROS from JS (or another web technology) without paying a minimum of $1500 / month?

[2017-01-06 14:19] #78 closed

[2017-01-07 05:39] monajafi commented on #87
This feature is highly required in my app too.In client side not being able to disable new user registration for non admin users is a big concern.

[2017-01-07 14:25] Montrazul opened #88 "RLMException: Invalid value for property"
Today I wanted to copy a local Realm Object to a synchronized realm. For that I did the following:

[code]

The `addUserCopy` does the following:

[code]

Now if I want to do it I get the following errror:

`Terminating app due to uncaught exception 'RLMException', reason: 'Invalid value '' for property 'gender''`

So I checked all my gender fields, there where three Gender Fields at all:

[code]

[2017-01-07 17:12] Montrazul commented on #88
Here is a print output of the `USER` which I want to copy:

[code]

And with that object:

`Terminating app due to uncaught exception 'RLMException', reason: 'Invalid value '' for property 'gender''`

[2017-01-07 18:24] Montrazul commented on #88
The problem I described above is a bit simplified. Maybe the problem occures due to the List where my users are stored in so here is the more complex thing I do. First, The Object definition:

[code]

And here the USER:

[code]

So now I got one `REALM_USER` with three `USERS` and I want to deep copy this object from a local Realm to a synchronized realm. The objects are all containing correct inf

[2017-01-08 05:00] cliftonlabrum commented on #17
That's my understanding as well. I am currently giving Realm no money but I'd love to give them something because I love Realm and find it a joy to use (and I want to sustain further development). But $1500/mo is way out of reach for indie developers like me.

[2017-01-09 03:34] bigfish24 commented on #17
For now, the Node SDK with support for synchronized Realms is only available in the Professional Edition. This feedback is helpful as we consider future plans regarding pricing and functionality. However, I apologize, that I don't have a better answer for you today.

[2017-01-09 03:40] ajonno commented on #17
Totally agree with Clifton. In our case, its our client that can't afford a $1500/mth price tag as a startup launching an MVP. This pricing really needs to be updated to be more in reach for smaller companies (and scale it up if need be as they get bigger etc.).

[2017-01-09 03:56] bigfish24 commented on #88
Noticed one thing:

You are using a Realm `List` on its own. This is not supported. `List` objects are created for you when defined as a property on an `Object`. Instead you should just use an array: `[User]()`.

[2017-01-09 03:57] bigfish24 commented on #17
Mind sharing your thoughts on pricing that would work? Does the client know how many users they expect to have initially?

[2017-01-09 04:11] bigfish24 commented on #76
Sorry for slow reply, but I am having trouble following. When you call:

[code]

if the completion block fires and the login was successful, the `SyncUser` is persisted to the keychain. If you are using a single user, you can retrieve this `SyncUser` offline on the next app launch via: `SyncUser.current` and then use that to open the synchronized Realm offline. When the internet connection reestab

[2017-01-09 04:30] bigfish24 commented on #67
Just throwing out an idea but you could setup the first register/login which will act as the admin of a clinic. This triggers creating a Realm at `/<admin_user_id>/accessRequests` which is accessible to all users. In addition, this would create: `/<admin_user_id>/sharedClinicData`.

Other clinicians at the clinic can register/login but they must also specify the admin user ID. You could imagine th

[2017-01-09 04:32] bigfish24 commented on #35
@teotwaki or @sorenvind can you clarify?

[2017-01-09 04:35] bigfish24 commented on #84
appears this was solved on Stack Overflow: http://stackoverflow.com/a/41374434/4930783

[2017-01-09 04:35] #84 closed

[2017-01-09 04:37] bigfish24 commented on #83
Can you provide your client side code that is logging in a user and opening the synchronized Realm?

[2017-01-09 04:47] ajonno commented on #17
yes sure, ping me a angusj#aamsco.com.au  can go from there

[2017-01-09 09:40] Montrazul commented on #88
The `List` was working for the local realm file. If it is not supported for the realm mobile platform, do I have to migrate the local file from `List` to `Array` or does realm handle the change by itself?

[2017-01-09 11:28] Montrazul commented on #88
Fixed! The big problem here was a `getter` method which is reallyl interesting. In my `User` class I have a getter which converts the `Int` value for a gender to a `String`:

[code]

So for some special reason which I dont know the realm is using this getter method during the copy process and is so complaing that he cant use the string "male" and set it on the `gender` which is of type `Int`.

I s

[2017-01-09 11:28] #88 closed

[2017-01-09 12:30] TotemChris commented on #67
Yes this is exactly what I sketched out as well.  It is a few more moving parts than I wanted, but this at least validates it for me.  There is quite a bit of logic and UI work to be done going this route.

I also saw your response to a similar question on SO about _PermissionOffer_ and _PermissionOfferResponse_.  That sounds right up my alley, if I read correctly.  Sounds like this could remove a

[2017-01-09 15:33] iZaL commented on #26
like @marstall I too planning to build my next react-native project on realm. when can we expect the feature to be available ?

[2017-01-09 16:05] bmunkholm commented on #26
We really try our best to not make specific promises on release dates :-) It limits our ability to be agile :-) That said we are pretty close, so _right now_ I wouldn't be surprised if it's available before end of next month.

[2017-01-09 19:47] kgiroux opened #89 "As Administrator, I want to get the list of All SyncUser"
Hi,

It is a feature, that concerned http://stackoverflow.com/questions/41514358/is-it-possible-to-get-list-of-syncuser-as-administrator

I would like, when i am connected as Administrator, can get the list of all SyncUser, and create for example a list where i can administrate, and change all permission.

Here, the purpose of this "issue", is more to provide the API for doing that, not the implem

[2017-01-10 01:51] haansplosion opened #90 "realm object server constantly crashing on connect"
My realm object server seems to be crashing when i try and access it through the device and simulator intermittently, with seemingly no cause. At present, my simulator will run perfectly, but my device will bring the whole server down (with identical code)

I am accessing it via:

    let serverURL = NSURL(string: "http://<MY_SERVER_URL>:9080")!

    let user = SyncCredentials.usernamePassword(use

[2017-01-10 06:35] bigfish24 commented on #90
What version of the server do you have installed?

[2017-01-10 08:46] sorenvind commented on #90
Hi @haansplosion,

I'm part of the team building Realm Object Server. We need a little information from you to be able to figure out what's happening here:

- Can you please set the logging level in `configuration.yml` to `trace` (configuration key `logging.level`), and attach the resulting log file here?
- If you can also inform us what specific version of Realm Object Server and the SDK you're u

[2017-01-10 08:48] haansplosion commented on #90
Hi there @bigfish24 , I have 1.0.0-BETA-4.11 installed
![screen shot 2017-01-10 at 7 46 53 pm](https://cloud.githubusercontent.com/assets/6058393/21799524/ae64507e-d76d-11e6-8747-7f3643d67be1.png)

[2017-01-10 08:52] haansplosion commented on #90
Hi @sorenvind I certainly can, are you able to let me know the terminal commands to do so?

ROS version as stated above is **1.0.0-BETA-4.11** and the SDK version is **realm-swift-2.1.2**.

Thanks both for looking into this

[2017-01-10 09:10] sorenvind commented on #90
So you can use something like `nano /etc/realm/configuration.yml`. Around line 249, you should see a section looking like this:

[code]

If you un-comment the `level:` line and change the value to `'trace'`, and then restart the server, you should see very different logs in your logfile. This lives in `/var/log/realm-object-server.log` by default.

[2017-01-10 09:13] sorenvind commented on #89
Hi @kgiroux and thanks for the great suggestion! We're planning on providing an API for looking up users, but can't share a specific timeline at this time.

In order to be able to implement your use case, I suppose you would like to be able to use all user-management functionality on the client (creating, updating, changing, deleting and listing)?

[2017-01-10 09:36] kgiroux commented on #89
Yes it would be great to have the user Management functionality.

If it is possible, it should be great to allow administrator to do backup of user Realm.

For example, if i want to modify as an administrator the data of one of my user, it should be "cool" to create a copy, modify it, and if it failed, revert.

But it is a another API i think

[2017-01-10 09:58] haansplosion commented on #90
Thanks! Oh wow, It generated thousands of lines of code in the first 20 seconds.

[code]
And continues ad nauseam, I can paste the whole thing if that helps? Seemed excessive

[2017-01-10 10:03] haansplosion commented on #90
Apologies, I have just realised by the timestamp that this is a log of the entire time the server has been open. Below is a sizeable chunk from today:

[code]

[2017-01-10 10:20] sorenvind commented on #90
@haansplosion Thanks! That gives us something to start looking at! I just have to make sure: Did you substitute the name of your server with `<NAME_OF_SERVER>` in the log?

[2017-01-10 10:21] haansplosion commented on #90
@sorenvind Yes I did, thanks!

[2017-01-10 20:19] felipeplets opened #91 "Can't run RealmTasks demo app using Xcode 8.2"
Once I open the project in Xcode 8.2 it asks to migrate the project, after migration it shows the error:

I understand that to work using Xcode 8.2 is necessary to update the demo app to use Ream 2.1.2.

[2017-01-10 20:23] felipeplets opened #92 "Add Realm as a Pod dependency and release Podfile in the demo app"
I see it can make a lot easier to play with the demo enabling the users to install other dependencies or update the current ones (Cartography and Realm itself) if Podfile is released along with the RealmTasks demo App inside realm-mobile-platform.zip.

Is there any special reason to not release the Podfile along with the demo app?

[2017-01-11 00:40] istx25 commented on #91
Hey there, @felipeplets! Thank you for reaching out for support.

As far as I know, RealmTasks hasn't been fully updated to Xcode 8.2 by Realm and since you've gone through the migration yourself, please make sure you've also bumped the RealmSwift version in the `Podfile` as well.

Please change `pod 'RealmSwift', '~> 2.1.1'` to `pod 'RealmSwift', '~> 2.1.2'` on [line six](https://github.com/realm

[2017-01-11 00:49] jpsim commented on #91
That's not quite right. RealmTasks does in fact support Xcode 8.2, but requires Swift 2.3.

[2017-01-11 04:42] TimOliver commented on #91
Yeah, we're assuming that Xcode 8.2 will be the last supported release of Swift 2.3 so we're prioritizing updating Realm Tasks for Swift 3 now. I'm working on that [in this branch](https://github.com/realm/RealmTasks/tree/to-swift-3) if you want to try it out.

But for the current master version, I would advise against running a migration and just continue using it in the  Swift 2.3 mode for now.

[2017-01-11 05:25] bigfish24 commented on #89
@kgiroux we do offer a generic backup solution: https://realm.io/docs/realm-object-server/#overview

[2017-01-11 05:29] bigfish24 commented on #89
You can also administer the permissions manually by inspecting the [Admin Realm](https://realm.io/docs/realm-object-server/#admin-realm) which is a Realm used by the server to store the users and permissions. You can access this with an admin user via the [Realm Browser](https://realm.io/docs/realm-object-server/#data-browser) via the `Connect to Object Server` option and open `__admin`.

[2017-01-11 12:40] felipeplets commented on #92
@istx25 Just to make it clear, in this issue I was talking about the package: https://static.realm.io/downloads/mobile-platform/latest/realm-mobile-platform.zip

[2017-01-11 12:56] felipeplets commented on #91
Thank you for the answers.

@jpsim you are right, it works with Swift 2.3, my mistake, I just opened I went through the migration process.

@TimOliver and @istx25 thank you for letting me know, I will the [RealmTasks](https://github.com/realm/RealmTasks) repo and try the swift-3 branch, maybe I can contribute to the migration.

[2017-01-11 16:07] teotwaki commented on #35
Sorry, this is being coordinated via help@realm.io, so I lost track of this one. The current version doesn't include the migration stuffs just yet, that will be for the next release. I'm currently trying to extract the migration into a CLI tool for Danny.

[2017-01-11 17:42] jpsim commented on #92
Yes, in a nutshell, the idea of shipping prebuilt binary packages and examples is to use those binaries from the zip in the Xcode project, so build times are much faster (since you're not building Realm or any other dependencies) and building doesn't require an Internet connection.

If you want to build with CocoaPods, I suggest you build from the source repo here: https://github.com/realm/RealmTa

[2017-01-11 17:42] jpsim commented on #91
Glad to hear it.

[2017-01-11 17:42] #91 closed

[2017-01-11 21:25] ArifADS opened #93 "Realm IDs in Website vs Realm Browser"
I'm having a problem where I can't access some users in Realm Browser because it is out of update, some User IDs are already deleted, only Website show the correct ones

![screen shot 2017-01-11 at 4 25 00 pm](https://cloud.githubusercontent.com/assets/410781/21867063/90d4d224-d81a-11e6-9317-2b592134f89a.png)
![screen shot 2017-01-11 at 4 25 13 pm](https://cloud.githubusercontent.com/assets/410781

[2017-01-12 00:50] bigfish24 commented on #93
Sorry about your issue! I have assigned @stel from our team who has been handling browser work to look into this.

[2017-01-12 07:14] haansplosion commented on #90
Hey there @sorenvind, wondering if you had any thoughts on this issue?

[2017-01-12 13:46] teotwaki commented on #30
Closing due to inactivity.

[2017-01-12 13:52] teotwaki commented on #86
@ewerx Hey, sorry about this. I'll make sure we ship this in the next version.

[2017-01-12 13:55] #74 closed

[2017-01-12 15:47] teotwaki commented on #86
In order to unblock you, you can simply use OpenSSL commands to create the needed information keys:

[code]

Then, simply update your `configuration.yml` according to the website documentation, but take care that the path of the private key file is `/etc/realm/cloudkit_eckey.pem`, and not the default of `cloudkit_eckey.pem`.

You should be good to go!

[2017-01-12 18:15] Montrazul opened #94 "Realm does not start after manual backup"
Today we tried the manual backup described here:

[Performing A Manual Backup](https://realm.io/docs/realm-object-server/#performing-a-manual-backup)

After we did that, the realm mobile platform could not be started anymore.
We removed realm, reinstalled it and repeated the manual backup. The same
result so it is reproducable.

We copied the files from one virtual machine to another virtual machi

[2017-01-12 18:37] srpadronm commented on #76
I tested retrieving the SyncUser offline using SyncUser.current, but it doesn't automatically update the server once the internet connection is back. I need to relaunch the app to be able to synchronise all the updated made offline.
Please could you advise.

[2017-01-12 19:08] bigfish24 commented on #76
@srpadronm could you provide more details? What I understand from your comment is that you retrieve the `SyncUser` offline and use that to open the Realm, then apply changes to the Realm, but after you come back online the Realm doesn't start syncing again?

Or are you trying to do something with `SyncUser`?

A code sample of the `SyncUser` and opening Realm logic would be helpful to debug.

[2017-01-12 19:14] Montrazul commented on #94
ah never mind. I was stupid. just had to `chmod` back from `root` to `realm`

[2017-01-12 19:14] #94 closed

[2017-01-12 20:13] srpadronm commented on #76
Correct, I retrieve the SyncUser offline and use it to open the Realm, then apply changes, but the Realm doesn't start syncing again after the app goes back online. I need to relaunch the app to be able to synchronise all the updates made offline.

`

    func logIn(completion: ((Void)->Void)? = nil) {
        guard user == nil else {
            completion?()
            return
        }

[2017-01-13 00:53] bigfish24 commented on #76
Yeah the issue here is a timing problem. I am assuming you call `logIn` and then immediately after `realm`, however, `SyncUser.logIn` is asynchronous, so there is a time delay for the login to happen before the callback will fire. This means `self.user = user` occurs after you already called `realm` and attempted to open the Realm, resulting in the opening failing because `user` is `nil`.

You nee

[2017-01-13 10:21] srpadronm commented on #76
@bigfish24 I believe this is not the problem. `realm` is call only after I have an actual `SyncUser`

If I open the app offline, I can retrieve the `SyncUser.current` and open the Realm, without errors, but all updates I made offline (e.g adding new records) are not automatically synchronised with the server once the network connection is back. I need to close and open the app again to be able to

[2017-01-14 00:20] ewerx opened #95 "Data written to Realm immediately after authentication is lost without error raised"
Realm Object Server v1.0.0-BETA-4.11
RealmSwift SDK v2.2.0

I was implementing a feature in my app where the user can toggle cloud sync on/off. When the user toggles sync ON, the app does the following:

[code]

If I add a delay before doing the data migration, like so:
[code]
then the data is written to the remote realm successfully.

Is this because after authenticating with the Realm Object Ser

[2017-01-14 02:33] RiverbayChris opened #96 "Feature Request: Tresorit ZeroKit (OpenID) Provider Support"
Tresorit and Apple just partnered on ZeroKit integration for CareKit.  Zerokit handles secure auth as well as data encryption, but not the actual storage of it.  This would be a great compliment to the ROS if it could be added as a provider.  I think it is based on OpenID, so maybe solving that one would solve many other integrations.

Those developing professional healthcare apps (like me) could

[2017-01-14 03:16] joshuapinter commented on #26
Would love to have this as well. Is there a branch I can help test for you guys?

I have an existing react native app that is currently only locally stored via Realm and I'm looking to add data back and multiple device synchronizations across multiple platforms, including iOS, Android and MacOS.

Let me know.

Thanks.

[2017-01-16 09:36] ojarabo commented on #74
Hi @teotwaki,
I have observed you closed the question, but the problem is still there. Is there any specific reason, or you just assumed from my answer the problem was solved.

[2017-01-16 11:56] radu-tutueanu commented on #96
Thank you for the suggestion, @TotemChris . The server does allow people to implement integrating with third party authentication providers, we will be documenting this api soon.
We are always looking to include the security that the apps that use us require.

[2017-01-16 13:44] teotwaki commented on #95
There is no concept of a Realm being connected to a remote server or not. Basically, you always work locally (we're "offline first!"). The transaction doesn't fail, because the local database stores everything correctly (presumably).

The synchronisation process is entirely asynchronous, and only synchronises the transaction log to the server. This also means that you can access (and modify!) the

[2017-01-16 17:25] ewerx commented on #95
Verification steps:
- I have both the sync and local realms open in Realm Browser and when the migration works as expected, I see the copied data appear in the sync realm and when it fails I can see that the sync realm remains empty.
- If I query the sync realm for the objects immediately after the write transaction completes (in the same thread), the objects are present. But when I query the sync

[2017-01-16 22:47] chrisamanse opened #97 "Mark properties unsyncable in a Realm object"
Is there such a way that we can mark properties in a Realm object as unsyncable, i.e. doesn't upload data to the Realm Object Server?

Ex.

[code]

The expected outcome is that the property `temporaryPath` property of `FileBlob` will not be uploaded and its value is only stored locally. This has different behavior from `ignoredProperties` as this will not save the property to the Realm file.

[2017-01-17 00:54] bigfish24 commented on #97
@chrisamanse right now this is not possible. A synchronized Realm transfers all the data added to it.  Instead, you could separate out the data that shouldn't be synced into a standalone Realm. You can link the non-synced data via a shared key with the synced data.

In general, you should treat Realms as lightweight data containers. Instead of being able to selectively synchronize data in a Realm,

[2017-01-17 08:14] bmunkholm commented on #97
I'll close this for now, @chrisamanse if Adams suggestion doesn't solve the problem for now, feel free to reopen.

[2017-01-17 08:14] #97 closed

[2017-01-17 09:48] Montrazul opened #98 "How many connections can be opened simultaneously?"
I found a configuration where I can set the amount of realm files which are allowed to be opened simultaneously. What if I have an App with 100.000 User using realm mobile platform. Do I have to set the value of simultaneously opened files to a higher value? Whats the performance advantages and disadvantages of that?

[2017-01-17 09:50] Montrazul opened #99 "Changing Username and / or Password"
I guess there are already tickets for tracking this features but what is currently the recommended way to handle a username and / or password change?

[2017-01-17 10:42] teotwaki commented on #98
A user session doesn't necessarily need to be backed by an open file. I believe the configuration you found is only an optimisation part of our server (as in, how aggressively should the server close files after they are no longer used by a session).

Even though there is a correlation between number of open connections and open files, there isn't necessarily a 1-to-1 relationship. Our protocol su

[2017-01-17 18:53] tgbarker commented on #11
As it very much interests me and others I know, should there be another topic on providing more functionality than the developer edition at a "human price"?

[2017-01-17 21:39] crazydavy commented on #26
Ditto on the testing. I have an app in the store, and the #1 request is syncing between devices.  Would love to get coding.

[2017-01-17 21:48] istx25 commented on #99
Thank you for reaching out, @Montrazul. I'm going to look into what is the currently recommended way to process a username/password change. We appreciate your patience.

[2017-01-17 21:50] istx25 commented on #83
Hi @LightningDev! Would you be able to provide us with your client side code that is logging in a user and opening the synchronized Realm? Once we have that, we can better assist you.

[2017-01-18 04:01] LightningDev commented on #83
@istx25 Hi, I'm on my holiday so I didn't check my email frequently. Here is what i'm doing in my application.
This is a login function:
`class func login(username: String, password: String, action: AuthenticationActions, completionHandler: @escaping ()->()) {
        let serverURL = NSURL(string: realmIP)!
        let credential = Credential.usernamePassword(username: username, password: password

[2017-01-18 04:04] istx25 commented on #83
No worries. Thank you for supplying us with this information. I will review what you've provided in the morning and see how we can proceed. Cheers! :)

[2017-01-18 06:18] ewerx opened #100 "Client repeatedly outputs "Reading failed: End of input" / Realm Browser can't connect on port 9443/HTTPS"
I'm trying to connect my client app to a Realm Object Server, it seems to be successful (no errors doing reads or writes to the Realm) but the client debug output is showing a connection error that repeats forever as long as the app is running.

The server is running on Ubuntu 16.04, deployed on Digital Ocean. I have HTTPS proxy enabled  with valid certificates. Server dashboard loads in the brows

[2017-01-18 10:42] radu-tutueanu commented on #100
@ewerx, can you please specify which version of the Realm Object Server and which version of the binding you are using?
Could you also share server logs from when the app connects to the server?

Thank you!

[2017-01-18 14:43] teotwaki commented on #95
@bdash @simonask Would love to get your eyes on this.

[2017-01-18 15:11] TotemChris commented on #16
The way I understand it from the above (--reset-user EMAIL PASSWORD), the person issuing the CLI command would also know the user's password.  That can't be correct.  What is the right way to do this securely?  I agree with @cliftonlabrum... I can't launch without this either.  Was hoping this would be added prior to this month, but I just saw it was marked as P3 on another thread.

[2017-01-18 15:51] ewerx commented on #100
Server: 1.0.0-BETA-4.11
Client SDK: v2.2.0

This is the server output when I authenticate from scratch (using CloudKit):

[code]

[2017-01-18 17:42] cliftonlabrum commented on #16
Yeah, can you imagine the mess of a single user needing to change their password because they forgot it? An app could be live for 1 day and this will come up.

That's definitely not secure and very disreputable. :)

[2017-01-18 17:45] cliftonlabrum commented on #16
Would a possible workaround be something like this?

1. **Reset Password** - Fake it on the front-end in my app and make it look like the user is "resetting" their password.
2. **New Account** - Create a new account with their existing username and set the new password they specify.
3. **Migrate Data** - Migrate their data from the previous user to the new one on the sync server.

1 and 2 would be

[2017-01-18 18:13] cliftonlabrum commented on #99
Possible duplicate of https://github.com/realm/realm-mobile-platform/issues/16

[2017-01-18 18:20] Montrazul commented on #16
Oh yes! I also need this!

Changing username and / or password is one of the basic requirements of each user driven application. I was really wondering why it hasnt been implemented yet.

[2017-01-18 19:13] sorenvind commented on #16
Guys and girls, thanks for your thoughts!

We agree with your points about the current solution: It only really works for server admins, and we need a way to solve this problem for you and your users. But we also need to get this secure and right, so we'll figure out the right solution and prioritise getting it shipped as soon as possible. Please bear with us though, it will take a little time.

[2017-01-18 20:10] jpsim commented on #99
Yes @cliftonlabrum is correct. @Montrazul please use the CLI option I shared in https://github.com/realm/realm-mobile-platform/issues/16#issuecomment-257541004 as a current way to do this.

[2017-01-18 20:10] #99 closed

[2017-01-18 22:22] cliftonlabrum commented on #16
@sorenvind I know it's hard (impossible?) to predict software timeframes, but can we expect this in the next month or two? Or is this something that will take much longer?

[2017-01-18 22:37] TotemChris commented on #16
Maybe allowing another 3rd party provider like OpenID or something?  I posted a feature request (Tresorit/OpenID) that may take less time to implement than baking it into Realm's native user/pass authenticator.

In the very short term, it sounds like the best route is to go with the Apple/Google providers, and just require users to use those.

[2017-01-18 22:47] bigfish24 commented on #16
@cliftonlabrum I think the next month or two is definitely reasonable. It would help if you could provide more context on what this functionality should do. One of the most difficult aspects is how do you confirm to the user that he/she wants to reset? Typically that would involve sending an email. We would prefer not to get into the business of sending emails, since this is extremely tricky to do

[2017-01-18 22:52] bigfish24 commented on #16
@TotemChris utilizing another service would be ideal. Realm Object Server's authentication can be customized and we plan to outline how to do this in the coming weeks. It would basically work just like the Google/Facebook providers we have built-in, where you would have to acquire a token from another system, pass this as custom data when logging into Realm, and then setup the Realm Object Server

[2017-01-19 06:04] simonask commented on #95
It does indeed look like @ewerx is managing to create two separate connections to the server in the same process from different threads. Is that theoretically possible @bdash, @austinzheng ?

[2017-01-19 06:08] austinzheng commented on #95
We tried our best to make it impossible. That being said, I'll have to think about it some more tonight to see if this might be hitting a case we didn't account for properly.

[2017-01-19 06:17] bdash commented on #95
What indicates there are two concurrent connections? The log reads to me like a session is being closed, with a new session being opened later on (`Closing Realm file` + `UNBIND`, followed by `Opening Realm file`).

[2017-01-19 06:26] simonask commented on #95
@bdash You're right.

[2017-01-19 09:09] Montrazul commented on #16
Sending an email would be a basic requirement for resetting passwords. Without it it isnt really possible to verify that the real owner of the account was requesting the password reset (as long as you dont have such things like fingerprint, retina scan or something similar).

I have written many Apps (the current App is the first app coded with realm and for now I think all my future apps will run

[2017-01-19 09:12] bigfish24 commented on #16
We want to add support for profile data on the User object (to aid in doing User lookups for access control for example). So not too worried about that. The email sending is really tricky because while we could add that, it is actually quite hard to ensure the email is sent correctly. Major email providers are picky about what they label as spam if you are not careful.

[2017-01-19 09:14] Montrazul commented on #16
That is correct but it is a very common problem and you can communicate to your users to retry the sending or to check the spam folder (even some of my google and facebook emails are sometimems moved into the spam folder).

[2017-01-19 13:06] molind opened #101 "Please provide recent config inside this repository."
Many of users of realm-mobile-platform, I believe, decided to launch it inside a container. And it's very convenient to have configuration files in separate volume along with https certificate and key. But tricky part is to handling config file changes when realm-object-server is installed. In my case I upgraded from beta-4.11 to beta-6.0. There is a lot of new features and new section of config.

[2017-01-19 13:12] molind opened #102 "Official docker image?"
Any chance you release an official docker image for realm object server?

And may be you could add an alpine flavored version of that docker image?

Check https://hub.docker.com/r/library/nginx/ for advanced Dockerfile examples.

My `Dockerfile` is pretty simple right now:
[code]

[2017-01-19 16:49] cliftonlabrum opened #103 "Is the 1.0 Release the Same as 1.0.0-BETA-6.0-97?"
I just did `sudo apt-get update` and then `sudo apt-get upgrade realm-object-server-developer` on my Ubuntu server and I get the following response:
[code]
Is ***-6.0-97** the same build as the 1.0 release?

Thanks!

[2017-01-19 16:54] cliftonlabrum opened #104 "Congratulations on Shipping 1.0 and Thank You"
I know this isn't a real issue, but I just want to congratulate the Realm team on the Realm Object Server 1.0 release and tell them thank you for all their hard work.

I have used Dropbox, Parse, SQLite, the Dropbox Datastore, CloudKit, FireBase, and probably others, and *nothing* has compared to how elegant Realm is.

- The code is intuitive and beautiful
- The sync platform is crazy-fast and rel

[2017-01-19 16:57] cliftonlabrum commented on #93
@ArifADS The Realm Browser keeps a static list of all IDs that have been connected to at some point, but it does *not* sync them with the ROS. So if you deleted a user on the server, it will still show up in the Realm Browser's list. Typically the most recently created Realm user will be at the bottom of the Realm Browser list.

I requested more functionality in the Realm Browser here: https://git

[2017-01-19 18:22] 4Face opened #105 "Unable to locate Package on CentOS 6"
Edit by @teotwaki: This issue was modified to only reflect the CentOS6 issue. See below for more information.

-------------------------------

Hi everyone, I've tried to install RMP un Ubuntu, but it sais realm-object-server-de it's not avaible, but realm-object-server-developer is avaible, so I solved installing it.
But on CentOS repository both of em are unavaible, how to fix that?

[code]

[2017-01-19 18:30] istx25 commented on #105
Hi @4Face. Thank you for reaching out for support. I'll have someone look into your question and respond with a solution or follow-up questions as soon as possible. We appreciate your patience.

[2017-01-19 18:32] istx25 commented on #104
Hey @cliftonlabrum! Thanks so much for the kind words!! 😸  Please feel free to also send off any feedback or things you've seen that could be improved. ❤️

[2017-01-19 18:34] istx25 commented on #101
Hi @molind. Thank you for reaching out with this suggestion. I'll have someone (whose more experienced in this area) review what you've shared and respond with a follow-up soon. We appreciate your patience while we do this.

[2017-01-19 18:35] istx25 commented on #102
Thank you for reaching out, @molind. This feature is already being tracked over on issue #44. Feel free to monitor that issue for this feature request.

[2017-01-19 18:36] #102 closed

[2017-01-19 18:45] bmunkholm commented on #104
Thanks a ton Clifton! This is one of the issues I actually don't mind having open a while longer so I have something great to look at tomorrow as well :-)

[2017-01-19 18:46] istx25 commented on #104
Sounds good to me. ❤️

[2017-01-19 18:50] ewerx commented on #103
I'm on an earlier beta and I get the same output:

`realm-object-server-developer is already the newest version (1.0.0-BETA-4.11-449).`

[2017-01-19 23:49] istx25 opened #106 "Possible correction needed in ROS documentation"
https://realm.io/docs/get-started/installation/linux/

Someone reported a problem with the documentation for the Realm Object Server saying `sudo apt-get install realm-object-server-de` gave back an error but `sudo apt-get install realm-object-server-developer` works perfectly.

Is this accurate? Should it be `-developer` or `-de`?

[2017-01-20 00:03] bigfish24 commented on #106
It is `-developer`. I will update website. This section is accurate: https://realm.io/docs/realm-object-server/

[2017-01-20 00:04] istx25 commented on #106
Sounds good. :)

[2017-01-20 01:24] TotemChris commented on #16
Not to beat a dead horse, but at this point I would be ok with a user typing in their old password, then new password, and confirm password.  Just a single API to do that, with a success/fail callback.  No email.  In the situation where a user forgot, I can deal with that over email.  Pre-generate a new one for them, email it to them, and then they can reset that one once they get in.  Old school,

[2017-01-20 04:27] ArifADS commented on #93
No. The Realm Browser doesn't show the latest users created. It stopped showing new ones a long time ago. Is there a way to fix this? Make it sync or delete the previous data. 

On Thu, Jan 19, 2017 at 11:57 AM -0500, "Clifton Labrum" <notifications@github.com> wrote:

@ArifADS The Realm Browser keeps a static list of all IDs that have been connected to at some point, but it does not sync them wit

[2017-01-20 07:47] Montrazul opened #107 "Updating to Version 1.0"
The [updating instructions](https://realm.io/docs/realm-object-server/#macos-1) to version 1.0 are saying that I simply have to:

`Upgrades to the macOS version of the Object Server are delivered by a new macOS download bundle from Realm`

But what do I have to do if I want to keep my admin and user informations? I tried copying the old user_data folder to the new realm mobile platform but that ob

[2017-01-20 09:28] teotwaki commented on #107
Hi @Montrazul,

We indeed didn't anticipate people wanting to keep their data on the macOS developer platform. We have, however, full and automated upgrade paths on Linux.

As you noticed, you have to keep a few more files than what you tried. I'll get somebody to give you an exact list of files that needs to be copied over, and we will update the docs on the website as well.

Thanks for reporting

[2017-01-20 09:54] #106 closed

[2017-01-20 10:33] pvroosendaal commented on #105
Having the same issue here;
"No package realm-object-server-developer available" when trying the following on centos6:
sudo yum -y install realm-object-server-developer

[2017-01-20 11:38] teotwaki commented on #106
This was fixed.

[2017-01-20 11:39] teotwaki commented on #105
Hi,

We had an issue specific to CentOS6 and decided to withhold that package until we have a fix for it. We appear to run into a heisenbug segfault triggered by some optimisation in GCC 4.9 on EL6. This is fairly high on our priority list.

Regarding Ubuntu, the package is published, and is called `realm-object-server-developer`. The name was misspelled on our website, and that has been fixed.

-

[2017-01-20 11:45] teotwaki commented on #103
Could you list what repository you have installed? Thanks.

[2017-01-20 11:49] teotwaki commented on #100
Could you share a minimal testcase that reproduces this against the latest version of the server? Thanks.

[2017-01-20 11:56] simonask commented on #95
@ewerx Are you able to share the code that you're using to open these Realms as well as the code you're using to check if a write was successful?

[2017-01-20 12:13] Montrazul opened #108 "Does Realm Version 2.3.0 require a special realm mobile platform version?"
Today I upgraded Real from Version 2.0.1 to 2.3.0 and there is an error appearing now without further informations which did not appear earlier.

I do the following:

1. Register a new user
2. Login with the new user
3. change data (it is synchronising correctly with realm mobile platform)
4. I deinstall the app
5. I reinstall the app
6. I login with the user

The authentidcation is successfull bu

[2017-01-20 13:25] Montrazul commented on #104
Yes. Congratulations! Realm and Realm Mobile Platform are great!

[2017-01-20 13:54] radu-tutueanu commented on #107
There was a change in the directory structure prior to 1.0:

[2017-01-20 13:58] radu-tutueanu commented on #107
Hello, @Montrazul . There was a slight change in the directory structure in 1.0.
Here are the instructions for the upgrade
1. Download the 1.0.0 ROS from https://static.realm.io/downloads/object-server/realm-object-server-bundled_node_darwin-developer-1.0.0.tar.gz
2. Extract the archive. Do not start the server
3. Create a the user_data folder in the 1.0 ROS, at `/object-server/root_dir/0/`
`mkdir

[2017-01-20 14:06] Montrazul commented on #107
thx!

[2017-01-20 14:06] #107 closed

[2017-01-20 14:13] ArifADS commented on #103
Same as @ewerx

`realm-object-server-developer is already the newest version (1.0.0-BETA-4.11-449).`

[2017-01-20 14:48] ewerx commented on #103
I have `/etc/apt/sources.list.d/realm_realm.list` which contains:
[code]

[2017-01-20 15:24] alebsack commented on #103
@cliftonlabrum You can get around this by simply removing your existing package and installing the new one:

[code]

@ewerx and @ArifADS can you please create a new issue regarding version `1.0.0-BETA-4.11-449`?

[2017-01-20 15:42] ewerx opened #109 "Unable to upgrade realm-object-server-developer from 1.0.0-BETA-4.11-449"
Forked from #103

[code]

`/etc/apt/sources.list.d/realm_realm.list` contains:
[code]

Workaround:

[code]

[2017-01-20 15:42] ewerx commented on #103
Thanks that worked. The new issue is #109

[2017-01-20 17:35] ewerx commented on #100
I updated to latest version of the server (1.0.0-164) and client (2.3.0) and am still seeing this.

All I am doing is instantiating a realm with a sync config. The user was already authenticated (via CloudKit) in a previous session, so I am just using SyncUser.current. But I tested logging out and re-authenticating and it makes no difference.

I commented out everything else, so this is literally

[2017-01-20 18:26] istx25 commented on #103
Since @alebsack shared a viable solution for this issue and a new issue has been filed regarding `1.0.0-BETA-4.11-449`, I'm going to close this one.

[2017-01-20 18:26] #103 closed

[2017-01-21 07:29] ianbradbury-bizzibody opened #110 "Removing/Uninstalling Realm Object Server from server - does not clean all artefacts"
`Ubuntu 16.041`

I followed the instructions to uninstall ROS from my server and the rebooted the server for good measure.

I then re-installed ROS.

All the previous users and realm files remained listed in the dashboard.  The admin key was also the same.

Using some old code I then attempted to open an existing Realm and received this error.
`2017-01-21 07:23:07.680 Realm_Owner[15765:2716462] Sy

[2017-01-21 11:16] ribasal1 commented on #17
Well, that 1500$/month price tag is way over our means (and most of the startups and SMBs i know), considering that the vast majority of the apps don't make 1500$ a month. If it was 1500$/year, i would probably sign up, because i really like Realm.
It would be amazing if we could also have a Heroku add-on for the mobile platform. The perfect setup would be having Realm swift for iOs apps, a Swift

[2017-01-21 18:07] ewerx commented on #100
I'm also unable to connect to the Realm Object Server using the Realm Browser. It immediately pops up an alert "The network connection was lost.", and no logs are generated on the server. Could this be related?

[2017-01-22 12:09] 4Face commented on #105
Can you update us when there is some news please?

[2017-01-22 14:43] ianbradbury-bizzibody commented on #30
Please can this item be re-opened.

I am experiencing this issue.

I had previously been experiencing this issue on a platform that had been through several upgrades.  Seeing as I was only "playing" I thought I'd burn the server and start over.

What I did not expect was the same behaviour after installing everything from scratch using the new v1 release (Ubuntu 16 / Swift 2.3.0 / Server 1.0.0).

[2017-01-22 21:40] MattW86 opened #111 "Getting duplicates when the app has existing data"
Hi,
In my app, I have some default data that I set up when the app is launched for the first time and that gets uploaded to the ROS. The problem is that if I delete the app and reinstall it, I will receive the data from ROS and my default data will be configured as well so I will have duplicates. What can be done to avoid this?

[2017-01-22 22:37] bigfish24 commented on #111
@MattW86 we support [primary keys](https://realm.io/docs/realm-object-server/#primary-keys) so you can upsert. Furthermore, we even support default values where you can create an object with a default, but if there is already a synced object with the same primary key that has updated values, the merge algorithm we "combine" the two objects, but keep the updated values.

The trick is that our docs

[2017-01-22 23:03] bigfish24 commented on #30
Apologies for the confusion! The underlying issue is that we do not support "read-only" Realms yet and we need to make this explicit in the documentation.

The reason on why this is limited today, is that by default, when you open a Realm in the client SDK for the first time, it creates the Realm file locally, writing the schema to it. The writing of the schema is an operation that is then synced

[2017-01-23 08:48] kristiandupont commented on #26
The prerelease is up for anyone who wants to try things out:
https://github.com/realm/realm-js/releases/tag/0.15.5-rmp-beta.1

​You can download the file and install it by simply using "npm install --save path/to/realm-0.15.5-rmp-beta.1.tgz"
​You can then open a synchronized realm with the api described here: https://realm.io/docs/realm-object-server/#user-based -- make sure you download the Realm

[2017-01-23 08:54] molind opened #112 "100% cpu load when connection is closed during syncing transaction."
We're testing our application Galileo with realm mobile platform. Offline realm works amazing and I have high expectations about realm-mobile-platform. Recently I've noticed about some strange behavior leading to 100% cpu load on one of the realm-object-server threads. And sync stops for all users until realm-object-server restart.

My guess on how to reproduce:
1. Create big commit 10Mb of data 5

[2017-01-23 09:05] mtrossbach commented on #50
Hi,

do you have any update on the timeline for this?
For us this is blocking any real world use case for our customers as we already have a central authentication provider in use.

[2017-01-23 09:31] molind commented on #112
[code]

[2017-01-23 10:49] teotwaki commented on #110
Hi @ianbradbury-bizzibody,

This is to be expected. When a package is uninstalled, its configuration and runtime files are not be removed. If you'd like to do so, please use the `purge` option of `apt-get`. Please see [this answer](http://askubuntu.com/questions/231562/what-is-the-difference-between-apt-get-purge-and-apt-get-remove#231568) for more details.

If you'd like to completely clean your

[2017-01-23 10:49] #110 closed

[2017-01-23 11:18] teotwaki commented on #35
This has been fixed in the 1.0 release.

[2017-01-23 11:18] #35 closed

[2017-01-23 12:17] molind commented on #112
On client side sometimes we also catch 100% cpu load inside realm. There is backtrace of guilty thread: http://pastebin.com/k5RwZUus

[2017-01-23 12:18] molind commented on #112
And during next wait transaction main thread hang up in http://pastebin.com/9MgyTDwj

[2017-01-23 14:29] stel commented on #93
@ArifADS please try to delete the directory at `~/Library/Container/io.realm.realmbrowser` and restart the Browser.

[2017-01-23 15:18] istx25 commented on #108
Thanks for reaching out, @Montrazul! I'll have someone more experienced with this reach out as soon as possible.

[2017-01-23 15:25] bigfish24 commented on #108
@Montrazul you will need to update to the latest version of the server.

[2017-01-23 15:48] teotwaki commented on #108
Hi @Montrazul,

As Adam indicated, you will need to be running version 1.0.0 (no more `-BETA-`) on the server side to be able to run this. Please be aware of https://github.com/realm/realm-mobile-platform/issues/109 as it might hide an upgradable version. This ticket includes a workaround.

[2017-01-23 15:51] teotwaki commented on #112
Wow, @molind, thanks a lot for this. Is there any chance you can share the code you use to reproduce this, and the specific versions of both the client-side SDK and the server that you're using? Thanks!

[2017-01-23 15:53] teotwaki commented on #104
Thanks a lot for the great feedback. This is one of the things that makes it great to work on a product like this.

[2017-01-23 15:55] teotwaki commented on #76
@stel @jpsim Can I get your eyes on this? Thanks

[2017-01-23 16:07] stel commented on #76
Sync session uses incremental backoff in order to reconnect after the network is available, so currently  reconnection doesn't happen immediately. The possible solution for this is to use Apple's Reachability API, some work is done [here](https://github.com/realm/realm-object-store/pull/289) but the api isn't designed yet.

[2017-01-23 16:29] teotwaki commented on #105
Hi @4Face,

Yes, I'll update you as soon as I have more information. This is high on our priority list, and should probably be fixed in our next bugfix release.

Thanks,

[2017-01-23 16:29] stel commented on #76
@srpadronm please try to enable all logs and check if there any errors:

[code]

[2017-01-23 17:58] ianbradbury-bizzibody commented on #110
Thanks @teotwaki.  Appreciated.

[2017-01-23 18:17] joshuapinter commented on #26
FYI, you can just add this to your `package.json` file:

`"realm": "realm/realm-js#0.15.5-rmp-beta.1"`

Then doing a `npm install` will get the beta version.

No need to download it separately.

[2017-01-23 18:37] teotwaki commented on #50
Hi @mtrossbach,

I didn't prioritise this higher as I never got any feedback from you. We're currently working on our new roadmap, so I can try to include this. I'll let you know as soon as I have a more specific timeline.

[2017-01-23 18:38] teotwaki commented on #105
No idea what reverted my title change last time. \o/

[2017-01-23 18:39] teotwaki commented on #100
@ewerx What is `1.0.0-164`? Is that the non-beta 1.0 version?

[2017-01-23 18:47] ianbradbury-bizzibody commented on #30
Thanks @bigfish24 - this is important information and is going to throw a spanner at my project.  But I appreciate this is really early days so I blame myself for not realising sooner.

I've looked in the issues list for a T:Feature that I can follow to keep an eye on this.  But I can't see one.  Can one be added?

Of course I'm going to have to ask..... when?  But I'll wait to ask in the right pl

[2017-01-23 18:57] davidszabo26 commented on #96
Hi @radu-tutueanu, this is David from the ZeroKit team. @TotemChris reached out to us and asked to integrate our secure user authentication with Realm, so that they can use Realm in healthcare. We'd be very happy to do this piece of work, how can we collaborate?

[2017-01-23 19:00] davidszabo26 commented on #50
Hi @teotwaki, this is David from the ZeroKit team. A customer of yours reached out to us and asked to integrate our secure user authentication with Realm, so that they can use Realm in healthcare (where facebook auth doesn't stick). We'd be very happy to do this piece of work, how can we collaborate?

[2017-01-23 19:08] srpadronm commented on #76
@stel
Please see below the logs I get by running the app with internet connection:

2017-01-23 18:53:06.968357 RMPTest[2177:456331] Sync: Connection[1]: WebSocket::Websocket()
2017-01-23 18:53:06.968558 RMPTest[2177:456331] Sync: Connection[1]: Reconnecting in 0 milliseconds
2017-01-23 18:53:06.968753 RMPTest[2177:456331] Sync: Connection[1]: Session[1]: Starting session for '/var/mobile/Container

[2017-01-23 19:12] ewerx commented on #100
@teotwaki Correct that's the latest non-beta release on Ubuntu.

[code]

[2017-01-23 19:26] ewerx commented on #100
Update: this seems to be a HTTPS issue. My server was configured to use the HTTPS proxy and HTTP proxy was disabled. My certificates are valid and I am able to visit the web dashboard via HTTPS no problem and also authenticate from the client via HTTPS.

The Realm Browser refuses to connect to my server on the HTTPS port 9443 (I enter `realm://myserver.com:9443` for Server URL). And the client sho

[2017-01-23 20:14] trpmap93 commented on #50
Hi @teotwaki, I would like to echo the above statements.  It is currently the major stumbling block in our way of launching our healthcare app.  As I understand it, the ability is there but the documentation and how to accomplish this has not yet been provided. If you could help ramp this up as a priority ASAP it sounds like it could free up a log jam for a lot of us to be able to launch our produ

[2017-01-23 21:16] bigfish24 commented on #30
@ianbradbury-bizzibody I am truly sorry this is coming up now. I can't commit to a timeline, but will hopefully be able to have more details later in the week/early next week. We know this is a major issue and we will be fixing it. What is your timeline on when you need it fixed?

[2017-01-23 21:20] istx25 commented on #105
Weeiiirrddd.

[2017-01-23 22:20] ianbradbury-bizzibody commented on #30
Fortunately it's just a hobby project.  I figure I can continue working away and not worry about his for a while.   If it could be delivered some time in the next 3 months that would be really really great.   (But I recognise the pressure you are all under)

[2017-01-23 22:27] 4Face commented on #105
Sorry if I may bother you, is it possible to have the last (bug affected) version? I just need to do some internal test for my app.

[2017-01-23 22:53] bigfish24 commented on #30
@ianbradbury-bizzibody I think that is a pretty reasonable assumption, definitely is a requested feature since dev teams want to control errant write access, even in just development.

[2017-01-23 23:38] bigfish24 commented on #50
@davidszabo26 and @trpmap93 we will be working on the custom authentication support this week. Can you email me at af@realm.io? I am sure we could coordinate and would love the help!

[2017-01-24 07:14] molind commented on #112
I'll try to reproduce it in demo project. But, as I said before, it happens when we work with big transactions during initial sync with synchronized realm.

We use recent versions of client and server.
Realm Object Server is 1.0.0 on Ubuntu 16.04
realm-cocoa is 2.3.0 on iOS 10.2

[2017-01-24 08:43] srpadronm commented on #76
@stel
Please also note that if I start the app with internet connection, then go offline, add some records and  reconnect internet again, everything get sync without any problems.
The sync problem only appears if I start the app offline.

[2017-01-24 08:45] stel commented on #76
Thanks for the info @srpadronm! It's probably a bug, we'll take a closer look on it.

[2017-01-24 09:47] teotwaki commented on #112
@molind,

Thanks for the info. We have some people looking at this.

[2017-01-24 09:50] molind commented on #112
If you have debug server, we could point our app to your server. And try to repeat our tests. Please ping me in Telegram as @molind if you're interested.

[2017-01-24 10:12] MattW86 commented on #111
@bigfish24 Thanks very much :) Almost perfect.. I have one small issue though. If I set the primary keys manually like ..

[code]
everything is fine. ROS knows all the objects that have been created by the device and updates correctly.

However, if primary keys are created like the following way
[code]
then I will end up having duplicates since they have different primary keys..

Is there a soluti

[2017-01-24 12:48] mrackwitz commented on #39
This should be solved with the latest release. The admin-Realm is now eagerly tracked by a `RealmFile` in itself.

[2017-01-24 12:48] #39 closed

[2017-01-24 13:10] teotwaki commented on #105
@4Face I'll see if I can get that to you. Could you drop me a line at help@realm.io?

Thanks

[2017-01-24 14:46] morten-krogh commented on #112
@molind Just to make sure. It is one commit with 50k objects, not 50k commits?

[2017-01-24 14:51] molind commented on #112
@morten-krogh Yes, we have local realm with 50k of objects. Each object contains binary data ~200 bytes in average. All objects copied to the synchronized realm inside one transaction. And during data sync connection is interrupted (by developer).

[2017-01-24 14:56] morten-krogh commented on #112
And if you don't interrupt it, things are fine?

[2017-01-24 15:06] molind commented on #112
@morten-krogh Yes, it uploads data and works fine in sync.

[2017-01-24 15:19] rodgarcialima commented on #50
Hey @bigfish24, can you send me instructions on how to accomplish this too? I'm moving from firebase to realm and unfortunately, this is a block for me too.

My email is rodgarcialima@gmail.com

Thank you

[2017-01-24 16:04] ewerx commented on #100
Here is console log output from Realm Browser when I try to connect to the server on port 9443:

[code]

[2017-01-24 16:33] morten-krogh commented on #112
I will try to reproduce it myself. If I can't reproduce it, we can have you upload to one of out servers

[2017-01-24 16:51] teotwaki commented on #100
Interesting. Thanks for the update. What provider does your certificate come from? Is it self-signed?

[2017-01-24 16:58] ewerx commented on #100
My certificates are issued by letsencrypt.org. When I visit my server's web dashboard on port 9443 everything seems ok:

![screen shot 2017-01-24 at 11 56 03](https://cloud.githubusercontent.com/assets/671604/22257532/5dcd63fc-e22c-11e6-85e8-e61df8405103.png)

[2017-01-24 19:53] ewerx commented on #100
Another bit of info: if I connect to the server using Realm Browser on port 9080, the initial connection is successful but then if I try to open a realm I get "Realm couldn't be opened" and the connection is closed.

Here is the scrubbed server log (from start of Realm Browser connection until connection closed):

[code]

[2017-01-24 19:54] ArifADS commented on #109
I did the workaround and now my realms won't sync u.u

[2017-01-25 08:37] teotwaki commented on #100
That's weird. We use SSL as well, and have tested with LE. I'll ask someone to look into this further.

[2017-01-25 16:46] teotwaki commented on #100
@ewerx Could you post your configuration? We are unable to reproduce this at the moment. Thanks.

[2017-01-25 17:11] ewerx commented on #100
[code]

[2017-01-25 17:35] cliftonlabrum commented on #109
@ArifADS Did the installation overwrite your `configuration.yml` file? You might check it to see if it still has your settings in it.

[2017-01-26 17:12] #108 closed

[2017-01-26 21:39] cliftonlabrum opened #114 "Add Confirmation Dialog to Delete User Action"
Right now you can click the trash can icon next to a user on the Users page and it will instantly delete a user. It would be safer to have a prompt to confirm if you really want to delete it.

A basic JavaScript confirmation dialog would do.

![image](https://cloud.githubusercontent.com/assets/2513753/22351389/e11e70c6-e3d4-11e6-9a6d-2004e7c6903e.png)

Thanks!

[2017-01-27 12:03] Montrazul opened #115 "Adding Property to Realm does not work"
Im working with realm mobile platform version 1.0 and realm database version 2.3.
Today I wanted to add a new property, so I did:

[code]

And I also increased the default realm configuration schema version from `2` to `3`.

When I now start the app the new field is existing locally but it is `nil` so the default value is not set. The realm mobile platform did not add the new property! I thought a

[2017-01-27 12:06] Montrazul commented on #111
For the first start of the app there is a new way of checking the initial synchronisation.
Checkout the following: [Sync Progress Notifications](https://realm.io/news/realm-objc-swift-2.3/)

[2017-01-27 13:06] bigfish24 commented on #115
Is the property not visible in the browser? The property likely was added but the fact that a default value isn't set seems like application logic that is wrong.

[2017-01-27 13:06] monajafi commented on #72
is there any progress about this feature. It's highly required for offline conflict resolution.

[2017-01-27 13:07] Montrazul commented on #115
I also guess that this is the problem but that would lead to the question: Why is the default value not working?

[2017-01-27 13:08] bigfish24 commented on #72
You can monitor download progress in 2.3: https://realm.io/news/realm-objc-swift-2.3/

[2017-01-27 13:09] bigfish24 commented on #115
Do you know that your logic is correct and the line in unit is actually run?

[2017-01-27 13:11] bigfish24 commented on #115
One way to verify that how you are adding properties is working, is to add a property but not bump the schema version, which will cause an error to throw when opening the Realm.

[2017-01-27 13:11] Montrazul commented on #115
That is what I am asking. Is my logic correct? I just added a simple new property to the schema. The code I posted above is everything I changed. And it is not working.

I tested it with another property:

[code]

Adding of this example property was working and it instantly appeared in the realm browser.

[2017-01-27 13:16] monajafi commented on #72
what about realm java?

[2017-01-27 13:35] Montrazul commented on #115
I verified the adding of the property. When I do not increase the schema version it crashes with:

So the property adding seems to work. Only the default value is ignored.

[2017-01-27 13:42] mort3m commented on #22
@dsjstc - Could you elaborate if "object-level permissions" is something we will see soon or is it rather far away? I need to select a technology for my project and this is something I absolutely need in the future.

I appreciate all your hard development work and your open conversation with the community. Keep things up!

[2017-01-27 14:33] bigfish24 commented on #22
"Object-level permissions" are not on the immediate roadmap. We are currently laying the groundwork, but it will take some time. What I would love to know from the community is how you would like this to be implemented. When we discuss internally, we call this "partial synchronization" since today, permissions and sync are all based on the Realm level. This is still very flexible, because you can

[2017-01-27 14:35] Montrazul opened #116 "New sync progress notifications arent working as expected"
I read this [article](https://realm.io/news/realm-objc-swift-2.3/) where it was written that with the new sync progress notification you can check for an initial sync first before presenting view elements. So I tried it out with the following code:

[code]

So as you can see I want to wait for the progress notification to tell me when the transfer is complete and only if it is complete I go to the

[2017-01-27 14:36] bigfish24 commented on #115
Ok, can you verify that when you create a Realm object your `init()` method and added line is being called?

[2017-01-27 14:40] Montrazul commented on #115
When I create an Object it is called, yes. I dont know what is happening in the background with realm when you add a new property to the schema for already existing objects. I dont know if that calls the `init()` method again (but I guess no, because that would override the properties with default values) but for that I defined:

`let checkedDreams = RealmOptional<Bool>(true);`

So that the defaul

[2017-01-27 14:45] bigfish24 commented on #116
The issue I think is the use of `.reportIndefinitely`. You should try `.forCurrentlyOutstandingWork` instead.

The reason being when you setup a notification with the setting `.forCurrentlyOutstandingWork`, the moment that is called, the outstanding data that is waiting to download ends up being what the progress is based on.

For example if you had 100 bytes to download when you call this, then t

[2017-01-27 14:49] Montrazul commented on #116
If I do change it to `.forCurrentlyOutstandingWork` the app crashes at the line `self.notificationToken.stop()` with:

[code]

[2017-01-27 14:49] bigfish24 commented on #115
Ah, that clarifies. When you add a new property and you want to apply default values to all the existing objects, you would need to do that manually. With a standalone Realm you would do this in the migration block, but a sync Realm doesn't use this, so instead you can just run your own "block" after opening to apply changes to existing objects.

[2017-01-27 14:52] Montrazul commented on #115
Ok. Thank you for pointing that out.

[2017-01-27 14:52] #115 closed

[2017-01-27 14:53] bigfish24 commented on #116
Interesting, can you breakpoint on errors and figure out what value is `nil` that shouldn't be? I believe it does stop it automatically (@austinzheng could you please verify this comment).

[2017-01-27 14:54] Montrazul commented on #116
The notificationToken itself is nil.

[2017-01-27 14:55] bigfish24 commented on #114
Thanks for suggesting, and I agree! We will work to add this in an upcoming version.

[2017-01-27 14:57] bigfish24 commented on #116
Aha, well I guess that answers the question on whether it removes it. Austin implemented this feature, so will look for his guidance on whether we should expect this behavior. For now, just remove the line?

[2017-01-27 14:58] bigfish24 commented on #90
Are you still having issues with the latest build?

[2017-01-27 15:17] kneth commented on #72
It didn't make it into Realm Java 2.3.0. You can follow the progress in https://github.com/realm/realm-java/issues/4104. We hope to implement it soon (currently scheduled for Realm Java 2.5.0).

[2017-01-27 15:19] bigfish24 commented on #109
@ArifADS what version of the client are you using? (assuming you are still having issues?)

[2017-01-27 15:31] bigfish24 commented on #50
We didn't get this ready yet, but the current proposal would work like this:

On the server you would be able to inject custom authentication code that would be called in response to a token submitted by a client to then call out to whatever API would verify the token, for example for Twitter auth it would look like this:

You would create a JS script that extends our BaseAuthProvider class

[code

[2017-01-27 15:33] ArifADS commented on #109
@cliftonlabrum I don't think the update overwrite it, But I have not made any manual change there, but the admin token and admin accounts for website worked the same, but Realm Browser doesn't show any Realms and my clients aren't syncing but they can Log Out and Log In

@bigfish24 v2.3 on client ( I updated the client and the server at the same time but any of the client versions wanted to sync),

[2017-01-27 15:40] IvanUshakov commented on #50
Hi, @bigfish24. Would this functionality available in Developer Edition?

[2017-01-27 15:42] bigfish24 commented on #50
yes, because we recognize that our own built-in capabilities are quite limited, especially things like sending emails and that's not an area we want to focus our efforts on.

[2017-01-27 15:42] haansplosion commented on #90
Hi @bigfish24 , thanks for the reply. I waited a week or so with no response and switched to firebase so I am unsure.

[2017-01-27 15:43] #90 closed

[2017-01-27 15:44] bigfish24 commented on #109
@ArifADS can you provide server-side and client logs to show if the clients are being rejected from connecting?

[2017-01-27 15:46] bigfish24 commented on #90
@haansplosion sorry to hear that, hopefully we can win you back in the future.

[2017-01-27 15:56] ArifADS commented on #109
@bigfish24 a few days ago I was testing with a newly created SyncUser/Realm and since updating to 2.4 the sync is working, I will test now with old SyncUsers/Realms to see if it's working too now.

[2017-01-27 16:32] istx25 commented on #112
Any progress with this @morten-krogh?

[2017-01-27 16:36] istx25 commented on #111
Thanks @MattW86 for following-up. I'll assign this to @bigfish24 so he can look into this further.

[2017-01-27 16:39] TotemChris commented on #50
For planning purposes, do you think that an API will be available to change current password (not forgot pass... just plain change, with current Realm authentication) before or after this custom authenticator is implemented?  No email is required for that, and it seems simple enough using the old-new-confirm practices we've used forever.

Thanks,
-Chris

[2017-01-27 16:41] istx25 commented on #101
@molind: I've assigned this to @radu-tutueanu who should be able to look into this more. :-)

[2017-01-27 16:42] istx25 commented on #98
Seems like this issue can be closed as @teotwaki gave a rather detailed answer. Feel free to reopen if more of a discussion needs to be had or if there are follow-up questions.

[2017-01-27 16:42] #98 closed

[2017-01-27 16:43] istx25 commented on #95
Bringing attention back to @simonask's comment.

[2017-01-27 16:44] istx25 commented on #93
@ArifADS, did @stel's recommendation help?

[2017-01-27 16:45] istx25 commented on #92
@jpsim's response seems sufficient. Closing but feel free to reopen if there's any follow-up questions.

[2017-01-27 16:45] #92 closed

[2017-01-27 16:45] morten-krogh commented on #112
I will look at it shortly. Sorry about the delay.

[2017-01-27 16:47] istx25 commented on #86
@teotwaki: Would you consider your last comment a fix to this issue or a workaround?

[2017-01-27 16:50] ewerx commented on #95
The code to open the realms and write the data is in my first post above (with DispatchQueue commented back in). The code to check successful write was simply fetching objects in both realms and comparing counts (`localRealm.objects(ObjectType.self).count == syncRealm.objects(ObjectType.self).count`). Since I stopped doing the operations on a separate thread, however, I haven't been able to reprod

[2017-01-27 17:45] dsjstc commented on #22
My use-case (disconnected point-of-sale) would work best with
server-side restriction of CRUD to specified clients.  So partial sync
isn't a full solution for me.

Specific use cases:

- view-only client that has full read-only access to the entire contents
of a table.
- restricted sales client that can create, read and update its own
objects, but nobody else's.
- sales manager that can do full CR

[2017-01-27 17:53] Montrazul commented on #116
Just deleting `notificationToken.stop()` seems to work. But I get it would be better to verify if this behaviour is intentionally.

[2017-01-27 17:55] austinzheng commented on #116
Hello,

The token returned by `addProgressNotification(for:, mode:)` might correctly be `nil` in some cases (see [here](https://github.com/realm/realm-cocoa/blob/master/RealmSwift/Sync.swift#L592)), so it's best to store it as an optional and use the `?.` operator to call `stop()` on it. However, the sample code in our documentation doesn't make this clear at all, so I'll change it. Sorry for the

[2017-01-27 19:10] monajafi commented on #72
Thanks a lot and good job

[2017-01-27 19:34] bigfish24 commented on #22
@dsjstc first, this is incredibly helpful. I will definitely make sure it is shared internally. Secondly, could you describe your data model? Part of me looks at this and says there could be a way to do it today with the Realm access control capabilities.

[2017-01-27 19:37] bigfish24 commented on #22
Another thing to keep in mind, is that currently there is a limitation on the client SDK that prevents read-only synchronized Realms (even though you can set a Realm to be read-only in our permission system). We will be resolving this in the coming weeks, so this could open up a way to do it on the Realm level vs object.

[2017-01-27 19:50] bigfish24 commented on #50
@TotemChris I expect custom auth done first.

[2017-01-27 20:00] dsjstc commented on #22
Thanks Adam.  I haven't fully developed my data model because I was trying to make it go as far as I could without those capabilities.  The key elements are:

[code]

In my case, an individual seller should be able to add new sales.  It is critical that they be prevented from modifying sales after the fact.  Only managers can do that.

I also need an untrusted View client that can get a sum total

[2017-01-27 20:50] ianbradbury-bizzibody commented on #22
@bigfish24 - Firstly.  Thank you for the opportunity to give my thoughts/needs.

**Scenario 1**

3 types of user.  [Admin], [Non-Subscriber] and [Subscriber].
2 types of data.  [General Information] and [User Feedback].

[Admin]’s have full CRUD across all objects and all records.

[Non Subscriber]'s can only READ [General Information] objects - they can read all the [General Information].

[Subsc

[2017-01-27 20:56] ianbradbury-bizzibody commented on #22
@bigfish24  -  Picking up on something you mentioned.

Security via a query.

I'm not sure about security via a query.  That strikes me as potentially dangerous.

But I am interested in the idea of selective sync via a query.  In cases where security is not an issue - being able to select which objects are synced based on a query would be bloody brilliant.  (But that's another ticket)

[2017-01-27 21:53] CGrahamS opened #117 "Unable to Create Realm Object Server Admin Account"
After following the tutorial on how to [deploy](https://realm.io/docs/get-started/deployment/) a Realm Object Server onto a Digital Ocean Droplet with the Ubuntu distribution, I'm unable to register an admin account.

- When I navigate to the Realm dashboard the dashboard navbar loads for a second at the top of the browser, displaying "{{$root.globals.currentUser.provider_id}}" on the right side o

[2017-01-28 03:41] MattW86 commented on #111
Thanks.

@Montrazul I think you are assuming that login is mandatory but that's not the scenario. It's optional.

[2017-01-28 09:13] Montrazul commented on #111
It is still possible. You launch it for the first time. You have to have some kind of User, otherwise you could not sync the local realm with realm mobile platform. You can check first start with a simple boolean in the user defaults.
If it is first start just perform the following:

[code]

[2017-01-28 10:02] MattW86 opened #118 "App Level Authentication"
Hi,
ROS is able to handle multiple apps which is great. So, if a user registers to an app previously and then tries to register to another app (considering the user is not aware of the server level authentication), there will be an error. Is there a workaround for this issue?
Thanks.

[2017-01-28 10:54] MattW86 commented on #111
@Montrazul I think you are misunderstanding the potential issue here.
Let's say I,
1. launch the app for first time
2. there is no existing user, so defaults are created on device with unique primary keys
3. register to ROS, user is created so we sync defaults
4. log out and delete the app
5. re-download and launch the app
everything is fine up to this point
6. there is no existing user, so defaul